<!-- {{ config | json }} -->
<div *ngIf="config && loja">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Estoque</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- {{ f.value | json }} -->
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            Estoque
                            <span class="icon-stock pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="jumbotron text-center" [class.ativo]="config.cnf_b_usa_deposito">
                            <h3>Depósito {{
                                config.cnf_b_usa_deposito
                                ? 'ATIVO' : 'INATIVO' }}</h3>
                        </div>
                        <!-- <button type="button" class="btn btn-warning btn-block">
                            <span class="icon-question-coin pull-right" [tooltip]="config.cnf_b_usa_deposito
                                                    ? 'Entrada direto na LOJA e transferência desabilitada.' : 'Entrada no DEPÓSITO e transferência habilitada.'"
                                placement="top"></span> 
                        </button> -->
                    </div>

                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>
                                Coletor
                            </blockquote>

                            <!-- cnf_c_arq_coletor -->
                            <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_c_arq_coletor), 'has-success': fv.erro(cnf_c_arq_coletor) == ''}">
                                <label for="cnf_c_arq_coletor" class="control-label">Nome arquivo de coleta</label>
                                <input #cnf_c_arq_coletor="ngModel" type="text" class="form-control mousetrap" id="cnf_c_arq_coletor"
                                    name="cnf_c_arq_coletor" [(ngModel)]="config.cnf_c_arq_coletor" maxLength="64"
                                    onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(cnf_c_arq_coletor)" [is-valid]="fv.erro(cnf_c_arq_coletor) == ''"
                                    [msg]="fv.erro(cnf_c_arq_coletor)"></hyp-form-control-error>
                            </div>

                            <!-- cnf_c_sep_coleta -->
                            <div class="form-group">
                                <label for="cnf_c_sep_coleta" class="control-label">Separador</label>
                                <select #cnf_c_sep_coleta="ngModel" class="form-control mousetrap" id="cnf_c_sep_coleta"
                                    name="cnf_c_sep_coleta" [(ngModel)]="config.cnf_c_sep_coleta" onReturn>
                                    <option value="N">Nenhum</option>
                                    <option value="S">Espaço</option>
                                    <option value=",">Vírgula ,</option>
                                    <option value=";">Ponto e vírgula ;</option>
                                    <option value=".">Ponto .</option>
                                    <option value=":">Dois pontos :</option>
                                    <option value="|">Pipe |</option>
                                </select>
                            </div>

                            <!-- cnf_b_sep_coleta -->
                            <div class="form-group">
                                <label for="cnf_b_sep_coleta"></label>
                                <div class="checkbox">
                                    <label>
                                        <input #pro_b_promocao="ngModel" type="checkbox" id="cnf_b_sep_coleta" name="cnf_b_sep_coleta"
                                            [(ngModel)]="config.cnf_b_sep_coleta" onReturn> Utilizar separadores na leitura
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6" *ngIf="!config.cnf_b_sep_coleta">
                                    <!-- cnf_i_inicio_barcode_coleta -->
                                    <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_i_inicio_barcode_coleta, 'inicioBarColeta'), 'has-success': fv.erro(cnf_i_inicio_barcode_coleta, 'inicioBarColeta') == ''}">
                                        <label for="cnf_i_inicio_barcode_coleta" class="control-label">Início
                                            barcode</label>
                                        <input #cnf_i_inicio_barcode_coleta="ngModel" type="text" integer class="form-control mousetrap text-right"
                                            id="cnf_i_inicio_barcode_coleta" name="cnf_i_inicio_barcode_coleta"
                                            [ngModel]="config.cnf_i_inicio_barcode_coleta" [min]="1" [max]="20"
                                            onReturn>
                                        <hyp-form-control-error [is-error]="fv.erro(cnf_i_inicio_barcode_coleta, 'inicioBarColeta')"
                                            [is-valid]="fv.erro(cnf_i_inicio_barcode_coleta, 'inicioBarColeta') == ''"
                                            [msg]="fv.erro(cnf_i_inicio_barcode_coleta, 'inicioBarColeta')"></hyp-form-control-error>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <!-- cnf_i_larg_barcode_coleta -->
                                    <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_i_larg_barcode_coleta, 'largBarColeta'), 'has-success': fv.erro(cnf_i_larg_barcode_coleta, 'largBarColeta') == ''}">
                                        <label for="cnf_i_larg_barcode_coleta" class="control-label">Largura
                                            barcode</label>
                                        <input #cnf_i_larg_barcode_coleta="ngModel" type="text" integer class="form-control mousetrap text-right"
                                            id="cnf_i_larg_barcode_coleta" name="cnf_i_larg_barcode_coleta" [ngModel]="config.cnf_i_larg_barcode_coleta"
                                            [min]="1" [max]="15" onReturn>
                                        <hyp-form-control-error [is-error]="fv.erro(cnf_i_larg_barcode_coleta, 'largBarColeta')"
                                            [is-valid]="fv.erro(cnf_i_larg_barcode_coleta, 'largBarColeta') == ''"
                                            [msg]="fv.erro(cnf_i_larg_barcode_coleta, 'largBarColeta')"></hyp-form-control-error>
                                    </div>
                                </div>

                                <div class="col-xs-6" *ngIf="!config.cnf_b_sep_coleta">
                                    <!-- cnf_i_inicio_qtde_coleta -->
                                    <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_i_inicio_qtde_coleta, 'inicioQtdeColeta'), 'has-success': fv.erro(cnf_i_inicio_qtde_coleta, 'inicioQtdeColeta') == ''}">
                                        <label for="cnf_i_inicio_qtde_coleta" class="control-label">Início qtde</label>
                                        <input #cnf_i_inicio_qtde_coleta="ngModel" type="text" integer class="form-control mousetrap text-right"
                                            id="cnf_i_inicio_qtde_coleta" name="cnf_i_inicio_qtde_coleta" [ngModel]="config.cnf_i_inicio_qtde_coleta"
                                            [min]="1" [max]="20" onReturn>
                                        <hyp-form-control-error [is-error]="fv.erro(cnf_i_inicio_qtde_coleta, 'inicioQtdeColeta')"
                                            [is-valid]="fv.erro(cnf_i_inicio_qtde_coleta, 'inicioQtdeColeta') == ''"
                                            [msg]="fv.erro(cnf_i_inicio_qtde_coleta, 'inicioQtdeColeta')"></hyp-form-control-error>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <!-- cnf_i_larg_qtde_coleta -->
                                    <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_i_larg_qtde_coleta, 'largQtdeColeta'), 'has-success': fv.erro(cnf_i_larg_qtde_coleta, 'largQtdeColeta') == ''}">
                                        <label for="cnf_i_larg_qtde_coleta" class="control-label">Largura qtde</label>
                                        <input #cnf_i_larg_qtde_coleta="ngModel" type="text" integer class="form-control mousetrap text-right"
                                            id="cnf_i_larg_qtde_coleta" name="cnf_i_larg_qtde_coleta" [ngModel]="config.cnf_i_larg_qtde_coleta"
                                            [min]="1" [max]="15" onReturn>
                                        <hyp-form-control-error [is-error]="fv.erro(cnf_i_larg_qtde_coleta, 'largQtdeColeta')"
                                            [is-valid]="fv.erro(cnf_i_larg_qtde_coleta, 'largQtdeColeta') == ''" [msg]="fv.erro(cnf_i_larg_qtde_coleta, 'largQtdeColeta')"></hyp-form-control-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>
                                Emissão de cupons
                            </blockquote>

                            <!-- cnf_e_via_mov_estoque -->
                            <div class="form-group">
                                <label for="cnf_e_via_mov_estoque" class="control-label">Cupons movimento ( via caixa )</label>
                                <select #cnf_e_via_mov_estoque="ngModel" class="form-control mousetrap" id="cnf_e_via_mov_estoque"
                                    name="cnf_e_via_mov_estoque" [(ngModel)]="config.cnf_e_via_mov_estoque" onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
        </div>
    </form>
</div>