.icon-question-coin {
    color: CornflowerBlue ;
}

.well.deposito button {
    font-weight: bold;
    margin-bottom: 10px;
}

.well button .icon-question-coin {
    color: red;
}

.jumbotron.ativo {
    background-color: LimeGreen; 
    color: white;
}

.jumbotron h3 {
    font-weight: bold;
    color: gray;
}

.jumbotron.ativo h3 {
    color: white;
}

