<!-- editing: {{ editing }} -->
<!-- {{ produtos | json }} -->
<div *ngIf="produtos && config && pag && grupos">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Estoque</li>
        <li class="active">Inventário&nbsp;
            <span class="badge" (click)="onSetFilter('')">{{ pag.getTotal() }}
                <span class="icon-filter" *ngIf="pag.filtered"></span>
            </span>
        </li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Inventário
                        <span class="icon-bullets pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-filter pull-right"></span>
                        <div class="form-group padding">
                            <label for="filter">Filtro [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="filter" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Nome, Cód ou Barcode."
                                    [(ngModel)]="buffer" (keyup.enter)="onSetFilter(buffer)" [select]="onInventarioFocusEvent">
                                <!-- (blur)="onRefresh()" -->
                                <!-- <span class="input-group-addon">
                                    <span class="fa fa-filter"></span>
                                </span> -->
                            </div>
                        </div>
                    </span>
                    <!-- <button type="button" class="list-group-item" (click)="onUnidadesClick()">
                        Unidades
                        <span class="icon-size pull-right"></span>
                    </button> -->
                    <button type="button" class="list-group-item active">
                        Relatórios
                        <span class="icon-printer pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRelatorioProdutosClick('produtos')">
                        Posição de estoque
                        <span class="icon-text pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRelatorioProdutosClick('produtos_cola')">
                        Alertas
                        <span class="icon-text pull-right"></span>
                    </button>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" [class.active]="tab == '*'">
                            <a (click)="onTabChange('*')">
                                Todos
                            </a>
                        </li>
                        <li role="presentation" [class.active]="tab == '<'">
                            <a (click)="onTabChange('<')">
                                Alertas mínimos
                            </a>
                        </li>
                        <li role="presentation" [class.active]="tab == '>'">
                            <a (click)="onTabChange('>')">
                                Alertas máximos
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="default-cursor"></th>
                                <th class="default-cursor"></th>
                                <!-- <th class="text-center" (click)="pag.setSortingField('pro_b_ativo')" tooltip="Ativo" placememt="bottom">Ati&nbsp;
                                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'pro_b_ativo'"></i>
                                        </th> -->
                                <th (click)="pag.setSortingField('pro_i_cod')">Código &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_i_cod'"></i>
                                </th>
                                <th (click)="pag.setSortingField('pro_c_barcode')">Barcode/adicionais &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_c_barcode'"></i>
                                </th>
                                <th (click)="pag.setSortingField('pro_c_produto')">Produto/curto &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_c_produto'"></i>
                                </th>
                                <th (click)="pag.setSortingField('pro_c_grupo')">Grupo &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_c_grupo'"></i>
                                </th>
                                <th>Preço&nbsp;custo/médio</th>
                                <th>Preço&nbsp;venda</th>
                                <th>Qtde&nbsp;depósito</th>
                                <th>Qtde&nbsp;loja</th>
                                <th>Qtde&nbsp;total</th>
                                <th>Estoque&nbsp;min</th>
                                <th>Estoque&nbsp;máx</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let produto of produtos | paginate: pag.getPagInst()" [class.inativo]="!produto.pro_b_ativo">
                                <td>
                                    <img [src]="onGaleriaGet(produto.pro_c_img)" alt="" class="img-responsive" (click)="onImgClick(produto.pro_c_img)">
                                </td>

                                <td>
                                    <div [ngClass]="{ 'icon-checked': produto.pro_b_ativo, 'icon-unchecked': !produto.pro_b_ativo}"></div>
                                </td>

                                <td>{{ produto.pro_i_cod }}</td>

                                <td>
                                    {{ produto.pro_c_barcode }}
                                    <small *ngIf="produto.pro_i_num_barcodes">
                                        <br>+ {{ produto.pro_i_num_barcodes }}
                                    </small>
                                </td>

                                <td>
                                    {{ produto.pro_c_produto }}
                                    <small>
                                        <br>{{ produto.pro_c_produto_curto }}
                                    </small>
                                </td>

                                <td>
                                    <div *ngIf="editing == produto.pro_pk;else grupoReadOnly">
                                        <!-- pro_fk_grupo -->
                                        <select class="form-control mousetrap" [(ngModel)]="produto.pro_fk_grupo"
                                            onReturn>
                                            <!-- <option value="">-- Selecione grupo --</option> -->
                                            <option *ngFor="let grupo of grupos" [value]="grupo.gru_pk">{{
                                                grupo.gru_c_grupo }}</option>
                                        </select>
                                    </div>
                                    <ng-template #grupoReadOnly>
                                        {{ produto.pro_c_grupo }}
                                    </ng-template>
                                </td>

                                <td class="text-right">
                                    {{ produto.pro_f_preco_custo | number:'1.2-2' }}
                                    <small>
                                        <br>{{ produto.pro_f_preco_custo_medio | number:'1.2-2' }}
                                    </small>
                                </td>

                                <td class="text-right">
                                    <div *ngIf="editing == produto.pro_pk;else precoVendaReadOnly">
                                        <!-- {{ produto.pro_f_preco_venda }} -->
                                        <input type="number" class="form-control text-right" placeholder="{{ produto.pro_pl_preco_venda }}"
                                            [(ngModel)]="produto.pro_f_preco_venda" onReturns>
                                    </div>
                                    <ng-template #precoVendaReadOnly>
                                        {{ produto.pro_pl_preco_venda | number:'1.2-2' }}
                                    </ng-template>
                                </td>

                                <td class="text-right">
                                    <div *ngIf="editing == produto.pro_pk;else qtdeEstDepReadOnly">
                                        <!-- {{ produto.pro_f_est_qtde_deposito }} -->
                                        <input type="number" class="form-control text-right" [class.alerta]="produto.pro_pl_est_qtde_deposito < 0"
                                            placeholder=" {{ produto.pro_pl_est_qtde_deposito }}" [(ngModel)]="produto.pro_f_est_qtde_deposito"
                                            onReturns>
                                    </div>
                                    <ng-template #qtdeEstDepReadOnly>
                                        <div class="ro" [class.alerta]="produto.pro_pl_est_qtde_deposito < 0">
                                            {{ produto.pro_pl_est_qtde_deposito }}
                                        </div>
                                    </ng-template>
                                </td>

                                <td class="text-right">
                                    <div *ngIf="editing == produto.pro_pk;else qtdeEstLojReadOnly">
                                        <!-- {{ produto.pro_f_est_qtde_loja }} -->
                                        <input type="number" class="form-control text-right" [class.alerta]="produto.pro_pl_est_qtde_loja < 0"
                                            placeholder="{{ produto.pro_pl_est_qtde_loja }}" [(ngModel)]="produto.pro_f_est_qtde_loja"
                                            onReturns>
                                    </div>
                                    <ng-template #qtdeEstLojReadOnly>
                                        <div class="ro" [class.alerta]="produto.pro_pl_est_qtde_loja < 0">
                                            {{ produto.pro_pl_est_qtde_loja }}
                                        </div>
                                    </ng-template>
                                </td>

                                <td class="text-right">
                                    <strong>{{ produto.pro_f_est_qtde_total }}</strong>
                                </td>

                                <td class="text-right">
                                    <div *ngIf="editing == produto.pro_pk;else estMinReadOnly">
                                        <!-- {{ produto.pro_f_est_min }} -->
                                        <!-- {{ produto.pro_f_est_qtde_total }} < {{ produto.pro_pl_est_min }} -->
                                        <input type="number" class="form-control text-right" [class.alerta]="produto.pro_b_est_min"
                                            placeholder="{{ produto.pro_pl_est_min }}" [(ngModel)]="produto.pro_f_est_min"
                                            onReturn>
                                    </div>
                                    <ng-template #estMinReadOnly>
                                        <span class="ro" [class.alerta]="produto.pro_b_est_min">{{
                                            produto.pro_pl_est_min }}</span>
                                    </ng-template>
                                </td>

                                <td class="text-right">
                                    <div *ngIf="editing == produto.pro_pk;else estMaxReadOnly">
                                        <!-- {{ produto.pro_f_est_max }} -->
                                        <!-- {{ produto.pro_f_est_qtde_total }} < {{ produto.pro_pl_est_max }} && {{ pro_pl_est_max }} > 0 -->
                                        <input type="number" class="form-control text-right" [class.alerta]="produto.pro_b_est_max"
                                            placeholder="{{ produto.pro_pl_est_max }}" [(ngModel)]="produto.pro_f_est_max"
                                            onReturn>
                                    </div>
                                    <ng-template #estMaxReadOnly>
                                        <span class="ro" [class.alerta]="produto.pro_b_est_max">{{
                                            produto.pro_pl_est_max }}</span>
                                    </ng-template>
                                </td>

                                <td>
                                    <div class="btn-toolbar pull-right" role="toolbar">
                                        <button type="button" class="btn btn-success" tooltip="Confirmar" placememt="left"
                                            (click)="onProdutoSaveClick(produto)" *ngIf="editing == produto.pro_pk">
                                            <span class="icon-check"></span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" tooltip="Cancelar" placememt="left"
                                            (click)="editing=0;onRefresh()" *ngIf="editing == produto.pro_pk">
                                            <span class="icon-cancel"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" tooltip="Editar" placememt="left"
                                            (click)="editing = produto.pro_pk" *ngIf="editing == 0">
                                            <span class="icon-edit"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="padding" *ngIf="produtos.length==0">
                        <div class="alert alert-warning" role="alert">Nenhum produto encontrado.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="text-right padding">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel=""
                            nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>