img {
  height: 48px;
  cursor: pointer;
}
  
td a {
  cursor: pointer;
}

small {
  color: gray;
  font-style: italic;
}

.alerta {
  // font-weight: bold;
  // font-size: 180%;
  background-color: yellow !important;
  color: red !important;
  font-weight: bold;
}

.alerta.ro {
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: 10%;
}
  
table tr td strong {
  font-size: 130%;
}

ul.nav-tabs {
  cursor: pointer;
}
