<ul class="nav nav-tabs" *ngIf="operador && turno">
    <!-- {{ turno | json }} -->
    <li role="presentation" class="disabled">
        <a>Movimento</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_turno_pdv">
        <a [routerLink]="['/movimento/turno']">
            <span class="icon-time"></span>&nbsp;Turno
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_caixa_pdv && turno.tur_pk > 0">
        <a [routerLink]="['/movimento/caixa']">
            <span class="icon-money-bag"></span>&nbsp;Seu caixa
        </a>
    </li>
</ul>
<router-outlet></router-outlet>