<!-- {{ comanda | json }} -->
<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Comandas</li>
    <li class="active">Lcto</li>
</ol>

<div class="row">
    <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <div class="list-group sidebar">
            <span *ngIf="dash.status;else dashoff">
                <button type="button" class="list-group-item active">
                    Lcto comandas
                    <span class="icon-list pull-right"></span>
                </button>
                <button type="button" class="list-group-item" (click)="dash.toggle()" *ngIf="config">
                    Reduzir&nbsp;[&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                    <span class="icon-chevron-l pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/home']" class="list-group-item">
                    Home
                    <span class="icon-home pull-right"></span>
                </button>
                <button type="button" class="list-group-item" (click)="onSelecionarComandaClick()" *ngIf="config && nroComanda == 0">
                    Selecionar comanda&nbsp;[&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]
                    <span class="icon-search pull-right"></span>
                </button>
                <button type="button" class="list-group-item" (click)="nroComanda = 0;" *ngIf="nroComanda > 0">
                    Voltar
                    <span class="icon-undo2 pull-right"></span>
                </button>
                <!-- <button type="button" class="list-group-item" (click)="onConfirmarClick()">
                    Confirmar&nbsp;[&nbsp;{{ config.cnf_c_hotkey_concluir }}&nbsp;]
                    <span class="icon-check pull-right"></span>
                </button> -->
            </span>

            <ng-template #dashoff>
                <button type="button" class="list-group-item active" (click)="dash.toggle()">
                    <span class="icon-chevron-r"></span>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <!-- <div class="row" *ngIf="nroComanda > 0;else nenhumaComanda"> -->
        <div class="row" [hidden]="nroComanda == 0">
            <div class="col-sm-6">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a>
                            Comanda
                            <span class="nro">{{ nroComanda }}</span>&nbsp;
                            <span class="icon-cancel" (click)="nroComanda = 0;"></span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled pull-right" *ngIf="comanda">
                        <button type="button" class="btn btn-default" [disabled]="comanda.com_i_num_itens == 0" [routerLink]="[ '/comandas/consulta/consulta', comanda.com_i_nro ]">
                            <span class="icon-search"></span>&nbsp;
                            {{ comanda.com_i_num_itens }} ite{{ comanda.com_i_num_itens == 1 ? 'm' : 'ns' }}
                        </button>
                    </li>
                </ul>
                <hyp-sel-produto [thumbs]="true" (onSelected)="onProdutoSel($event)"></hyp-sel-produto>
            </div>

            <div class="col-sm-6">
                <hyp-pedido tipo="C" [nro]="nroComanda"></hyp-pedido>
            </div>
        </div>

        <!-- <ng-template #nenhumaComanda> -->
        <div class="row" [hidden]="nroComanda > 0">
            <div class="row">
                <div class="col-sm-6">
                    <div class="jumbotron">
                        <button type="button" class="btn btn-lg btn-block btn-success" (click)="onSelecionarComandaClick()"
                            *ngIf="config">
                            Selecionar comanda&nbsp;[&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]
                            <span class="icon-search pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- </ng-template> -->
    </div>
</div>