<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Turnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <br />{{ intervalo | json }} -->
  <!-- 
  <ion-list>
    <ion-label>Final: <strong>{{ intervalo.data.final }}</strong></ion-label>
  </ion-list>
  -->
  <ion-row *ngIf="intervalo.data;else semIntervalo">
    <ion-col>
      <div text-center>
        <ion-label>Início: <strong>{{ intervalo.data.inicio | date: 'dd/MM/yyyy' }}</strong></ion-label>
      </div>
    </ion-col>
    <ion-col>
      <div text-center>
        <ion-label>Final: <strong>{{ intervalo.data.final | date: 'dd/MM/yyyy' }}</strong></ion-label>
      </div>
    </ion-col>
    <ion-col size="auto">
      <ion-button (click)="onGetPeriodoClick()">
        <ion-icon expand="block" slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ng-template #semIntervalo>
    <ion-list margin>
      <ion-button expand="block" shape="round" color="primary" fill="solid" (click)="onGetPeriodoClick()">Seleciona
        período</ion-button>
    </ion-list>
  </ng-template>
</ion-content>