<!-- {{ config | json }} -->
<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Mesas</li>
    <li class="active">Caixa</li>
    <li class="active">Mapa</li>
</ol>

<div class="row">
    <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <div class="list-group sidebar">
            <span *ngIf="dash.status;else dashoff">
                <button type="button" class="list-group-item active">
                    Caixa mesas
                    <span class="icon-money pull-right"></span>
                </button>
                <button type="button" class="list-group-item" (click)="dash.togle()" *ngIf="config">
                    Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                    <span class="icon-chevron-l pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/home']" class="list-group-item">
                    Home
                    <span class="icon-home pull-right"></span>
                </button>
                <span class="list-group-item" *ngIf="config">
                    <span class="icon-search pull-right"></span>
                    <div class="form-group padding">
                        <label for="gruProcura">Procura [&nbsp;{{ config.cnf_c_hotkey_procurar }}&nbsp;]</label>
                        <div id="gruProcura" class="input-group">
                            <input type="text" class="form-control mousetrap" placeholder="Mesa" [(ngModel)]="buffer" [focus]="onMesasConsultaProcuraFocusEvent"
                                (keyup.enter)="onProcurarClick(buffer)">
                            <span class="input-group-addon">
                                <span class="icon-search"></span>
                            </span>
                        </div>
                    </div>
                </span>
                <button type="button" (click)="onMapaRefresh()" class="list-group-item">
                    Atualiza
                    <span class="icon-refresh pull-right"></span>
                </button>
            </span>

            <ng-template #dashoff>
                <button type="button" class="list-group-item active" (click)="dash.toggle()">
                    <span class="icon-chevron-r"></span>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <div *ngIf="caixa && caixa.cai_pk > 0;else caixaFechado">
            <mapa-mesas excecoes="L" emptyMsg="Nenhuma mesa em uso encontrada !!!" [inicio]="mesaInicial" [final]="mesaFinal" (onClick)="onMesaClick($event)"
                *ngIf="mesaInicial && mesaFinal"></mapa-mesas>
        </div>

        <ng-template #caixaFechado>
            <div class="row">
                <div class="col-xs-6">
                    <div class="jumbotron">
                        <button type="button" class="btn btn-lg btn-block btn-success" [routerLink]="['/movimento/caixa']">
                            Abrir caixa
                            <span class="icon-money pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>