<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Mesas</li>
    <li>
        <a [routerLink]="['/mesas/lcto/mapa']">Lcto</a>
    </li>
    <li class="active">Novo</li>
</ol>

<div class="row">
    <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <div class="list-group sidebar">
            <span *ngIf="dash.status;else dashoff">
                <button type="button" class="list-group-item active">
                    Lcto mesas
                    <span class="icon-table pull-right"></span>
                </button>
                <button type="button" class="list-group-item" (click)="dash.toggle()" *ngIf="config">
                    Reduzir&nbsp;[&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                    <span class="icon-chevron-l pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/home']" class="list-group-item">
                    Home
                    <span class="icon-home pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/mesas/lcto/mapa']" class="list-group-item">
                    Voltar
                    <span class="icon-undo2 pull-right"></span>
                </button>
            </span>

            <ng-template #dashoff>
                <button type="button" class="list-group-item active" (click)="dash.toggle()">
                    <span class="icon-chevron-r"></span>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <div class="row">
            <div class="col-sm-6">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active" *ngIf="nroMesa">
                        <a>
                            Mesa
                            <span class="nro">{{ nroMesa }}</span>&nbsp;
                            <span class="icon-close" (click)="onCancelarClick()"></span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled pull-right" *ngIf="vendedor">
                        <a>
                            Garçom:
                            <strong>{{ vendedor.ope_c_operador }}</strong>
                        </a>
                    </li>
                </ul>

                <hyp-sel-produto [thumbs]="true" (onSelected)="onProdutoSel($event)"></hyp-sel-produto>
            </div>

            <div class="col-sm-6" *ngIf="nroMesa && vendedor">
                <hyp-pedido tipo="M" [nro]="nroMesa" [idVendedor]="vendedor.ope_pk"></hyp-pedido>
            </div>
        </div>
    </div>
</div>