/* 
.pedido {
    background-color: white;
    position: sticky;
    top: 60px;
    margin-bottom: 60px;
    height: 500px;
    right: 0px;
    overflow: auto;
}

.wrapper {
    position: relative;
    top: 0px;
    left: 0px;
}

.pedido {
    position: absolute;
    top: -110px;
}
*/
