@import '../../../assets/styles/_config';

.modal-header {
    background-color: $bkcolor;
    color: $fgcolor;
}

.modal-header h4 {
    display: inline;
}

.modal-header .badge {
    background-color: white;
    color: black;
}

.modal-header button.close {
    color: white;
    opacity: 0.7;
}

.btn-group-vertical {
    width: 100%;
}

.btn-group-vertical .btn.btn-default .icon,
.btn-group-vertical .btn.btn-default .fa {
    color: silver !important;
}

img {
    cursor: pointer;
}
