<div class="modal-header text-center">
    <h4 class="modal-title">
        Saldo da mesa {{ nroMesa }}
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <pdv-saldo-mesa [nro]="nroMesa" (onSuccess)="onSaldoSuccess($event)"></pdv-saldo-mesa>
</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->