<div *ngIf="mesas">
    <div class="modal-header text-center">
        <h4 class="modal-title">
            Selecione mesa
        </h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="mesas.length > 0;else nenhumaMesa">
            <!-- mesa -->
            <div class="form-group" [ngClass]="{'has-error': mesa.invalid, 'has-success': mesa.valid}">
                <!-- <label for="mesa" class="control-label">Mesa</label> -->
                <select #mesa="ngModel" class="form-control mousetrap" id="mesa" name="mesa" [(ngModel)]="nroMesa" required onReturn>
                    <option value="">-- Selecione mesa --</option>
                    <option *ngFor="let mesa of mesas" [value]="mesa.mes_i_nro">Mesa {{ mesa.mes_i_nro }}</option>
                </select>
                <hyp-form-control-error [is-error]="mesa.invalid" [is-valid]="mesa.valid"></hyp-form-control-error>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-block btn-default" (click)="bsModalRef.hide()">
                        Cancelar
                        <span class="icon-cancel pull-left"></span>
                    </button>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                        Confirmar
                        <span class="icon-check pull-right"></span>
                    </button>
                </div>
            </div>
        </form>

        <ng-template #nenhumaMesa>
            <div class="alert alert-warning">
                Nenhuma mesa disponível.
            </div>
        </ng-template>

        <!-- 
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
        </div> 
    -->
    </div>
</div>