<div class="well" *ngIf="auth">
  <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div
      class="form-group"
      [ngClass]="{ 'has-error': fv.badTouch(cod), 'has-success': cod.valid }"
    >
      <input
        #cod="ngModel"
        type="text"
        class="form-control mousetrap"
        id="cod"
        name="cod"
        placeholder="Código do usuário"
        [(ngModel)]="auth.cod"
        [focus]="onLoginFocusEvent"
        integer
        required
        onReturn
      />
      <hyp-form-control-error
        [is-error]="fv.badTouch(cod)"
        [is-valid]="cod.valid"
      ></hyp-form-control-error>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        'has-error': fv.badTouch(senha),
        'has-success': senha.valid
      }"
    >
      <input
        #senha="ngModel"
        type="password"
        class="form-control mousetrap"
        id="senha"
        name="senha"
        placeholder="Senha de acesso"
        [(ngModel)]="auth.senha"
        maxlength="10"
        required
        onReturn
      />
      <hyp-form-control-error
        [is-error]="fv.badTouch(senha)"
        [is-valid]="senha.valid"
      ></hyp-form-control-error>
    </div>

    <hr />

    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <button
          type="submit"
          class="btn btn-success icon-check btn-block"
          [disabled]="f.invalid"
        >
          &nbsp;Confirmar
        </button>
      </div>
    </div>
    <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
  </form>
</div>
