<!-- {{ config | json }} -->
<div *ngIf="config && loja">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Backup</li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Backup
                        <span class="icon-floppy pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <!-- <button type="button" class="list-group-item" (click)="onBackupClick()">
                        Backup
                        <span class="icon-floppy pull-right"></span>
                    </button> -->
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-6">
                    <div class="jumbotron">
                        <blockquote>
                            Último backup
                            <small *ngIf="!config.cnf_dt_sync">Não encontrado.</small>
                            <small *ngIf="config.cnf_dt_sync">{{ config.cnf_dt_sync | date: 'medium' }}</small>
                        </blockquote>
                        <button type="button" class="btn btn-lg btn-block btn-success" (click)="onBackupClick()">
                            Iniciar backup
                            <span class="icon-floppy pull-right"></span>
                        </button>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="alert alert-info" role="alert">
                        <span class="icon-info-coin"></span>&nbsp;
                        Um backup é realizado automaticamente no fechamento de cada turno.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>