<div *ngIf="terminal && loja">
    <div class="modal-header text-center">
        <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
            <span class="icon-refresh"></span>
        </button> -->
        <h4 class="modal-title">
            {{ caption }}
            <!-- <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}</div> -->
        </h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <!-- loja: {{ loja | json }} -->
        <!-- {{ tab }} -->
        <ul class="nav nav-tabs">
            <li role="presentation" [class.active]="tab == 'ger'">
                <a (click)="tab = 'ger';">Geral</a>
            </li>
            <li role="presentation" [class.active]="tab == 'mes'" *ngIf="!novo && loja.loj_b_mod_mesas">
                <a (click)="tab = 'mes';">Mesas</a>
            </li>
        </ul>

        <div [ngSwitch]="tab">
            <div *ngSwitchCase="'mes'">
                <form novalidate #f="ngForm" (ngSubmit)="onSubmitMesas(f)">
                    <!-- <blockquote>Informações gerais</blockquote> -->
                    <div class="form-group">
                        <label for="ter_b_mes_sel_operador"></label>
                        <div class="checkbox">
                            <label>
                                <input #ter_b_mes_sel_operador="ngModel" type="checkbox" id="ter_b_mes_sel_operador"
                                    name="ter_b_mes_sel_operador" [ngModel]="terminal.ter_b_mes_sel_operador" onReturn>
                                Selecionar operador do lançamento
                            </label>
                        </div>
                    </div>

                    <blockquote>
                        Intervalo de mesas&nbsp;
                        <span class="icon-question-coin" tooltip='Substituem correspondentes em CONFIGURAÇÕES GERAIS nesse terminal.'
                            placement="top"></span>
                    </blockquote>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- ter_i_mes_inicial -->
                            <div class="form-group" [ngClass]="{'has-error': fv.erro(ter_i_mes_inicial, 'inicio'), 'has-success': fv.erro(ter_i_mes_inicial, 'inicio') == ''}">
                                <label for="ter_i_mes_inicial" class="control-label">Mesa inicial</label>
                                <input #ter_i_mes_inicial="ngModel" type="number" class="form-control mousetrap text-right"
                                    id="ter_i_mes_inicial" name="ter_i_mes_inicial" [ngModel]="terminal.ter_i_mes_inicial"
                                    [select]="onConfigMesasFocusEvent" required [min]="0" onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(ter_i_mes_inicial, 'inicio')" [is-valid]="fv.erro(ter_i_mes_inicial, 'inicio') == ''"
                                    [msg]="fv.erro(ter_i_mes_inicial, 'inicio')"></hyp-form-control-error>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- ter_i_mes_final -->
                            <div class="form-group" [ngClass]="{'has-error': fv.erro(ter_i_mes_final, 'final'), 'has-success': fv.erro(ter_i_mes_final, 'final') == ''}">
                                <label for="ter_i_mes_final" class="control-label">Mesa final</label>
                                <input #ter_i_mes_final="ngModel" type="number" class="form-control mousetrap text-right"
                                    id="ter_i_mes_final" name="ter_i_mes_final" [ngModel]="terminal.ter_i_mes_final"
                                    required [min]="0" onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(ter_i_mes_final, 'final')" [is-valid]="fv.erro(ter_i_mes_final, 'final') == ''"
                                    [msg]="fv.erro(ter_i_mes_final, 'final')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row padding">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-block btn-default" (click)="bsModalRef.hide()">
                                Cancelar
                                <span class="icon-chevron-l pull-left"></span>
                            </button>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                                Salvar
                                <span class="icon-check pull-right"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngSwitchDefault>
                <form novalidate #f="ngForm" (ngSubmit)="onSubmitGeral(f)">
                    <!-- <blockquote>Informações gerais</blockquote> -->
                    <div class="row padding">
                        <div class="col-sm-3">
                            <!-- ter_c_terminal -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(ter_c_terminal, 'terminal'), 'has-success': fv.erro(ter_c_terminal, 'terminal')==''}">
                                <label for="ter_c_terminal" class="control-label">Nome</label>
                                <input #ter_c_terminal="ngModel" type="text" class="form-control mousetrap" id="ter_c_terminal"
                                    name="ter_c_terminal" [ngModel]="terminal.ter_c_terminal" [focus]="onTerminaisEditModalFocusEvent"
                                    required maxLength="20" onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(ter_c_terminal, 'terminal')" [is-valid]="fv.erro(ter_c_terminal, 'terminal')==''"
                                    [msg]="fv.erro(ter_c_terminal, 'terminal')"></hyp-form-control-error>
                            </div>

                            <!-- ter_e_tipo -->
                            <div class="form-group" [ngClass]="{'has-error': ter_e_tipo.invalid, 'has-success': ter_e_tipo.valid}">
                                <label for="ter_e_tipo" class="control-label">Tipo</label>
                                <select #ter_e_tipo="ngModel" class="form-control mousetrap" id="ter_e_tipo" name="ter_e_tipo"
                                    [(ngModel)]="terminal.ter_e_tipo" required onReturn>
                                    <option value="">-- Selecione --</option>
                                    <option value="C">Computador</option>
                                    <option value="P">Portátil</option>
                                    <option value="M">Microterminal</option>
                                    <option value="K">Catraca</option>
                                </select>
                                <hyp-form-control-error [is-error]="ter_e_tipo.invalid" [is-valid]="ter_e_tipo.valid"></hyp-form-control-error>
                            </div>

                            <!-- ter_c_ip -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(ter_c_ip, 'ip'), 'has-success': fv.erro(ter_c_ip, 'ip')==''}">
                                <label for="ter_c_ip" class="control-label">IP</label>
                                <input #ter_c_ip="ngModel" type="text" class="form-control mousetrap" id="ter_c_ip"
                                    name="ter_c_ip" [ngModel]="terminal.ter_c_ip" maxLength="15" required onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(ter_c_ip, 'ip')" [is-valid]="fv.erro(ter_c_ip, 'ip')==''"
                                    [msg]="fv.erro(ter_c_ip, 'ip')"></hyp-form-control-error>
                            </div>

                            <!-- ter_b_ativo -->
                            <div class="form-group">
                                <label for="ter_b_ativo"></label>
                                <div class="checkbox">
                                    <label>
                                        <input #ter_b_ativo="ngModel" type="checkbox" id="ter_b_ativo" name="ter_b_ativo"
                                            [ngModel]="terminal.ter_b_ativo" onReturn> Ativo
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="well">
                                <blockquote>
                                    Balança
                                </blockquote>

                                <!-- ter_c_ip_balanca -->
                                <div class="form-group" [ngClass]="{ 'has-error': fv.erro(ter_c_ip_balanca, 'ipBalanca'), 'has-success': fv.erro(ter_c_ip_balanca, 'ipBalanca')==''}">
                                    <label for="ter_c_ip_balanca" class="control-label">IP</label>
                                    <input #ter_c_ip_balanca="ngModel" type="text" class="form-control mousetrap" id="ter_c_ip_balanca"
                                        name="ter_c_ip_balanca" [ngModel]="terminal.ter_c_ip_balanca" maxLength="15"
                                        onReturn>
                                    <hyp-form-control-error [is-error]="fv.erro(ter_c_ip_balanca, 'ipBalanca')"
                                        [is-valid]="fv.erro(ter_c_ip_balanca, 'ipBalanca')==''" [msg]="fv.erro(ter_c_ip_balanca, 'ipBalanca')"></hyp-form-control-error>
                                </div>

                                <!-- ter_i_porta_balanca -->
                                <div class="form-group" [ngClass]="{ 'has-error': fv.erro(ter_i_porta_balanca, 'portaBalanca'), 'has-success': fv.erro(ter_i_porta_balanca, 'portaBalanca')==''}">
                                    <label for="ter_i_porta_balanca" class="control-label">Porta</label>
                                    <input #ter_i_porta_balanca="ngModel" type="text" integer class="form-control mousetrap text-right"
                                        id="ter_i_porta_balanca" name="ter_i_porta_balanca" [ngModel]="terminal.ter_i_porta_balanca"
                                        required onReturn>
                                    <hyp-form-control-error [is-error]="fv.erro(ter_i_porta_balanca, 'portaBalanca')"
                                        [is-valid]="fv.erro(ter_i_porta_balanca, 'portaBalanca')==''" [msg]="fv.erro(ter_i_porta_balanca, 'portaBalanca')"></hyp-form-control-error>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="well">
                                <blockquote>
                                    Pontos de impressão&nbsp;
                                    <span class="icon-question-coin" tooltip='Substituem correspondentes em CONFIGURAÇÕES GERAIS nesse terminal.'
                                        placement="top"></span>
                                </blockquote>

                                <!-- ter_fk_imp_producao -->
                                <div class="form-group">
                                    <label for="ter_fk_imp_producao" class="control-label">Impressora produção</label>
                                    <select #ter_fk_imp_producao="ngModel" class="form-control mousetrap" id="ter_fk_imp_producao"
                                        name="ter_fk_imp_producao" [(ngModel)]="terminal.ter_fk_imp_producao" onReturn>
                                        <option value="">-- Buscar em Configurações gerais --</option>
                                        <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{
                                            impressora.imp_c_impressora }}</option>
                                    </select>
                                </div>

                                <!-- ter_fk_imp_despacho -->
                                <div class="form-group" *ngIf="loja.loj_b_mod_delivery">
                                    <label for="ter_fk_imp_despacho" class="control-label">Impressora despacho</label>
                                    <select #ter_fk_imp_despacho="ngModel" class="form-control mousetrap" id="ter_fk_imp_despacho"
                                        name="ter_fk_imp_despacho" [(ngModel)]="terminal.ter_fk_imp_despacho" onReturn>
                                        <option value="">-- Buscar em Configurações gerais --</option>
                                        <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{
                                            impressora.imp_c_impressora }}</option>
                                    </select>
                                </div>

                                <!-- ter_fk_imp_caixa -->
                                <div class="form-group">
                                    <label for="ter_fk_imp_caixa" class="control-label">Impressora caixa</label>
                                    <select #ter_fk_imp_caixa="ngModel" class="form-control mousetrap" id="ter_fk_imp_caixa"
                                        name="ter_fk_imp_caixa" [(ngModel)]="terminal.ter_fk_imp_caixa" onReturn>
                                        <option value="">-- Buscar em Configurações gerais --</option>
                                        <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{
                                            impressora.imp_c_impressora }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row padding">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-block btn-default" (click)="bsModalRef.hide()">
                                Cancelar
                                <span class="icon-chevron-l pull-left"></span>
                            </button>
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                                Salvar
                                <span class="icon-check pull-right"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->

    <!-- <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button> 
    </div> -->
</div>