@import '../../../assets/styles/_config';

.modal-header {
    background-color: $bkcolor;
    color: $fgcolor;
}

.modal-header h4 {
    display: inline;
}

.modal-header .badge {
    background-color: white;
    color: black;
}

.modal-header button.close {
    color: white;
    opacity: 0.7;
}

.btn-group-vertical {
    width: 100%;
}

img {
    cursor: pointer;
}

.nav .li a {
    cursor: pointer;
}

.icon-question-coin {
    color: CornflowerBlue ;
}
