<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Mesas</li>
    <li class="active">Consulta</li>
    <li class="active">Mapa</li>
</ol>

<div class="row">
    <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <div class="list-group sidebar">
            <span *ngIf="dash.status;else dashoff">
                <button type="button" class="list-group-item active">
                    Consulta mesas
                    <span class="icon-search pull-right"></span>
                </button>
                <button type="button" class="list-group-item" (click)="dash.toggle()" *ngIf="config">
                    Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                    <span class="icon-chevron-l pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/home']" class="list-group-item">
                    Home
                    <span class="icon-home pull-right"></span>
                </button>
                <span class="list-group-item">
                    <span class="icon-search pull-right"></span>
                    <div class="form-group padding">
                        <label for="gruProcura">Procura [&nbsp;{{ config.cnf_c_hotkey_procurar }}&nbsp;]</label>
                        <div id="gruProcura" class="input-group">
                            <input type="text" class="form-control mousetrap" placeholder="Mesa" [(ngModel)]="buffer" [focus]="onMesasConsultaProcuraFocusEvent"
                                (keyup.enter)="onProcurarClick(buffer)">
                            <span class="input-group-addon">
                                <span class="icon-search"></span>
                            </span>
                        </div>
                    </div>
                </span>
                <button type="button" (click)="onMapaRefresh()" class="list-group-item">
                    Atualiza
                    <span class="icon-refresh pull-right"></span>
                </button>
            </span>

            <ng-template #dashoff>
                <button type="button" class="list-group-item active" (click)="dash.toggle()">
                    <span class="icon-chevron-r"></span>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <mapa-mesas excecoes="L" emptyMsg="Nenhuma mesa em uso encontrada !!!" [inicio]="mesaInicial" [final]="mesaFinal" (onClick)="onMesaClick($event)"></mapa-mesas>
    </div>
</div>