<ul class="nav nav-tabs" *ngIf="operador">
    <li role="presentation" class="disabled">
        <a>Senhas</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_lcto_senhas">
        <a [routerLink]="['/senhas/lcto']">
            <span class="icon-hashtag"></span>&nbsp;Lcto
        </a>
    </li>
</ul>
<router-outlet></router-outlet>