@import "../../../assets/styles/_config.scss";

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  // padding: 10px 16px;
  background: $bkcolor;
  color: $fgcolor;
  height: $footer_height;
}

.footer h2 {
  position: relative;
  display: inline;
  top: 15px;
  left: 15px;
}

.footer img {
  position: absolute;
  right: 15px;
  top: 12px;
  height: 36px;
}
