@import "../../../assets/styles/_config.scss";

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  // padding: 10px 16px;
  background: $bkcolor;
  color: $fgcolor;
  height: $header_height;
}

.header h2 {
  position: relative;
  display: inline;
  top: 15px;
  left: 15px;
}

.header button {
  position: absolute;
  right: 15px;
  top: 12px;
  height: 36px;
  background-color: transparent;
  color: white;
  /* text-shadow: 1px 1px white; */
  border: 1px solid whitesmoke;
  /* font-weight: bold; */
}
