<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" *ngIf="loja">
                <span class="icon-list thumb" *ngIf="loja.loj_b_mod_comandas" tooltip="Comandas" placement="bottom"></span>
                <span class="icon-table thumb" *ngIf="loja.loj_b_mod_mesas" tooltip="Mesas" placement="bottom"></span>
                <span class="icon-delivery thumb" *ngIf="loja.loj_b_mod_delivery" tooltip="Delivery" placement="bottom"></span>
                <span class="icon-hashtag thumb" *ngIf="loja.loj_b_mod_senhas" tooltip="Senhas" placement="bottom"></span>
                <span class="icon-cart thumb" *ngIf="loja.loj_b_mod_balcao" tooltip="Balcão" placement="bottom"></span>
                PDV
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse" *ngIf="operador">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a [routerLink]="['/home']">
                        <span class="icon-home" tooltip="Início" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="turno && operador.actions.grp_movimento && turno.tur_i_nro > 0">
                    <a (click)="onMovimentoHomeClick()">
                        <span class="icon-time" tooltip="Movimento" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="turno && operador.actions.grp_comandas && turno.tur_i_nro > 0">
                    <a (click)="onComandasHomeClick()">
                        <span class="icon-list" tooltip="Comandas" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="turno && operador.actions.grp_mesas && turno.tur_i_nro > 0">
                    <a (click)="onMesasHomeClick()">
                        <span class="icon-table" tooltip="Mesas" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="turno && operador.actions.grp_delivery && turno.tur_i_nro > 0">
                    <a (click)="onDeliveryHomeClick()">
                        <span class="icon-delivery" tooltip="Delivery" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="turno && operador.actions.grp_senhas && turno.tur_i_nro > 0">
                    <a (click)="onSenhasHomeClick()">
                        <span class="icon-hashtag" tooltip="Senhas" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="turno && operador.actions.grp_balcao && turno.tur_i_nro > 0">
                    <a (click)="onBalcaoHomeClick()">
                        <span class="icon-cart" tooltip="Balcão" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a [routerLink]="['/estoque/perda']">
                        <span class="icon-stock" tooltip="Estoque" placement="bottom"></span>
                    </a>
                </li>

                <li *ngIf="operador.ope_pk > 0" class="relative">
                    <!-- *ngIf="operador.actions.grp_reimpressoes" -->
                    <a (click)="onReimpressoesClick()">
                        <span class="icon-invoice" tooltip="Cupons" placement="bottom"></span>
                        <div class="badge" *ngIf="numUnchecked > 0">{{ numUnchecked }}</div>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="operador.actions.grp_config">
                    <a [routerLink]="['/config']">
                        <span class="icon-gear" tooltip="Config" placement="bottom"></span>
                    </a>
                </li>

                <li *ngIf="modal">
                    <a>
                        <span class="icon-chat"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>