@import "../../../assets/styles/_config.scss";

/* img {
    display: inline;
    margin-top: -5px;
}
*/
.navbar-brand {
  color: white;
  font-size: 180%;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
}

.navbar-brand .thumb {
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  color: $bkcolor;
  margin-left: 5px;
}

.relative {
  position: relative;
  top: 0px;
  left: 0px;
}

.badge {
  position: absolute;
  top: 6px;
  right: -8px;
  background-color: tomato;
  color: white;
  border: 2px solid green;
}

.icon-chat {
  color: yellow;
}
