<!-- 
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Balcão</li>
        <li class="active">Lcto</li>
    </ol>
-->

<!-- 
<br>{{ produto | json }}
<br>{{ caixa | json }}
</div> 
-->

<div *ngIf="caixa.cai_pk > 0;else caixaFechado">
    <div class="banner">
        <span class="page-header-bg-gradient"></span>
        <div class="caption">{{ caption }} </div>
    </div>

    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                <hyp-sel-produto [thumbs]="false" (onSelected)="onProdutoSel($event)"></hyp-sel-produto>

                <div class="row" *ngIf="produto">
                    <div class="col-sm-6">
                        <div class="padding">
                            <img [src]="onGaleriaGet(produto.pro_c_img)" alt="" class="img-responsive center-block">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="qtde">Qtde produto</label>
                            <input type="number" class="form-control text-right" name="qtde" [ngModel]="produto.pro_f_qtde"
                                readonly>
                        </div>

                        <div class="form-group">
                            <label for="unit">Valor unitário</label>
                            <input type="number" class="form-control text-right" name="unit" [ngModel]="produto.pro_f_preco_venda"
                                readonly>
                        </div>

                        <div class="form-group">
                            <label for="total">Total produto</label>
                            <input type="text" class="form-control text-right" name="total" [ngModel]="produto.pro_c_subtotal"
                                readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <hyp-pedido tipo="B" [idCaixa]="caixa.cai_pk"></hyp-pedido>
            </div>
        </div>
    </div>
</div>

<ng-template #caixaFechado>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="jumbotron">
                <button type="button" class="btn btn-lg btn-block btn-success" [routerLink]="['/movimento/caixa']">
                    Abrir caixa
                    <span class="icon-money pull-right"></span>
                </button>
            </div>
        </div>
    </div>
</ng-template>