.banner {
  background-color: darkcyan;
  text-align: center;
  font-size: 4.5em;
  margin: -9px 0px 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  z-index: 0;
}

.banner .caption {
  position: relative;
  top: 0px;
  left: 0px;
  //   font-weight: bold;
  color: white;
  width: 100%;
  height: 90px;
//   opacity: 0.9;
  text-shadow: 2px 2px #444;
  z-index: 100;
}

.page-header-bg-gradient {
  background: url(//www.devmedia.com.br/view/img/grid.png),
    linear-gradient(to right, rgba(0, 126, 174, 0.85), rgba(26, 193, 187, 0.85));
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
