<div *ngIf="produtos && config && pag">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Cadastros</li>
        <li class="active">Produtos&nbsp;
            <span class="badge" (click)="onSetFilter('')">{{ pag.getTotal() }}
                <span class="icon-filter" *ngIf="pag.filtered"></span>
            </span>
        </li>
        <!-- <li class="active">Grade</li> -->
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Produtos
                        <span class="icon-barcode pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" [routerLink]="['/cadastros/produtos/edit', 0]">
                        Novo
                        <span class="icon-plus pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-filter pull-right"></span>
                        <div class="form-group padding">
                            <label for="filter">Filtro [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="filter" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Nome, Cód ou Barcode."
                                    [(ngModel)]="buffer" (keyup.enter)="onSetFilter(buffer)" [select]="onCadastrosProGradeFocusEvent">
                                <!-- (blur)="onRefresh()" -->
                                <!-- <span class="input-group-addon">
                                    <span class="fa fa-filter"></span>
                                </span> -->
                            </div>
                        </div>
                    </span>
                    <!-- <span class="list-group-item">
                        <div class="form-group padding">
                            <span class="fa fa-list-ul pull-right"></span>
                            <label>Itens por página</label>
                            <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                        </div>
                    </span> -->
                    <!-- <span class="list-group-item text-center">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                    </span> -->
                    <button type="button" class="list-group-item" (click)="onGruposModalOpenClick()">
                        Grupos
                        <span class="icon-tag pull-right"></span>
                    </button>
                    <!-- <button type="button" class="list-group-item" (click)="onUnidadesClick()">
                        Unidades
                        <span class="icon-size pull-right"></span>
                    </button> -->
                    <button type="button" class="list-group-item active">
                        Relatórios
                        <span class="icon-printer pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRelatorioProdutosClick('produtos')">
                        Produtos
                        <span class="icon-text pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRelatorioProdutosClick('produtos_cola')">
                        Cola
                        <span class="icon-text pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRelatorioProdutosClick('produtos_cola_preco')">
                        Cola com preço
                        <span class="icon-text pull-right"></span>
                    </button>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <!-- {{ pag | json }} -->

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="default-cursor"></th>
                                <th class="default-cursor"></th>
                                <!-- <th class="text-center" (click)="pag.setSortingField('pro_b_ativo')" tooltip="Ativo" placememt="bottom">Ati&nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'pro_b_ativo'"></i>
                                </th> -->
                                <th (click)="pag.setSortingField('pro_i_cod')">Código &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_i_cod'"></i>
                                </th>
                                <th (click)="pag.setSortingField('pro_c_barcode')">Barcode/adicionais &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_c_barcode'"></i>
                                </th>
                                <th (click)="pag.setSortingField('pro_c_produto')">Produto/curto &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_c_produto'"></i>
                                </th>
                                <th (click)="pag.setSortingField('pro_c_grupo')">Grupo &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_c_grupo'"></i>
                                </th>
                                <th (click)="pag.setSortingField('pro_f_preco_venda')" class="text-right">P.venda/custo
                                    médio
                                    &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_f_preco_venda'"></i>
                                </th>
                                <!-- <th (click)="pag.setSortingField('pro_i_num_detalhes')" class="text-right">Qtde detalhes &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'pro_i_num_detalhes'"></i>
                                </th> -->
                                <th class="text-center" (click)=" pag.setSortingField('pro_b_fracionado')" tooltip="Fracionado"
                                    placememt="bottom">Fra &nbsp;
                                    <i [ngClass]="{ 'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() !='pro_b_fracionado'"></i>
                                </th>
                                <th class="text-center" (click)="pag.setSortingField('pro_b_peso_balanca')" tooltip="Peso balança"
                                    placememt="bottom">Bal &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'pro_b_peso_balanca'"></i>
                                </th>
                                <th class="text-center" (click)=" pag.setSortingField( 'pro_b_estoque')" tooltip="Estoque controlado"
                                    placememt="bottom">Est &nbsp;
                                    <i [ngClass]="{ 'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() !='pro_b_estoque'"></i>
                                </th>
                                <th class="text-center" (click)=" pag.setSortingField( 'pro_b_taxa_serv')" tooltip="Taxa serviço"
                                    placememt="bottom">TS &nbsp;
                                    <i [ngClass]="{ 'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() !='pro_b_taxa_serv'"></i>
                                </th>
                                <th class="default-cursor">Unid.</th>
                                <th class="default-cursor text-right">Qtde.</th>
                                <th class="default-cursor"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let produto of produtos | paginate: pag.getPagInst()" [class.inativo]="!produto.pro_b_ativo">
                                <td>
                                    <img [src]="onGaleriaGet(produto.pro_c_img)" alt="" class="img-responsive" (click)="onImgClick(produto.pro_c_img)">
                                </td>

                                <td>
                                    <div [ngClass]="{ 'icon-checked': produto.pro_b_ativo, 'icon-unchecked': !produto.pro_b_ativo}"></div>
                                </td>

                                <td>{{ produto.pro_i_cod }}</td>

                                <td>
                                    {{ produto.pro_c_barcode }}
                                    <small *ngIf="produto.pro_i_num_barcodes"><br/>+ {{ produto.pro_i_num_barcodes
                                    }}<!--  adiciona{{ produto.pro_i_num_barcodes == 1 ? 'l' : 'is' }} --></small>
                                    <!-- 
                                    <span class="badge" *ngIf="produto.pro_i_num_barcodes" tooltip="Barcodes adicionais"
                                        placement="top">+ {{ produto.pro_i_num_barcodes
                                        }}
                                    </span>
                                     -->
                                </td>

                                <td>
                                    {{ produto.pro_c_produto }}
                                    <small>
                                        <br>{{ produto.pro_c_produto_curto }}</small>
                                </td>

                                <td>
                                    <a (click)="onSetFilter(produto.pro_c_grupo)"> {{ produto.pro_c_grupo }}</a>
                                </td>

                                <td class="text-right">
                                    {{ produto.pro_f_preco_venda | number:'1.2-2' }}
                                    <small><br />{{ produto.pro_f_preco_custo_medio | number:'1.2-2' }}</small>
                                </td>

                                <!-- <td class="text-right">
                                    <button type="button" class="btn btn-default" (click)="onDetalhesModalOpenClick(produto)">
                                        <span class="icon-search"></span>&nbsp; {{ produto.pro_i_num_detalhes }}
                                    </button>
                                </td> -->

                                <td class="text-center">
                                    <div [ngClass]="{ 'icon-checked': produto.pro_b_fracionado, 'icon-unchecked': !produto.pro_b_fracionado}"></div>
                                </td>

                                <td class="text-center">
                                    <div [ngClass]="{ 'icon-checked': produto.pro_b_peso_balanca, 'icon-unchecked': !produto.pro_b_peso_balanca}"></div>
                                </td>

                                <td class="text-center">
                                    <div [ngClass]="{ 'icon-checked': produto.pro_b_estoque, 'icon-unchecked': !produto.pro_b_estoque}"></div>
                                </td>

                                <td class="text-center">
                                    <div [ngClass]="{ 'icon-checked': produto.pro_b_taxa_serv, 'icon-unchecked': !produto.pro_b_taxa_serv}"></div>
                                </td>

                                <td>{{ produto.pro_c_unid_entrada }}</td>

                                <td class="text-right">{{ produto.pro_f_qtde_entrada }}</td>

                                <td>
                                    <button type="button" class="btn btn-primary pull-right" tooltip="Modificar
                                   "
                                        placememt="left" [routerLink]="[ '/cadastros/produtos/edit', produto.pro_pk]">
                                        <span class="icon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="padding" *ngIf="produtos.length==0">
                        <div class="alert alert-warning" role="alert">Nenhum produto encontrado.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="text-right padding">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="
                                   "
                            nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>