<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <span class="pull-right">
            <!-- &copy;&nbsp;Mix sistemas -->
            <img src="assets/img/logo_mix.png" alt="" tooltip="www.mixsistemas.com.br" placement="top">
        </span>
        <span class="pull-left" *ngIf="operador && operador.ope_pk > 0;else semOperador">
            <span class="pull-left">{{ operador?.ope_c_operador }}&nbsp; {{ opSep }}
                <strong *ngIf="terminal">{{ terminal.ter_c_terminal }}</strong>&nbsp;
                <button type="button" class="btn btn-default btn-xs" [routerLink]="['/login']" tooltip="Sair" placement="top">
                    <span class="icon-logout"></span>
                </button>
            </span>
        </span>
        <ng-template #semOperador>
            <span class="pull-left">Nenhum operador em uso&nbsp; {{ opSep }}
                <strong *ngIf="terminal">{{ terminal.ter_c_terminal }}</strong>
            </span>
        </ng-template>
    </div>
</footer>