<!-- {{ finalizadoras | json }} -->
<div *ngIf="finalizadoras">
    <ul class="thumbs">
        <li *ngFor="let finalizadora of finalizadoras">
            <a (click)="onFinalizadoraClick(finalizadora)">
                <img [src]="onFinalizadoraGet(finalizadora.fin_c_img)" alt="" class="img-responsive">
                <span class="caption">
                    <strong>{{ finalizadora.fin_c_legenda }} [ {{ finalizadora.fin_c_hotkey }} ] </strong>
                </span>
            </a>
        </li>
    </ul>

    <div class="alert alert-warning" role="alert" *ngIf="finalizadoras.length == 0">
        Nenhum finalizadora encontrada.
    </div>
</div>