@import "../../../../../../assets/styles/_config";
.modal-header {
  background-color: $bkcolor;
  color: $fgcolor;
}

.modal-header h4 {
  display: inline;
}

.modal-header .badge {
  background-color: white;
  color: black;
}

.modal-header button.close {
  color: white;
  opacity: 0.7;
}

.btn-group-vertical {
  width: 100%;
}

.btn-group-vertical .btn.btn-default .icon,
.btn-group-vertical .btn.btn-default .fa {
  color: silver !important;
}

.table tbody tr td .btn.delete {
  color: tomato;
}

/* .form-group label {
    font-size: 20px;
    margin-top: 10px;
    color: darkgray;
    font-weight: bold;
} */

.form-group input {
  font-size: 200%;
  height: 60px;
}

.input-group .input-group-btn button {
  height: 60px;
}

.form-group input.form-control[readonly] {
  color: dimgray;
  border-radius: 6px;
}

.jumbotron {
  padding: 30px;
}

img {
  width: auto;
  height: 32px;
}
