<div *ngIf="terminais && config && loja && pag">
    <!-- {{ terminais | json }} -->
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">
            Terminais&nbsp;
            <span class="badge">{{ pag.getTotal() }}
                <span class="icon-filter" *ngIf="pag.filtered"></span>
            </span>
        </li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Terminais
                        <span class="icon-terminal pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onEditClick(0)">
                        Novo
                        <span class="icon-plus pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-filter pull-right"></span>
                        <div class="form-group padding">
                            <label for="filter">Filtro [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="filter" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Nome." [(ngModel)]="buffer"
                                    (keyup.enter)="pag.setFilter(buffer)" [select]="onConfigTerminaisFocusEvent">
                                <!-- <span class="input-group-addon">
                                    <span class="fa fa-filter"></span>
                                </span> -->
                            </div>
                        </div>
                    </span>
                    <span class="list-group-item text-center">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel=""
                            nextLabel=""></pagination-controls>
                    </span>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="default-cursor text-center"></th>
                                <th (click)="pag.setSortingField('ter_c_terminal');">Terminal &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'ter_c_terminal'"></i>
                                </th>
                                <th class="default-cursor">Tipo</th>
                                <th (click)="pag.setSortingField('ter_c_ip');">IP &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'ter_c_ip'"></i>
                                </th>
                                <th class="default-cursor">Imp. produção</th>
                                <th class="default-cursor" *ngIf="loja.loj_b_mod_delivery">Imp. despacho</th>
                                <th class="default-cursor">Imp. caixa</th>
                                <th class="default-cursor text-center" tooltip="Selecionar operador no lcto." placement="bottom"
                                    *ngIf="loja.loj_b_mod_mesas">Sel</th>
                                <th class="default-cursor text-right" *ngIf="loja.loj_b_mod_mesas">Mesa inicial</th>
                                <th class="default-cursor text-right" *ngIf="loja.loj_b_mod_mesas">Mesa final</th>
                                <th (click)="pag.setSortingField('ter_c_ip_balanca');">Balança &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'ter_c_ip_balanca'"></i>
                                </th>
                                <th class="default-cursor"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let terminal of terminais | paginate: pag.getPagInst()" [class.inativo]="!terminal.ter_b_ativo">
                                <td class="text-center">
                                    <div [ngClass]="{'icon-checked': terminal.ter_b_ativo, 'icon-unchecked': !terminal.ter_b_ativo}"></div>
                                </td>

                                <td>{{ terminal.ter_c_terminal }}</td>

                                <td>{{ terminal.ter_c_tipo }}</td>

                                <td>{{ terminal.ter_c_ip }}</td>

                                <td>{{ terminal.ter_c_imp_producao || '-' }}</td>

                                <td *ngIf="loja.loj_b_mod_delivery">{{ terminal.ter_c_imp_despacho || '-' }}</td>

                                <td>{{ terminal.ter_c_imp_caixa || '-' }}</td>

                                <td class="text-center" *ngIf="loja.loj_b_mod_mesas">
                                    <div [ngClass]="{'icon-checked': terminal.ter_b_mes_sel_operador, 'icon-unchecked': !terminal.ter_b_mes_sel_operador}"></div>
                                </td>

                                <td class="text-right" *ngIf="loja.loj_b_mod_mesas">{{ terminal.ter_i_mes_inicial ||
                                    '-' }}</td>

                                <td class="text-right" *ngIf="loja.loj_b_mod_mesas">{{ terminal.ter_i_mes_final || '-'
                                    }}</td>

                                <td> {{ terminal.ter_c_balanca || '-' }}</td>

                                <td>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning" tooltip="Testar leitura balança"
                                            placememt="top" (click)="onTestarClick(terminal)" [disabled]="!terminal.ter_c_balanca">
                                            <span class="icon-ray"></span>
                                        </button>

                                        <button type="button" class="btn btn-primary" tooltip="Modificar" placememt="top"
                                            (click)="onEditClick(terminal.ter_pk)">
                                            <span class="icon-edit"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="padding" *ngIf="terminais.length == 0">
                        <div class="alert alert-warning" role="alert">Nenhum terminal encontrado.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="text-right padding">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="
                                   "
                            nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>