<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Gráficos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Vendas</ion-label>
    </ion-list-header>
    
    <ion-item [routerDirection]="'root'" [routerLink]="['/turnos']" class="menu-item">
      <ion-label>
        <span class="icon-candle"></span>
        Por ano
      </ion-label>
    </ion-item>

    <ion-item [routerDirection]="'root'" [routerLink]="['/vendas-produto']" class="menu-item">
      <ion-label>
        <span class="icon-month"></span>
        Por mês
      </ion-label>
    </ion-item>

    <ion-item [routerDirection]="'root'" [routerLink]="['/curva-abc']" class="menu-item">
      <ion-label>
        <span class="icon-day"></span>
        Por dia
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>