.well .form-group {
    padding: 0 !important;
    margin: 0 !important;
}

.well .checkbox,
.well .radio {
    position: relative;
    top: -8px;
    padding: 0 !important;
    margin: 0 !important;
}

.well .caption {
    margin-top: 5px;
    color: gray;
    border-bottom: 1px solid silver;
}

.icon-question-coin {
    color: CornflowerBlue ;
}
