<div *ngIf="operador && config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Cadastros</li>
        <li>
            <a [routerLink]="['/cadastros/operadores/grade']">Operadores</a>
        </li>
        <li class="active">{{ caption }}</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            {{ novo ? 'Novo operador' : 'Modificando operador' }}
                            <span class="icon-id-card-v pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="onMudarSenhaClick()">
                            Mudar senha
                            <span class="icon-password pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/cadastros/operadores/grade']" class="list-group-item">
                            Cancelar
                            <span class="icon-cancel pull-right"></span>
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- <blockquote>Informações gerais</blockquote> -->

                        <div class="row">
                            <div class="col-sm-3">
                                <!-- ope_i_cod -->
                                <div class="form-group" [ngClass]="{'has-error': fv.erro(ope_i_cod, 'codigo'), 'has-success': fv.erro(ope_i_cod, 'codigo') == ''}">
                                    <label for="ope_i_cod" class="control-label">Código&nbsp;[&nbsp;{{ config.cnf_c_hotkey_filtrar
                                        }}&nbsp;]</label>
                                    <input #ope_i_cod="ngModel" type="text" integer class="form-control mousetrap text-right" id="ope_i_cod" name="ope_i_cod"
                                        [ngModel]="operador.ope_i_cod" [focus]="onCadastrosOpeFocusEvent" required onReturn>
                                    <hyp-form-control-error [is-error]="fv.erro(ope_i_cod, 'codigo')" [is-valid]="fv.erro(ope_i_cod, 'codigo') == ''" [msg]="fv.erro(ope_i_cod, 'codigo')"></hyp-form-control-error>
                                </div>
                            </div>

                            <div class="col-sm-9">
                                <!-- ope_c_operador -->
                                <div class="form-group" [ngClass]="{'has-error': fv.erro(ope_c_operador, 'operador'), 'has-success': fv.erro(ope_c_operador, 'operador') == ''}">
                                    <label for="ope_c_operador" class="control-label">Nome</label>
                                    <input #ope_c_operador="ngModel" type="text" class="form-control mousetrap" id="ope_c_operador" name="ope_c_operador" [ngModel]="operador.ope_c_operador"
                                        required maxlength="20" onReturn>
                                    <hyp-form-control-error [is-error]="fv.erro(ope_c_operador, 'operador')" [is-valid]="fv.erro(ope_c_operador, 'operador') == ''"
                                        [msg]="fv.erro(ope_c_operador, 'operador')"></hyp-form-control-error>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="novo">
                            <!-- <blockquote>Segurança</blockquote> -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- senha -->
                                    <div class="form-group" [ngClass]="{'has-error': fv.erro(senha), 'has-success': fv.erro(senha) == ''}">
                                        <label for="senha" class="control-label">Senha</label>
                                        <input #senha="ngModel" type="password" class="form-control mousetrap" id="senha" name="senha" [ngModel]="operador.senha"
                                            required onReturn>
                                        <hyp-form-control-error [is-error]="fv.erro(senha)" [is-valid]="fv.erro(senha) == ''" [msg]="fv.erro(senha)"></hyp-form-control-error>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <!-- confirmacao -->
                                    <div class="form-group" [ngClass]="{'has-error': fv.erro(confirmacao, 'confirmacao'), 'has-success': fv.erro(confirmacao, 'confirmacao') == ''}">
                                        <label for="confirmacao" class="control-label">Confirmação senha</label>
                                        <input #confirmacao="ngModel" type="password" class="form-control mousetrap" id="confirmacao" name="confirmacao" [ngModel]="operador.confirmacao"
                                            required onReturn>
                                        <hyp-form-control-error [is-error]="fv.erro(confirmacao, 'confirmacao')" [is-valid]="fv.erro(confirmacao, 'confirmacao') == ''"
                                            [msg]="fv.erro(confirmacao, 'confirmacao')"></hyp-form-control-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- ope_f_perc_comissao_vendas -->
                                <div class="form-group" [ngClass]="{'has-error': fv.erro(ope_f_perc_comissao_vendas, 'comissaoVendas'), 'has-success': fv.erro(ope_f_perc_comissao_vendas, 'comissaoVendas') == ''}">
                                    <label for="ope_f_perc_comissao_vendas" class="control-label">% comissão vendas&nbsp;
                                        <span class="icon-question-coin" tooltip='Limitado por % LIMITE COMISSÃO VENDAS em GRUPOS DE PRODUTOS.' placement="top"></span>
                                    </label>
                                    <input #ope_f_perc_comissao_vendas="ngModel" type="number" class="form-control mousetrap text-right" id="ope_f_perc_comissao_vendas"
                                        name="ope_f_perc_comissao_vendas" [ngModel]="operador.ope_f_perc_comissao_vendas" [min]="0"
                                        [max]="100" onReturn>
                                    <hyp-form-control-error [is-error]="fv.erro(ope_f_perc_comissao_vendas, 'comissaoVendas')" [is-valid]="fv.erro(ope_f_perc_comissao_vendas, 'comissaoVendas') == ''"
                                        [msg]="fv.erro(ope_f_perc_comissao_vendas, 'comissaoVendas')"></hyp-form-control-error>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <!-- ope_f_perc_comissao_servicos -->
                                <div class="form-group" [ngClass]="{'has-error': fv.erro(ope_f_perc_comissao_servicos, 'comissaoServicos'), 'has-success': fv.erro(ope_f_perc_comissao_servicos, 'comissaoServicos') == ''}">
                                    <label for="ope_f_perc_comissao_servicos" class="control-label">% comissão serviços&nbsp;
                                        <span class="icon-question-coin" tooltip='Calculado do resultado de TAXA SERVIÇO em CONFIGURAÇÕES GERAIS para PRODUTOS com TAXA DE SERVIÇO habilitada.'
                                            placement="top"></span>
                                    </label>
                                    <input #ope_f_perc_comissao_servicos="ngModel" type="number" class="form-control mousetrap text-right" id="ope_f_perc_comissao_servicos"
                                        name="ope_f_perc_comissao_servicos" [ngModel]="operador.ope_f_perc_comissao_servicos"
                                        [min]="0" [max]="100" onReturn>
                                    <hyp-form-control-error [is-error]="fv.erro(ope_f_perc_comissao_servicos, 'comissaoVendas')" [is-valid]="fv.erro(ope_f_perc_comissao_servicos, 'comissaoServicos') == ''"
                                        [msg]="fv.erro(ope_f_perc_comissao_servicos, 'comissaoServicos')"></hyp-form-control-error>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!operador.ope_b_adm">
                            <!-- ope_b_ativo -->
                            <div class="form-group">
                                <label for="ope_b_ativo"></label>
                                <div class="checkbox">
                                    <label>
                                        <input #ope_b_ativo="ngModel" type="checkbox" id="ope_b_ativo" name="ope_b_ativo" [ngModel]="operador.ope_b_ativo" onReturn>                                        Ativo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="well">
                            <blockquote>
                                Controle de acesso
                                <small *ngIf="!operador.ope_b_adm;else adm">Selecione as tarefas para habilitá-las.</small>
                                <ng-template #adm>
                                    <small>Administrador do sistema.</small>
                                </ng-template>
                            </blockquote>

                            <div *ngIf="!operador.ope_b_adm">
                                <div class="caption">Tipos</div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_caixa -->
                                        <div class="form-group">
                                            <label for="ope_b_act_caixa"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_caixa="ngModel" type="checkbox" id="ope_b_act_caixa" name="ope_b_act_caixa" [(ngModel)]="operador.ope_b_act_caixa"
                                                        onReturn> Caixa
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" *ngIf="loja.loj_b_mod_delivery">
                                        <!-- ope_b_act_entregador -->
                                        <div class="form-group">
                                            <label for="ope_b_act_entregador"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_entregador="ngModel" type="checkbox" id="ope_b_act_entregador" name="ope_b_act_entregador" [ngModel]="operador.ope_b_act_entregador"
                                                        onReturn> Entregador
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" *ngIf="loja.loj_b_mod_comandas">
                                        <!-- ope_b_act_lcto_comandas -->
                                        <div class="form-group">
                                            <label for="ope_b_act_lcto_comandas"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_lcto_comandas="ngModel" type="checkbox" id="ope_b_act_lcto_comandas" name="ope_b_act_lcto_comandas" [ngModel]="operador.ope_b_act_lcto_comandas"
                                                        onReturn> Lcto comandas
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" *ngIf="loja.loj_b_mod_delivery">
                                        <!-- ope_b_act_lcto_delivery -->
                                        <div class="form-group">
                                            <label for="ope_b_act_lcto_delivery"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_lcto_delivery="ngModel" type="checkbox" id="ope_b_act_lcto_delivery" name="ope_b_act_lcto_delivery" [ngModel]="operador.ope_b_act_lcto_delivery"
                                                        onReturn> Lcto delivery
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" *ngIf="loja.loj_b_mod_delivery">
                                        <!-- ope_b_act_pedidos_delivery -->
                                        <div class="form-group">
                                            <label for="ope_b_act_pedidos_delivery"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_pedidos_delivery="ngModel" type="checkbox" id="ope_b_act_pedidos_delivery" name="ope_b_act_pedidos_delivery"
                                                        [ngModel]="operador.ope_b_act_pedidos_delivery" onReturn>                                                    Pedidos
                                                    delivery
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" *ngIf="loja.loj_b_mod_mesas">
                                        <!-- ope_b_act_lcto_mesas -->
                                        <div class="form-group">
                                            <label for="ope_b_act_lcto_mesas"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_lcto_mesas="ngModel" type="checkbox" id="ope_b_act_lcto_mesas" name="ope_b_act_lcto_mesas" [ngModel]="operador.ope_b_act_lcto_mesas"
                                                        onReturn> Lcto mesas
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" *ngIf="loja.loj_b_mod_senhas && operador.ope_b_act_caixa">
                                        <!-- ope_b_act_lcto_senhas -->
                                        <div class="form-group">
                                            <label for="ope_b_act_lcto_senhas"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_lcto_senhas="ngModel" type="checkbox" id="ope_b_act_lcto_senhas" name="ope_b_act_lcto_senhas" [ngModel]="operador.ope_b_act_lcto_senhas"
                                                        onReturn> Lcto senhas
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="caption">Manutenção de cadastros</div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_manut_ope -->
                                        <div class="form-group">
                                            <label for="ope_b_act_manut_ope"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_manut_ope="ngModel" type="checkbox" id="ope_b_act_manut_ope" name="ope_b_act_manut_ope" [ngModel]="operador.ope_b_act_manut_ope"
                                                        onReturn> Operadores
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_manut_pro -->
                                        <div class="form-group">
                                            <label for="ope_b_act_manut_pro"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_manut_pro="ngModel" type="checkbox" id="ope_b_act_manut_pro" name="ope_b_act_manut_pro" [ngModel]="operador.ope_b_act_manut_pro"
                                                        onReturn> Produtos
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- 
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_manut_cli
                                        <div class="form-group">
                                            <label for="ope_b_act_manut_cli"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_manut_cli="ngModel" type="checkbox" id="ope_b_act_manut_cli" name="ope_b_act_manut_cli" [ngModel]="operador.ope_b_act_manut_cli"
                                                        onReturn> Clientes
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_manut_for
                                        <div class="form-group">
                                            <label for="ope_b_act_manut_for"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_manut_for="ngModel" type="checkbox" id="ope_b_act_manut_for" name="ope_b_act_manut_for" [ngModel]="operador.ope_b_act_manut_for"
                                                        onReturn> Fornecedores
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>

                                <div class="caption">Tarefas diversas</div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_turno_abrir -->
                                        <div class="form-group">
                                            <label for="ope_b_act_turno_abrir"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_turno_abrir="ngModel" type="checkbox" id="ope_b_act_turno_abrir" name="ope_b_act_turno_abrir" [ngModel]="operador.ope_b_act_turno_abrir"
                                                        onReturn> Abertura
                                                    de turno
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_turno_fechar -->
                                        <div class="form-group">
                                            <label for="ope_b_act_turno_fechar"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_turno_fechar="ngModel" type="checkbox" id="ope_b_act_turno_fechar" name="ope_b_act_turno_fechar" [ngModel]="operador.ope_b_act_turno_fechar"
                                                        onReturn> Fechamento
                                                    de turno
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_cancelamentos -->
                                        <div class="form-group">
                                            <label for="ope_b_act_cancelamentos"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_cancelamentos="ngModel" type="checkbox" id="ope_b_act_cancelamentos" name="ope_b_act_cancelamentos" [ngModel]="operador.ope_b_act_cancelamentos"
                                                        onReturn> Cancelamentos
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_relatorios -->
                                        <div class="form-group">
                                            <label for="ope_b_act_relatorios"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_relatorios="ngModel" type="checkbox" id="ope_b_act_relatorios" name="ope_b_act_relatorios" [ngModel]="operador.ope_b_act_relatorios"
                                                        onReturn> Emitir
                                                    relatórios
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_movimentos_financeiros -->
                                        <div class="form-group">
                                            <label for="ope_b_act_movimentos_financeiros"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_movimentos_financeiros="ngModel" type="checkbox" id="ope_b_act_movimentos_financeiros" name="ope_b_act_movimentos_financeiros"
                                                        [ngModel]="operador.ope_b_act_movimentos_financeiros" onReturn>                                                    Acessar
                                                    movimentos financeiros
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_config -->
                                        <div class="form-group">
                                            <label for="ope_b_act_config"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_config="ngModel" type="checkbox" id="ope_b_act_config" name="ope_b_act_config" [ngModel]="operador.ope_b_act_config"
                                                        onReturn> Configurações
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="caption">Estoque</div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- ope_b_act_est_movimento -->
                                        <div class="form-group">
                                            <label for="ope_b_act_est_movimento"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_est_movimento="ngModel" type="checkbox" id="ope_b_act_est_movimento" name="ope_b_act_est_movimento" [(ngModel)]="operador.ope_b_act_est_movimento"
                                                        onReturn> Movimento
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- ope_b_act_est_perda -->
                                        <div class="form-group">
                                            <label for="ope_b_act_est_perda"></label>
                                            <div class="checkbox">
                                                <label>
                                                    <input #ope_b_act_est_perda="ngModel" type="checkbox" id="ope_b_act_est_perda" name="ope_b_act_est_perda" [ngModel]="operador.ope_b_act_est_perda"
                                                        onReturn> Liberação
                                                    de perdas
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-block btn-default" [routerLink]="['/cadastros/operadores/grade']">
                            Cancelar
                            <span class="icon-cancel pull-left"></span>
                        </button>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </form>
</div>