<ul class="nav nav-tabs" *ngIf="operador">
    <li role="presentation" class="disabled">
        <a>Mesas</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_lcto_mesas">
        <a [routerLink]="['/mesas/lcto/mapa']">
            <span class="icon-table"></span>&nbsp;Lcto
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_lcto_mesas">
        <a [routerLink]="['/mesas/consulta/mapa']">
            <span class="icon-search"></span>&nbsp;Consulta
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_caixa_mesas">
        <a [routerLink]="['/mesas/caixa/mapa']">
            <span class="icon-money"></span>&nbsp;Caixa
        </a>
    </li>
</ul>
<router-outlet></router-outlet>