<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Delivery</li>
    <li class="active">Caixa</li>
</ol>

<form novalidate #f="ngForm"> <!--(ngSubmit)="onSubmit(f)" -->
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group sidebar">
                <button type="button" class="list-group-item active">
                    Caixa delivery
                    <span class="icon-money pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/home']" class="list-group-item">
                    Home
                    <span class="icon-home pull-right"></span>
                </button>
            </div>
        </div>

        <div class="col-sm-10">
            
        </div>
    </div>
</form>