<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Estoque</li>
    <li class="active">Amostragem</li>
</ol>

<div class="row padding">
    <div class="col-sm-8">
        <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="well">
                <div class="row">
                    <div class="col-xs-4">
                        <!-- qtde -->
                        <div class="form-group" [ngClass]="{'has-error': qtde.invalid, 'has-success': qtde.valid}">
                            <label for="idGrupo" class="control-label">Qtde</label>
                            <input #qtde="ngModel" type="number" class="form-control mousetrap text-right" id="qtde"
                                name="qtde" [(ngModel)]="info.qtde" [focus]="onAmostragemFocusEvent" integer required
                                [min]="1" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(qtde)" [is-valid]="qtde.valid"></hyp-form-control-error>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <!-- idGrupo -->
                        <div class="form-group">
                            <label for="idGrupo" class="control-label">Grupo</label>
                            <select #idGrupo="ngModel" class="form-control mousetrap" id="idGrupo" name="idGrupo"
                                [(ngModel)]="info.idGrupo" onReturn>
                                <option value="">-- Qualquer grupo --</option>
                                <option *ngFor="let grupo of grupos" [value]="grupo.gru_pk">{{
                                    grupo.gru_c_grupo }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <!-- <label class="control-label"></label> -->
                        <button type="submit" class="btn btn-primary btn-block big" [disabled]="f.invalid">
                            Gerar&nbsp;
                            <span class="icon-ray pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
        </form>
    </div>

    <div class="col-sm-4" *ngIf="preview">
        <!-- {{ grupos | json }} -->
        <!-- {{ amostragens | json }} -->
        <!-- {{ ids | json }} -->



        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <!-- idImpressora -->
                        <div class="form-group" [ngClass]="{'has-error': idImp.invalid, 'has-success': idImp.valid}">
                            <!-- <label for="idImpressora" class="control-label">Ponto de impressão</label> -->
                            <select #idImp="ngModel" class="form-control" id="idImpressora" name="idImpressora"
                                [(ngModel)]="idImpressora" required onReturn>
                                <option value="">-- Selecione impressora --</option>
                                <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{
                                    impressora.imp_c_impressora }}</option>
                            </select>
                            <!--  <hyp-form-control-error [is-error]="idImp.invalid" [is-valid]="idImp.valid"></hyp-form-control-error> -->
                        </div>
                    </div>

                    <div class="col-xs-6" *ngIf="idImpressora">
                        <button type="submit" class="btn btn-success btn-block" (click)="onImprimirClick()">
                            Imprimir&nbsp;
                            <span class="icon-printer pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <textarea class="form-control mousetrap" rows="28" id="cupom" name="cupom" [ngModel]="preview" readonly></textarea>
    </div>
</div>