<div class="lpad">
    <div *ngIf="isError">
        <div class="input-error">
            <span class="icon-cancel"></span> &nbsp;{{ msg }}
        </div>
    </div>

    <div *ngIf="!isError && isValid">
        <div class="input-success">
            <span class="icon-check"></span> &nbsp;OK
        </div>
    </div>
</div>