<div *ngIf="produto && barcodes && unidades && grupos && config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Cadastros</li>
        <li>
            <a [routerLink]="['/cadastros/produtos/grade', 0]">Produtos</a>
        </li>
        <li class="active">{{ caption }}</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            {{ novo ? 'Novo produto' : 'Modificando produto' }}
                            <span class="icon-barcode pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/cadastros/produtos/grade', 0]" class="list-group-item">
                            Cancelar
                            <span class="icon-cancel pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="onGruposClick()">
                            Grupos
                            <span class="icon-tags pull-right"></span>
                        </button>
                        <!-- <button type="button" class="list-group-item" (click)="onUnidadesClick()">
                            Unidades
                            <span class="icon-size pull-right"></span>
                        </button> -->
                        <button type="button" class="list-group-item" (click)="onBarcodesAdicionaisClick()">
                            Barcodes adicionais&nbsp;
                            <span class="badge">{{ barcodes.length }}</span>
                            <!-- <span class="icon-barcode pull-right"></span> -->
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-5">
                                <!-- <blockquote>Informações gerais</blockquote> -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <!-- pro_i_cod -->
                                        <div class="form-group" [ngClass]="{'has-error': fv.erro(pro_i_cod, 'cod'), 'has-success': fv.erro(pro_i_cod, 'cod') == ''}">
                                            <label for="pro_i_cod" class="control-label">Código&nbsp;[&nbsp;{{
                                                config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                                            <input #pro_i_cod="ngModel" type="text" integer class="form-control mousetrap text-right"
                                                id="pro_i_cod" name="pro_i_cod" [ngModel]="produto.pro_i_cod" [focus]="onCadastrosProEditEventFocus"
                                                required onReturn>
                                            <hyp-form-control-error [is-error]="fv.erro(pro_i_cod, 'cod')" [is-valid]="fv.erro(pro_i_cod, 'cod') == ''"
                                                [msg]="fv.erro(pro_i_cod, 'cod')"></hyp-form-control-error>
                                        </div>
                                    </div>

                                    <div class="col-sm-8">
                                        <!-- pro_c_barcode -->
                                        <div class="form-group" [ngClass]="{'has-error': fv.erro(pro_c_barcode, 'barcode'), 'has-success': fv.erro(pro_c_barcode, 'barcode') == ''}">
                                            <label for="pro_c_barcode" class="control-label">Cód. barras</label>
                                            <input #pro_c_barcode="ngModel" type="text" integer class="form-control mousetrap"
                                                id="pro_c_barcode" name="pro_c_barcode" [(ngModel)]="produto.pro_c_barcode"
                                                maxLength="13" onReturn>
                                            <hyp-form-control-error [is-error]="fv.erro(pro_c_barcode, 'barcode')"
                                                [is-valid]="fv.erro(pro_c_barcode, 'barcode') == ''" [msg]="fv.erro(pro_c_barcode, 'barcode')"></hyp-form-control-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- pro_c_produto -->
                                        <div class="form-group" [ngClass]="{'has-error': fv.erro(pro_c_produto, 'produto'), 'has-success': fv.erro(pro_c_produto, 'produto') == ''}">
                                            <label for="pro_c_produto" class="control-label">Nome</label>
                                            <input #pro_c_produto="ngModel" type="text" class="form-control mousetrap"
                                                id="pro_c_produto" name="pro_c_produto" [ngModel]="produto.pro_c_produto"
                                                maxlength="60" required onReturn>
                                            <hyp-form-control-error [is-error]="fv.erro(pro_c_produto, 'produto')"
                                                [is-valid]="fv.erro(pro_c_produto, 'produto') == ''" [msg]="fv.erro(pro_c_produto, 'produto')"></hyp-form-control-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-7">
                                        <!-- pro_c_produto_curto -->
                                        <div class="form-group">
                                            <label for="pro_c_produto_curto" class="control-label">Nome curto</label>
                                            <input #pro_c_produto_curto="ngModel" type="text" class="form-control mousetrap"
                                                id="pro_c_produto_curto" name="pro_c_produto_curto" [ngModel]="produto.pro_c_produto_curto"
                                                maxlength="30" onReturn>
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <!-- pro_fk_grupo -->
                                        <div class="form-group" [ngClass]="{'has-error': pro_fk_grupo.invalid, 'has-success': pro_fk_grupo.valid}">
                                            <label for="pro_fk_grupo" class="control-label">Grupo</label>
                                            <select #pro_fk_grupo="ngModel" class="form-control mousetrap" id="pro_fk_grupo"
                                                name="pro_fk_grupo" [(ngModel)]="produto.pro_fk_grupo" required
                                                onReturn>
                                                <option value="">-- Selecione grupo --</option>
                                                <option *ngFor="let grupo of grupos" [value]="grupo.gru_pk">{{
                                                    grupo.gru_c_grupo }}</option>
                                            </select>
                                            <hyp-form-control-error [is-error]="pro_fk_grupo.invalid" [is-valid]="pro_fk_grupo.valid"></hyp-form-control-error>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- pro_f_preco_venda -->
                                        <div class="form-group">
                                            <label for="pro_f_preco_venda" class="control-label">Preço venda</label>
                                            <input #pro_f_preco_venda="ngModel" type="number" class="form-control mousetrap text-right"
                                                id="pro_f_preco_venda" name="pro_f_preco_venda" [ngModel]="produto.pro_f_preco_venda"
                                                onReturn>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <!-- pro_f_preco_venda_promo -->
                                        <div class="form-group">
                                            <label for="pro_f_preco_venda_promo" class="control-label">Preço venda
                                                promocional</label>
                                            <input #pro_f_preco_venda_promo="ngModel" type="number" class="form-control mousetrap text-right"
                                                id="pro_f_preco_venda_promo" name="pro_f_preco_venda_promo" [ngModel]="produto.pro_f_preco_venda_promo"
                                                onReturn>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- pro_f_preco_custo -->
                                        <div class="form-group">
                                            <label for="pro_f_preco_custo" class="control-label">Preço custo</label>
                                            <input #pro_f_preco_custo="ngModel" type="number" class="form-control mousetrap text-right"
                                                id="pro_f_preco_custo" name="pro_f_preco_custo" [ngModel]="produto.pro_f_preco_custo"
                                                readonly onReturn>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <!-- pro_f_preco_custo_medio -->
                                        <div class="form-group">
                                            <label for="pro_f_preco_custo_medio" class="control-label">Preço custo
                                                médio</label>
                                            <input #pro_f_preco_custo_medio="ngModel" type="number" class="form-control mousetrap text-right"
                                                id="pro_f_preco_custo_medio" name="pro_f_preco_custo_medio" [ngModel]="produto.pro_f_preco_custo_medio"
                                                readonly onReturn>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="well">
                                    <!-- pro_b_ativo -->
                                    <div class="form-group">
                                        <label for="pro_b_ativo"></label>
                                        <div class="checkbox">
                                            <label>
                                                <input #pro_b_promocao="ngModel" type="checkbox" id="pro_b_ativo" name="pro_b_ativo"
                                                    [ngModel]="produto.pro_b_ativo" onReturn> Ativo
                                            </label>
                                        </div>
                                    </div>

                                    <!-- pro_b_fracionado -->
                                    <div class="form-group">
                                        <label for="pro_b_fracionado"></label>
                                        <div class="checkbox">
                                            <label>
                                                <input #pro_b_fracionado="ngModel" type="checkbox" id="pro_b_fracionado"
                                                    name="pro_b_fracionado" [(ngModel)]="produto.pro_b_fracionado"
                                                    onReturn> Fracionado
                                            </label>
                                        </div>
                                    </div>

                                    <!-- pro_b_peso_balanca -->
                                    <div class="form-group" *ngIf="produto.pro_b_fracionado">
                                        <label for="pro_b_peso_balanca"></label>
                                        <div class="checkbox">
                                            <label>
                                                <input #pro_b_peso_balanca="ngModel" type="checkbox" id="pro_b_peso_balanca"
                                                    name="pro_b_peso_balanca" [ngModel]="produto.pro_b_peso_balanca"
                                                    onReturn> Peso balança
                                            </label>
                                        </div>
                                    </div>

                                    <!-- pro_b_promocao -->
                                    <div class="form-group">
                                        <label for="pro_b_promocao"></label>
                                        <div class="checkbox">
                                            <label>
                                                <input #pro_b_ativo="ngModel" type="checkbox" id="pro_b_promocao" name="pro_b_promocao"
                                                    [ngModel]="produto.pro_b_promocao" onReturn> Promoção
                                            </label>
                                        </div>
                                    </div>

                                    <!-- pro_b_taxa_serv -->
                                    <div class="form-group">
                                        <label for="pro_b_taxa_serv"></label>
                                        <div class="checkbox">
                                            <label>
                                                <input #pro_b_ativo="ngModel" type="checkbox" id="pro_b_taxa_serv" name="pro_b_taxa_serv"
                                                    [ngModel]="produto.pro_b_taxa_serv" onReturn> Taxa serviço&nbsp;
                                                <span class="icon-question-coin" tooltip='Cobra % TAXA SERVIÇO em CONFIGURAÇÕES GERAIS sobre valor total desse produto.'
                                                    placement="bottom"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="well" [class.active]="produto.pro_b_estoque">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- pro_b_estoque -->
                                            <div class="form-group">
                                                <label for="pro_b_estoque"></label>
                                                <div class="checkbox">
                                                    <label>
                                                        <input #pro_b_estoque="ngModel" type="checkbox" id="pro_b_estoque"
                                                            name="pro_b_estoque" [(ngModel)]="produto.pro_b_estoque"
                                                            onReturn> Estoque controlado
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <blockquote>Entrada</blockquote>

                                    <div class="row">
                                        <div class="col-sm-7">
                                            <!-- pro_fk_unid_entrada -->
                                            <label for="pro_fk_unid_entrada" class="control-label">Unidade</label>
                                            <select #pro_fk_unid_entrada="ngModel" class="form-control mousetrap" id="pro_fk_unid_entrada"
                                                name="pro_fk_unid_entrada" [(ngModel)]="produto.pro_fk_unid_entrada"
                                                onReturn>
                                                <!-- <option value="">-- Selecione unidade --</option> -->
                                                <option *ngFor="let unidade of unidades" [value]="unidade.uni_pk">{{
                                                    unidade.uni_c_unidade }} - {{ unidade.uni_c_descricao }}</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-5">
                                            <!-- pro_f_qtde_entrada -->
                                            <div class="form-group">
                                                <label for="pro_f_qtde_entrada" class="control-label" [ngClass]="{'has-error': fv.erro(pro_f_qtde_entrada, 'qtdeEntrada'), 'has-success': fv.erro(pro_f_qtde_entrada, 'qtdeEntrada') == ''}">Qtde</label>
                                                <input #pro_f_qtde_entrada="ngModel" type="number" class="form-control mousetrap text-right"
                                                    id="pro_f_qtde_entrada" name="pro_f_qtde_entrada" [ngModel]="produto.pro_f_qtde_entrada"
                                                    onReturn>
                                                <hyp-form-control-error [is-error]="fv.erro(pro_f_qtde_entrada, 'qtdeEntrada')"
                                                    [is-valid]="fv.erro(pro_f_qtde_entrada, 'qtdeEntrada') == ''" [msg]="fv.erro(pro_f_qtde_entrada, 'qtdeEntrada')"></hyp-form-control-error>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- pro_f_est_min -->
                                            <div class="form-group">
                                                <label for="pro_f_est_min" class="control-label">Estoque mínimo</label>
                                                <input #pro_f_est_min="ngModel" type="number" class="form-control mousetrap text-right"
                                                    id="pro_f_est_min" name="pro_f_est_min" [ngModel]="produto.pro_f_est_min"
                                                    onReturn>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <!-- pro_f_est_max -->
                                            <div class="form-group">
                                                <label for="pro_f_est_max" class="control-label">Estoque máximo</label>
                                                <input #pro_f_est_max="ngModel" type="number" class="form-control mousetrap text-right"
                                                    id="pro_f_est_max" name="pro_f_est_max" [ngModel]="produto.pro_f_est_max"
                                                    onReturn>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- pro_f_est_qtde_deposito -->
                                            <div class="form-group">
                                                <label for="pro_f_est_qtde_deposito" class="control-label">Qtde estoque
                                                    depósito</label>
                                                <input #pro_f_est_qtde_deposito="ngModel" type="number" class="form-control mousetrap text-right"
                                                    id="pro_f_est_qtde_deposito" name="pro_f_est_qtde_deposito"
                                                    [ngModel]="produto.pro_f_est_qtde_deposito" readonly onReturn>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <!-- pro_f_est_qtde_loja -->
                                            <div class="form-group">
                                                <label for="pro_f_est_qtde_loja" class="control-label">Qtde estoque
                                                    loja</label>
                                                <input #pro_f_est_qtde_loja="ngModel" type="number" class="form-control mousetrap text-right"
                                                    id="pro_f_est_qtde_loja" name="pro_f_est_qtde_loja" [ngModel]="produto.pro_f_est_qtde_loja"
                                                    readonly onReturn>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <blockquote>
                            Imagem
                            <small *ngIf="produto.pro_c_img">{{ produto.pro_c_img }}</small>
                        </blockquote>

                        <div class="btn-group-vertical padding" role="group">
                            <button type="button" class="btn btn-block btn-default" (click)="onImgBarcodeClick()" *ngIf="produto.pro_c_barcode">
                                Código de barras
                                <span class="icon-barcode pull-right"></span>
                            </button>
                            <button type="button" class="btn btn-block btn-default" (click)="onGaleriaPublicaClick()">
                                Galeria pública
                                <span class="icon-unlocked pull-right"></span>
                            </button>
                            <button type="button" class="btn btn-block btn-default" (click)="onGaleriaPrivadaClick()">
                                Galeria privada
                                <span class="icon-locked pull-right"></span>
                            </button>
                            <!-- <button type="button" class="btn btn-block btn-default" (click)="onAdicionarImgClick()">
                                Adicionar imagem
                                <span class="icon-plus pull-right"></span>
                            </button> -->
                            <button type="button" class="btn btn-block btn-default" (click)="produto.pro_c_img = ''">
                                Remover imagem
                                <span class="icon-trash pull-right"></span>
                            </button>
                        </div>

                        <div class="padding">
                            <img [src]="onGaleriaGet(produto.pro_c_img)" alt="" class="img-responsive center-block"
                                (click)="onImgClick(produto.pro_c_img)">
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-block btn-default" [routerLink]="['/cadastros/produtos/grade', 0]">
                            Cancelar
                            <span class="icon-cancel pull-left"></span>
                        </button>
                    </div>
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
</div>