.btn-group-vertical {
    width: 100%;
}

img {
    cursor: pointer;
}

.well label {
    display: block;
}

.icon-question-coin {
    color: CornflowerBlue ;
}

.well.active {
    background-color: Beige;
}
