<setup-navbar></setup-navbar>
<ngx-spinner bdOpacity="0.9" bdColor="silver" size="medium" color="black" loadingText="Aguarde..." type="timer"></ngx-spinner>
<!-- <p-toast></p-toast> -->
<p-growl [(value)]="msgs"></p-growl>

<!-- {{ loja | json}} -->
<!-- {{ ver | json }} -->
<p-dialog header="Buscando licença do sistema" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
    [minY]="70" [maximizable]="false" [baseZIndex]="10000">
    <!-- {{ licenca | json }} -->

    <h3>Cpf/Cnpj</h3>
    <input id="cpfCnpj" type="text" pInputText [(ngModel)]="licenca.cpfCnpj" [focus]="onCpfCnpjFocusEvent" onReturn>

    <h3>Token</h3>
    <input id="token" type="text" pInputText [(ngModel)]="licenca.token" onReturn>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onLicenciarCloseClick()" label="Confirmar"></button>
        <!-- <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button> -->
    </p-footer>
</p-dialog>

<div class="ui-g">
    <div class="ui-g-12">
        <div class="well">
            <h3>IP servidor local</h3>
            <input id="input" type="text" pInputText [(ngModel)]="ipLocal" placeholder="127.0.0.1" [focus]="onIpLocalFocusEvent">
            <!--  {{ ipLocal }} -->
            <p-button icon="pi pi-save" label="Gravar" (click)="onGravarIpLocalClick()"></p-button> {{ ping }}
        </div>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-8">
        <div class="ui-g-12">
            <p-table [value]="steps">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Descrição</th>
                        <!-- <th>Dados</th> -->
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-passo>
                    <tr>
                        <td>{{ passo.caption }}</td>
                        <!-- <td>{{ passo.data }}</td> -->
                        <td>
                            <span [ngClass]="{ok: passo.status.ok, error: !passo.status.ok}" *ngIf="passo.status != undefined && passo.status.ok != undefined">{{
                                passo.status.caption }}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <img class="logo" [src]="logo" alt="">
        </div>
    </div>
    <div class="ui-g-4">
        <div class="ui-g-12">
            <div *ngIf="issues.length == 0;else hasIssues">
                <p-card styleClass="ui-card-shadow">
                    <!--  title="Status" -->
                    <!--  subtitle="Subtitle"  -->
                    <!-- <p-header>
                        <img src="Card" src="assets/showcase/images/usercard.png">
                    </p-header> -->
                    <p-footer>
                        <div *ngIf="update;else updated">
                            <h2 class="old">Existe uma versão mais nova.</h2>
                            <button pButton type="button" label="ATUALIZAR SISTEMA" icon="pi pi-check" (click)="onAtualizarSistema()"></button>
                        </div>
                        <ng-template #updated>
                            <h2 class="updated">Sistema está atualizado.</h2>
                        </ng-template>
                    </p-footer>
                </p-card>
            </div>
            <ng-template #hasIssues>
                <div class="well issues">
                    <h3>Problemas encontrados</h3>
                    <!-- {{ issues | json }} -->
                    <div *ngFor="let issue of issues">
                        <p-fieldset legend=" {{ issue.caption }}">
                            <p-button label="{{ issue.msg }}" (click)="issue.solution()" *ngIf="issue.solution"></p-button>
                            <p *ngIf="!issue.solution">{{ issue.msg }}</p>
                        </p-fieldset>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<setup-footer></setup-footer>