.pointer,
input {
  cursor: pointer;
}

.ok {
  color: green;
}

.error {
  color: red;
}

button {
  width: 100% !important;
  height: 64px;
  background-color: green !important;
}

.well {
  background-color: whitesmoke;
  border: 1px solid silver;
  padding: 10px;
}

.well * {
  display: inline;
  margin-left: 15px;
}

.well.issues * {
  display: block;
}

.well.issues {
  background-color: LightSalmon;
  color: white;
}

.well.issues h3 {
  color: white;
}

.ui-fieldset-legend,
.ui-fieldset-legend-text {
  color: red;
  font-weight: bold;
}
/* 
.logo {
  height: 128px;
  padding: 0px;
  margin: 0px;
}
 */

 h2.updated {
   color: green;
 }

 h2.old {
   color: tomato;
 }