<!-- <br>loja: {{ loja | json }}
<br>turno: {{ turno | json }}
<br>operador: {{ operador | json }}
<br>caixa: {{ caixa | json }} -->
<div *ngIf="operador && turno && caixa">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li class="active">Home</li>
    </ol>

    <div class="container tiles">
        <!-- responsive-tiles -->
        <div class="row">
            <!-- sair -->
            <div class="col-md-2 col-xs-4">
                <div id="one" class="tile green" [routerLink]="['/login']" (window:resize)="onResize($event)">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Sair</p>
                                    <i class="icon-logout fa-3x"></i>
                                </h3>
                                <p class="note">[&nbsp;Q&nbsp;]</p>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Sair do operador em uso.</p>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- turno -->
            <div class="col-md-4 col-xs-8">
                <div class="tile red" [routerLink]="['/movimento/turno']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Turno</p>
                                    <i class="icon-time fa-3x"></i>
                                    <strong class="fa-3x" *ngIf="turno.tur_i_nro > 0;else turnoFechado">&nbsp;{{ turno.tur_i_nro }}</strong>
                                    <ng-template #turnoFechado>
                                        <p>Fechado</p>
                                    </ng-template>
                                </h3>
                                <p class="note">[&nbsp;T&nbsp;]</p>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Movimento de turno.</p>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- seu caixa -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_caixa_pdv && turno.tur_i_nro > 0">
                <div class="tile red" [routerLink]="['/movimento/caixa']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Seu caixa</p>
                                    <p class="highlight">{{ caixa.cai_pk > 0 ? 'Aberto' : 'Fechado' }}</p>
                                    <i class="icon-money-bag fa-3x"></i>
                                </h3>
                                <p class="note">[&nbsp;X&nbsp;]</p>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Seu caixa.</p>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- lcto comandas -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_lcto_comandas && turno.tur_i_nro > 0">
                <div class="tile comandas" [routerLink]="['/comandas/lcto']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Lcto comandas</p>
                                    <i class="icon-list fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Lcto comanda.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;C&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- consulta comandas -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_lcto_comandas && turno.tur_i_nro > 0">
                <div class="tile comandas" [routerLink]="['/comandas/consulta/mapa']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Consulta comandas</p>
                                    <i class="icon-search fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Consulta comandas.</p>
                                </h3>
                            </div>
                        </div>
                        <p class="note">[&nbsp;E&nbsp;]</p>
                    </div>
                </div>
            </div>

            <!-- caixa comandas -->
            <div class="col-md-4 col-xs-8" *ngIf="operador.actions.act_caixa_comandas && turno.tur_i_nro > 0">
                <div class="tile comandas" [routerLink]="['/comandas/caixa', 0]">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Caixa comandas</p>
                                    <i class="icon-money fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Recebimento e fechamento de comandas.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;F&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- lcto mesas -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_lcto_mesas && turno.tur_i_nro > 0">
                <div class="tile mesas" [routerLink]="['/mesas/lcto/mapa']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Lcto mesas</p>
                                    <i class="icon-table fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Lcto em mesa.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;M&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- consulta mesas -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_lcto_mesas && turno.tur_i_nro > 0">
                <div class="tile mesas" [routerLink]="['/mesas/consulta/mapa']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Consulta mesas</p>
                                    <i class="icon-search fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Consulta mesas.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;N&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- caixa mesas -->
            <div class="col-md-4 col-xs-8" *ngIf="operador.actions.act_caixa_mesas && turno.tur_i_nro > 0">
                <div class="tile mesas" [routerLink]="['/mesas/caixa/mapa']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Caixa mesas</p>
                                    <i class="icon-money fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Operações, recebimento e fechamento de mesas.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;O&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- lcto delivery -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_lcto_delivery && turno.tur_i_nro > 0">
                <div class="tile delivery" [routerLink]="['/delivery/lcto']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Lcto delivery</p>
                                    <i class="icon-delivery fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Lcto pedido do delivery.</p>
                                </h3>
                            </div>
                        </div>
                        <p class="note">[&nbsp;D&nbsp;]</p>
                    </div>
                </div>
            </div>

            <!-- pedidos delivery -->
            <div class="col-md-4 col-xs-8" *ngIf="operador.actions.act_pedidos_delivery && turno.tur_i_nro > 0">
                <div class="tile delivery" [routerLink]="['/delivery/pedidos']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Pedidos delivery</p>
                                    <i class="icon-bullets fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Manutenção de pedidos do delivery.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;P&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- caixa delivery -->
            <div class="col-md-4 col-xs-8" *ngIf="operador.actions.act_caixa_delivery && turno.tur_i_nro > 0">
                <div class="tile delivery" [routerLink]="['/delivery/caixa']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Caixa delivery</p>
                                    <i class="icon-money fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Recebimento de pedidos do delivery.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;H&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- lcto senhas -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_lcto_senhas && turno.tur_i_nro > 0">
                <div class="tile senhas" [routerLink]="['/senhas/lcto']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Lcto senhas</p>
                                    <i class="icon-hashtag fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Lcto de senhas.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;S&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- lcto balcão -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_lcto_balcao && turno.tur_i_nro > 0">
                <div class="tile balcao" [routerLink]="['/balcao/lcto']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Lcto balcão</p>
                                    <i class="icon-cart fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Lcto balcão.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;B&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- lcto perda -->
            <div class="col-md-2 col-xs-4" *ngIf="turno.tur_i_nro > 0">
                <div class="tile brown" [routerLink]="['/estoque/perda']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Perda</p>
                                    <i class="icon-minus fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Perda.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;R&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- config -->
            <div class="col-md-2 col-xs-4" *ngIf="operador.actions.grp_config">
                <div class="tile slateblue" [routerLink]="['/config']">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="caption">
                                    <p>Config</p>
                                    <i class="icon-gear fa-3x"></i>
                                </h3>
                            </div>
                            <div class="item">
                                <h3 class="caption">
                                    <p>Configurações.</p>
                                </h3>
                            </div>
                            <p class="note">[&nbsp;G&nbsp;]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>