<!-- 
<br>turno: {{ turno | json }}
<br>operador: {{ operador | json }}
<br>config: {{ config | json }}
-->
<div *ngIf="turno && operador && config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Movimento</li>
        <li class="active">Turno</li>
    </ol>

    <div class="row">
        <div class="hidden-xs col-sm-2" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Turno
                        <span class="icon-time pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir&nbsp;[&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-left pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <!-- <button type="button" class="list-group-item" (click)="onAbrirTurnoClick()" *ngIf="turno.tur_i_nro == 0">
                        Abrir turno
                        <span class="icon-unlocked pull-right"></span>
                    </button> -->
                    <!-- <button type="button" class="list-group-item" (click)="onFecharTurnoClick()" *ngIf="turno.tur_i_nro > 0">
                        Fechar turno
                        <span class="icon-locked pull-right"></span>
                    </button> -->
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-6">
                    <div *ngIf="turno.tur_i_nro == 0;else turnoaberto">
                        <div *ngIf="operador.ope_b_act_turno_abrir;else naoPodeAbrir">
                            <div class="jumbotron">
                                <button type="button" class="btn btn-lg btn-block btn-success" (click)="onAbrirTurnoClick()">
                                    Abrir turno
                                    <span class="icon-unlocked pull-right"></span>
                                </button>
                            </div>
                        </div>
                        <ng-template #naoPodeAbrir>
                            <div class="alert alert-danger" role="alert">
                                Turno fechado.
                                <strong>Você não tem autorização para efetuar sua abertura.</strong>
                            </div>
                        </ng-template>
                    </div>

                    <ng-template #turnoaberto>
                        <div *ngIf="operador.ope_b_act_turno_fechar;else naoPodeFechar">
                            <!-- <div class="alert alert-danger" role="alert" *ngIf="errosApi.turno">
                                <div class="input-error">
                                    {{ errosApi.turno }}
                                    <span class="icon-redo pull-right"></span>
                                </div>
                            </div> -->
                            <button type="button" class="btn btn-lg btn-block btn-danger" (click)="onFecharTurnoClick()">
                                Fechar turno
                                <span class="icon-locked pull-right"></span>
                            </button>
                            <blockquote>
                                <h4>Aberto em {{ turno.tur_dt_criado_em | date }}</h4>
                                <small>por {{ turno.tur_c_ope_abertura }}</small>
                            </blockquote>
                        </div>

                        <ng-template #naoPodeFechar>
                            <div class="alert alert-danger" role="alert">
                                Turno aberto.
                                <strong>Você não tem autorização para efetuar seu fechamento.</strong>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>

                <div class="col-sm-6" *ngIf="turno.tur_i_nro > 0 && operador.ope_b_act_turno_fechar">
                    <pdv-pendencias-turno></pdv-pendencias-turno>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- 


        

            
        </div>
    </div>


     -->