<div *ngIf="config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Gerais</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            Balcão
                            <span class="icon-printer pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">

                <div class="row">
                    <div class="col-sm-9">
                        <!-- <blockquote>Informações gerais</blockquote> -->
                    </div>

                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>Emissão de cupons</blockquote>

                            <!-- cnf_e_via_prod_bal -->
                            <div class="form-group">
                                <label for="cnf_e_via_prod_bal" class="control-label">No lançamento ( via produção )</label>
                                <select #cnf_e_via_prod_bal="ngModel" class="form-control mousetrap" id="cnf_e_via_prod_bal" name="cnf_e_via_prod_bal" [(ngModel)]="config.cnf_e_via_prod_bal"
                                    onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>

                            <!-- cnf_e_via_cai_bal -->
                            <div class="form-group">
                                <label for="cnf_e_via_cai_bal" class="control-label">No fechamento ( via caixa )</label>
                                <select #cnf_e_via_cai_bal="ngModel" class="form-control mousetrap" id="cnf_e_via_cai_bal" name="cnf_e_via_cai_bal" [(ngModel)]="config.cnf_e_via_cai_bal"
                                    onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </form>
</div>