.display {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: steelblue;
    /*steelblue;*/
    color: white;
    border: 1px solid silver;
    height: 10rem;
    margin-bottom: 0.1rem;
}

.display .caption {
    position: absolute;
    top: 10px;
    left: 5px;
    opacity: 0.8;
    margin-left: 1rem;
    font-size: 3rem;
    color: yellow;
}

.display .subcaption {
    position: absolute;
    bottom: 10px;
    left: 5px;
    opacity: 0.8;
    margin-left: 1rem;
    font-size: 2rem;
    color: white;
}

.display .value {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 6rem;
    margin-right: 8px;
}
