<div class="display">
    <span class="caption">{{ caption }}</span>
    <span class="subcaption" *ngIf="subcaption">{{ subcaption }}</span>
    <span class="value">{{ value | number:'1.2-2' }}</span>
</div>