<!-- {{ impressora | json }} -->
<div *ngIf="impressora">
    <div class="modal-header text-center">
        <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
            <span class="icon-refresh"></span>
        </button> -->
        <h4 class="modal-title">
            {{ caption }}
            <!-- <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}</div> -->
        </h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="impressora">
            <blockquote>Informações gerais</blockquote>

            <div class="row">
                <div class="col-sm-6">
                    <!-- imp_c_impressora -->
                    <div class="form-group" [ngClass]="{ 'has-error': fv.erro(imp_c_impressora, 'impressora'), 'has-success': fv.erro(imp_c_impressora, 'impressora')==''}">
                        <label for="imp_c_impressora" class="control-label">Nome</label>
                        <input #imp_c_impressora="ngModel" type="text" class="form-control mousetrap" id="imp_c_impressora" name="imp_c_impressora"
                            [ngModel]="impressora.imp_c_impressora" [focus]="onImpressorasEditModalFocusEvent" required maxlength="20"
                            onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(imp_c_impressora, 'impressora')" [is-valid]="fv.erro(imp_c_impressora, 'impressora')==''"
                            [msg]="fv.erro(imp_c_impressora, 'impressora')"></hyp-form-control-error>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- imp_e_tipo -->
                    <div class="form-group" [ngClass]="{'has-error': imp_e_tipo.invalid, 'has-success': imp_e_tipo.valid}">
                        <label for="imp_e_tipo" class="control-label">Tipo conexão</label>
                        <select #imp_e_tipo="ngModel" class="form-control mousetrap" id="imp_e_tipo" name="imp_e_tipo" [(ngModel)]="impressora.imp_e_tipo"
                            (change)="onTipoChange()" required onReturn>
                            <!-- <option value="">-- Selecione --</option> -->
                            <option value="S">Nenhuma</option>
                            <option value="C">Compartilhada</option>
                            <option value="R">Rede</option>
                        </select>
                        <hyp-form-control-error [is-error]="imp_e_tipo.invalid" [is-valid]="imp_e_tipo.valid"></hyp-form-control-error>
                    </div>
                </div>
            </div>

            <div class="row">
                <div *ngIf="impressora.imp_e_tipo == 'R'">
                    <div class="col-sm-6">
                        <!-- imp_c_ip -->
                        <div class="form-group" [ngClass]="{ 'has-error': fv.erro(imp_c_ip, 'ip'), 'has-success': fv.erro(imp_c_ip, 'ip')==''}">
                            <label for="imp_c_ip" class="control-label">IP</label>
                            <input #imp_c_ip="ngModel" type="text" class="form-control mousetrap" id="imp_c_ip" name="imp_c_ip" [ngModel]="impressora.imp_c_ip"
                                maxLength="15" required onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(imp_c_ip, 'ip')" [is-valid]="fv.erro(imp_c_ip, 'ip')==''" [msg]="fv.erro(imp_c_ip, 'ip')"></hyp-form-control-error>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- imp_i_porta -->
                        <div class="form-group" [ngClass]="{ 'has-error': fv.erro(imp_i_porta, 'porta'), 'has-success': fv.erro(imp_i_porta, 'porta')==''}">
                            <label for="imp_i_porta" class="control-label">Porta de comunicação</label>
                            <input #imp_i_porta="ngModel" type="text" integer class="form-control mousetrap text-right" id="imp_i_porta" name="imp_i_porta" [ngModel]="impressora.imp_i_porta"
                                required maxLength="15" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(imp_i_porta, 'porta')" [is-valid]="fv.erro(imp_i_porta, 'porta')==''" [msg]="fv.erro(imp_i_porta, 'porta')"></hyp-form-control-error>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" *ngIf="impressora.imp_e_tipo == 'C'">
                    <!-- imp_c_windows -->
                    <div class="form-group" [ngClass]="{ 'has-error': fv.erro(imp_c_windows), 'has-success': fv.erro(imp_c_windows)==''}">
                        <label for="imp_c_windows" class="control-label">Nome compartilhamento Windows</label>
                        <input #imp_c_windows="ngModel" type="text" class="form-control mousetrap" id="imp_c_windows" name="imp_c_windows" [ngModel]="impressora.imp_c_windows"
                            maxLength="20" required onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(imp_c_windows)" [is-valid]="fv.erro(imp_c_windows)==''" [msg]="fv.erro(imp_c_windows)"></hyp-form-control-error>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- imp_i_colunas -->
                    <div class="form-group" [ngClass]="{ 'has-error': fv.erro(imp_i_colunas, 'colunas'), 'has-success': fv.erro(imp_i_colunas, 'colunas')==''}">
                        <label for="imp_i_colunas" class="control-label">Colunas</label>
                        <input #imp_i_colunas="ngModel" type="text" integer class="form-control mousetrap text-right" id="imp_i_colunas" name="imp_i_colunas"
                            [ngModel]="impressora.imp_i_colunas" required maxLength="15" onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(imp_i_colunas, 'colunas')" [is-valid]="fv.erro(imp_i_colunas, 'colunas')==''"
                            [msg]="fv.erro(imp_i_colunas, 'colunas')"></hyp-form-control-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <!-- imp_b_ativo -->
                    <div class="form-group">
                        <label for="imp_b_ativo"></label>
                        <div class="checkbox">
                            <label>
                                <input #imp_b_ativo="ngModel" type="checkbox" id="imp_b_ativo" name="imp_b_ativo" [ngModel]="impressora.imp_b_ativo" onReturn> Ativa
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row padding">
                <div class="col-sm-4">
                    <button type="button" class="btn btn-block btn-default" (click)="bsModalRef.hide()">
                        Cancelar
                        <span class="icon-chevron-l pull-left"></span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-block btn-info" (click)="onTornarPadraoClick()" *ngIf="!impressora.imp_b_padrao">
                        Tornar padrão
                        <span class="icon-favorite pull-right"></span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                        Salvar
                        <span class="icon-check pull-right"></span>
                    </button>
                </div>
            </div>
            <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
        </form>
    </div>
    <!-- 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
    </div> 
    -->
</div>