<div class="modal-header text-center">
    <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
        <span class="icon-refresh"></span>
    </button> -->
    <h4 class="modal-title">
        Selecione impressora
        <!-- <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}</div> -->
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="default-cursor">Impressora</th>
                        <th class="default-cursor">Conexão</th>
                        <th class="default-cursor text-right">Colunas</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let impressora of impressoras" (click)="onImpressoraClick(impressora)">
                        <td>{{ impressora.imp_c_impressora }}</td>

                        <td>{{ impressora.imp_c_conexao }}</td>

                        <td class="text-right">{{ impressora.imp_i_colunas }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="padding" *ngIf="impressoras?.length == 0">
                <div class="alert alert-warning" role="alert">Nenhuma impressora encontrada.</div>
            </div>
        </div>
    </div>

    <div class="padding">
        <blockquote>
            Exportar para
        </blockquote>

        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" (click)="onExportClick(-1)">
                            PDF&nbsp;
                            <span class="icon-pdf"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info" (click)="onExportClick(-2)">
                            TXT&nbsp;
                            <span class="icon-txt"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="onExportClick(-3)">
                            Excel&nbsp;
                            <span class="icon-xls"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->