@import "assets/styles/_config";
@import "assets/styles/bootstrap";
@import "assets/styles/fa";
@import "assets/styles/sidebar";
@import "assets/styles/metro";
@import "assets/styles/modal";
@import "assets/styles/navbar";

html {
  position: relative;
  min-height: 100%;
  /* background-image: linear-gradient(62deg, #3c2152, #5d339f 53%, #6741ca),
    linear-gradient(62deg, #3c2152, #5d339f 53%, #6741ca); */
}

.padding {
  padding: 0.5rem;
}

.input-error {
  color: tomato;
  font-style: italic;
}

.input-success {
  color: green;
}

.navp /deep/ .ngx-pagination {
  padding-left: 0px;
  padding-right: 0px;
}

.navp /deep/ ul.ngx-pagination li {
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.heading {
  color: silver;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 1px dashed silver;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.heading .btn.pull-right {
  color: silver;
  border: none;
}

.perc::after {
  content: "%";
  color: gray;
}
