@import '../../../../../../assets/styles/_config';
.modal-header {
    background-color: $bkcolor;
    color: $fgcolor;
}

.modal-header h4 {
    display: inline;
}

.modal-header .badge {
    background-color: white;
    color: black;
}

.modal-header button.close {
    color: white;
    opacity: 0.7;
}

textarea {
    font-family: "Courier New", Courier, monospace;
}

.modal-footer button {
    width: 150px;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr.inativo.sel td,
table tbody tr.sel td {
    background-color: GreenYellow !important;
    color: green !important;
}

span.unchecked {
    color: tomato !important;
}

span.warning {
    font-family: Verdana, Geneva, sans-serif;
    color: gray;
}