// @import "~@ng-select/ng-select/themes/default.theme.css";
// @import "~@ng-select/ng-select/themes/material.theme.css";
@import 'assets/styles/_config';
@import 'assets/styles/bootstrap';
@import 'assets/styles/fa';
@import 'assets/styles/sidebar';
@import 'assets/styles/metro';
@import 'assets/styles/modal';
@import 'assets/styles/navbar';

html {
    position: relative;
    min-height: 100%;
}

.error-scrn {
    width: 100vh;
    height: 100vw;
}

.padding {
    padding: 0.5rem;
}

.input-error {
    color: tomato;
    font-style: italic;
}

.input-success {
    color: green;
}

.navp /deep/ .ngx-pagination {
    padding-left: 0px;
    padding-right: 0px;
}

.navp /deep/ ul.ngx-pagination li {
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.heading {
    color: silver;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 1px dashed silver;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.heading .btn.pull-right {
    color: silver;
    border: none;
}

ul>li>a>span.icon.ion-close {
    color: silver;
}

ul li a .nro {
    color: $bkcolor;
    font-size: 130%;
    font-weight: bold;
}