.divider {
    background-color: lightgray;
    color: gray;
    text-shadow: 0 1px 0 white;
    /*
      border-top: 1px solid darkgray;
      border-bottom: 2px solid darkgray;
      */
    border: 1px solid #a9a9a9;
    width: 100%;
    padding: 0.2rem 0.2rem 0.2rem 0.8rem;
    vertical-align: middle;
    height: 40px;
    padding-top: 10px;
    font-size: 120%;
    font-weight: bold;
}

.divider.active {
    background-color: darkseagreen;
    color: white;
    border-top: 1px solid MediumSeaGreen;
    border-bottom: 3px solid MediumSeaGreen;
    text-shadow: 0 1px 0 mediumseagreen;
}

.divider .label {
    background-color: white;
    color: gray;
    margin-top: 0.1rem;
    margin-right: 0.5rem;
    text-shadow: none;
}

.divider .pull-left {
    cursor: pointer;
    margin-left: 10px;
}

.divider {
}

.divider button {
    margin-top: -8px;
    /*margin-right: -2px;*/
    /*font-size: 120%;*/
}