<!-- {{ grupo | json }} -->
<div *ngIf="grupos">
    <div *ngIf="!grupo;else grupoSel">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a>
                    Selecione grupo&nbsp;
                    <span>
                        <div class="badge" *ngIf="grupos">{{ grupos.length }}</div>
                    </span>
                </a>
            </li>
        </ul>

        <!-- <div class="divider text-center">
            Selecione grupo
        </div> -->

        <ul class="thumbs">
            <li *ngFor="let grupo of grupos">
                <a (click)="onGrupoClick(grupo)">
                    <img [src]="onGaleriaGet(grupo.gru_c_img)" alt="" class="img-responsive">
                    <span class="caption">
                        <strong>{{ grupo.gru_c_grupo }}</strong>
                    </span>
                </a>
            </li>
        </ul>

        <div class="alert alert-warning" role="alert" *ngIf="grupos.length == 0">
            Nenhum grupo encontrado.
        </div>
    </div>

    <ng-template #grupoSel>
        <ul class="nav nav-tabs">
            <li role="presentation" class="disabled">
                <a>
                    Grupo&nbsp;{{ grupo.gru_c_grupo }}
                </a>
            </li>
            <li role="presentation" class="active">
                <a>
                    Selecione produto&nbsp;
                    <span>
                        <div class="badge" *ngIf="produtos">{{ produtos.length }}</div>
                    </span>&nbsp;
                    <span class="icon-cancel" (click)="onLimpaProduto()"></span>
                </a>
            </li>
        </ul>
        <!-- <div class="divider text-center">
            <span class="icon ion-chevron-left pull-left" (click)="grupo=null;"></span>
            Grupo&nbsp;{{ grupo.gru_c_grupo }}
        </div> -->

        <div *ngIf="produtos">
            <ul class="thumbs">
                <li *ngFor="let produto of produtos">
                    <a (click)="onProdutoClick(produto)">
                        <img [src]="onGaleriaGet(produto.pro_c_img)" alt="" class="img-responsive">
                        <span class="caption">
                            <strong>{{ produto.pro_c_produto }}</strong>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="alert alert-warning" role="alert" *ngIf="produtos.length == 0">
                Nenhum produto encontrado nesse grupo.
            </div>
        </div>
    </ng-template>
</div>