<div class="row">
    <div class="col-xs-8">
        <div class="form-group padding">
            <div id="gruFiltro" class="input-group">
                <input type="text" class="form-control mousetrap" placeholder="Nome." [(ngModel)]="buffer" (keyup.enter)="onFilterReturnKey()"
                    [select]="onSelImgModalFocusEvent">
                <span class="input-group-addon">
                    <span class="icon-search"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="text-right padding">
            <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="thumbs">
            <li *ngFor="let img of images | paginate: pag.getPagInst()">
                <a (click)="onImgSelClick(img)">
                    <img [src]="img" alt="" class="img-responsive center-block">
                    <span class="caption">{{ filename(img) }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--  <div class="row padding" *ngIf="buffer.length < 4">
    <div class="col-xs-12">
        <div class="alert alert-warning">
            Digite ao menos 3 caracteres para ativar pesquisa.
        </div>
    </div>
</div> -->