<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Monitor de turno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  
</ion-content>