@import '../../../assets/styles/_config.scss';

/* Sticky footer styles
-------------------------------------------------- */

.navbar-fixed-bottom {
    background-color: $bkcolor;
    // position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footer_height;
    /*background-color: #f5f5f5;*/
}

.navbar-fixed-bottom strong {
    color: $fghcolor;
}

.navbar-fixed-bottom>.container,
.navbar-fixed-bottom>.container-fluid,
.navbar-fixed-bottom>.container,
.navbar-fixed-bottom>.container-fluid {
    padding: 15px;
    color: $fgcolor !important;
}

img {
    height: 36px;
}

