<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <span class="pull-right">
            <!-- &copy;&nbsp;Mix sistemas -->
            <img src="assets/img/logo_mix.png" alt="" tooltip="www.mixsistemas.com.br" placement="top">
        </span>
        <span class="pull-left" *ngIf="operador?.id > 0;else unlogged">
            Olá,
            <strong>{{ operador?.nome }}</strong>&nbsp;
            <button type="button" class="btn btn-default btn-xs" [routerLink]="['/login']" tooltip="Sair" placement="top">
                <i class="icon-logout"></i>
            </button>
        </span>
        <ng-template #unlogged>
            <span class="pull-left">Nenhum operador em uso</span>
        </ng-template>
    </div>
</footer>