<div *ngIf="info && config && terminal">
    <div class="row" *ngIf="terminal.ter_e_tipo != 'P'">
        <div class="col-xs-3">
            <div class="form-group">
                <label for="edtQtde">Qtde</label>
                <div class="input-group">
                    <input name="qtde" type="text" placeholder="Qtde" class="form-control mousetrap text-right" [ngModel]="info.qtde" readonly>
                </div>
            </div>
        </div>

        <div class="col-xs-1 sign">
            x
        </div>

        <div class="col-xs-6">
            <ng-template #customProdutoTemplate let-model="item">
                <!-- {{ model | json }} -->
                <h5>
                    <!-- <img [src]="onGaleriaGet(model.pro_c_img)" alt="" class="img-responsive"> -->
                    <strong>{{ model.pro_c_cod }}</strong>: {{ model.pro_c_produto}} :
                    <strong>{{ model.pro_f_preco_venda | number:'1.2-2' }}</strong>
                </h5>
            </ng-template>

            <div class="form-group">
                <label for="buffer">Produto&nbsp;[&nbsp;{{ config.cnf_c_hotkey_procurar }}&nbsp;]</label>
                <div class="input-group">
                    <input id="buffer" name="buffer" type="text" class="form-control mousetrap" placeholder="Qtde * Cód/barras" autocomplete="off"
                        [(ngModel)]="info.buffer" typeaheadMinLength="3" [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)"
                        (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadScrollable]="true" [typeaheadItemTemplate]="customProdutoTemplate"
                        typeaheadOptionField="pro_c_produto" [select]="onSelProdutoFocusEvent" (keypress)="onProdutoKeypress($event)"
                        [typeaheadOptionsInScrollableView]="12" typeaheadGroupField="pro_c_grupo">
                    <span class="input-group-addon">
                        <span class="icon-search"></span>
                    </span>
                </div>
            </div> 
        </div>
    </div>

    <div *ngIf="thumbs">
        <hyp-produtos-thumbs (onSelect)="onThumbsProdutoSelect($event)"></hyp-produtos-thumbs>
    </div>
</div>