<div class="row">
    <div class="col-sm-4">
        <!-- tipo -->
        <div class="form-group" *ngIf="info">
            <label for="tipo" class="control-label">Tipo cupom</label>
            <select #tipo="ngModel" class="form-control mousetrap" id="tipo" name="tipo" [(ngModel)]="info.tipo" (change)="onTipoChange()"
                [focus]="onSaldoComandaFocusEvent" onReturn>
                <option value="N">Normal</option>
                <option value="R">Resumido</option>
                <option value="D">Detalhado</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4 col-sm-offset-4">
        <div class="form-group">
            <label class="control-label"></label>
            <button class="btn btn-info btn-block" (click)="onImprimeSaldoClick();">
                <span *ngIf="config"> Imprimir [&nbsp;{{ config.cnf_c_hotkey_confirmar }}&nbsp;]
                    <span class="icon-printer pull-right"></span>
                </span>
            </button>
        </div>
    </div>
</div>

<div class="row" *ngIf="info">
    <div class="col-xs-12">
        <small *ngIf="info.tipo != 'R';else resumido">* Os lctos são
            <strong>exibidos em ordem decrescente</strong> e
            <strong>impressos em ordem crescente</strong> de data.</small>
        <ng-template #resumido>
            <small>* Os lctos são ordenados pelo
                <strong>nome de produto</strong>.</small>
        </ng-template>
        <textarea class="form-control mousetrap" rows="20" id="cupom" name="cupom" [(ngModel)]="preview" readonly></textarea>
    </div>
</div>