<div class="container-fluid">
    <div></div>
    <retag-navbar></retag-navbar>
    <ngx-spinner bdOpacity="0.9" bdColor="silver" size="medium" color="black" loadingText="Aguarde..." type="timer"></ngx-spinner>
    <ng2-toasty></ng2-toasty>
    <router-outlet></router-outlet>
    <retag-footer></retag-footer>
</div>