<div *ngIf="info && info.mesa && caixa && config && loja && operador">
    <!-- {{ info.mesa | json }} -->
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Mesas</li>
        <li>
            <a [routerLink]="['/mesas/caixa/mapa']">Caixa</a>
        </li>
        <li class="active">
            Mesa {{ nroMesa }}&nbsp;
            <span class="badge" *ngIf="info.filtered.count" (click)="onResetFilter()">{{ info.filtered.count }}
                <span class="icon-filter" *ngIf="filtered && info"></span>
            </span>
        </li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <span *ngIf="sel && sel.count > 0">
                        <button type="button" class="list-group-item active">
                            Seleção
                            <span class="badge">{{ sel.count }}</span>
                        </button>
                        <span class="list-group-item" style="cursor: default">
                            Total
                            <span class="pull-right total">
                                <strong>{{ sel.total | number:'1.2-2' }}</strong>
                            </span>
                        </span>
                        <!-- <button type="button" class="list-group-item" (click)="onMudarVendedorClick()">
                            Mudar vendedor
                            <span class="icon-chevron-r pull-right"></span>
                        </button> -->
                        <button type="button" class="list-group-item" (click)="onTransferirItensClick()">
                            Transferir itens
                            <span class="icon-chevron-r pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="onReceberItensClick()">
                            Receber itens
                            <span class="icon-chevron-r pull-right"></span>
                        </button>
                    </span>
                    <button type="button" class="list-group-item active">
                        Mesa
                        <span class="pull-right">#{{ nroMesa }}</span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onMoverParaClick();">
                        Mover para
                        <span class="icon-chevron-r pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onBloqueioToggleClick();">
                        {{ bloq }}
                        <span class="icon-chevron-r pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onCupomSaldoClick()">
                        Cupom saldo
                        <span class="icon-chevron-r pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item active">
                        Caixa mesas
                        <span class="icon-money pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir&nbsp;[&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onVoltarClick();">
                        Voltar
                        <span class="icon-undo2 pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRefresh()">
                        Atualizar
                        <span class="icon-refresh pull-right"></span>
                    </button>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div *ngIf="caixa.cai_pk > 0;else caixaFechado">
                <div class="row">
                    <div *ngIf="info.pendentes.count;else mesaVazia">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <!-- *ngIf="info.filtered.count" -->
                                <span class="input-group-addon">
                                    <span class="icon-filter"></span>
                                </span>
                                <input type="text" class="form-control mousetrap" placeholder="Nome [&nbsp;{{ config.cnf_c_hotkey_procurar }}&nbsp;]" [(ngModel)]="buffer"
                                    [select]="onMesaCaixaCaixaFocusEvent" (keyup.enter)="onRefresh();">
                            </div>

                            <table class="table table-condensed pedido">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" [(ngModel)]="this.selStatus" (click)="onSelToggleClick()">
                                            <!-- *ngIf="info.filtered.count" -->
                                        </th>
                                        <th class="text-right">h:min</th>
                                        <th class="text-right">Qtde</th>
                                        <th>Produto</th>
                                        <th class="text-right">Valor</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="info.filtered.rows">
                                    <tr *ngFor="let item of info.filtered.rows | paginate: pag.getPagInst()" [ngClass]="{ checked: item.itl_b_sel }">
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" [(ngModel)]="item.itl_b_sel" (change)="onSelChange()">
                                                </label>
                                            </div>
                                        </td>

                                        <td class="text-right">
                                            {{ item.itl_dt_criado_em | date: 'hh:mm' }}
                                            <small>
                                                <br>{{ item.itl_c_operador }}
                                            </small>
                                        </td>

                                        <td class="text-right qtde">
                                            {{ item.itl_f_qtde | number:'1.0-3' }}
                                        </td>

                                        <td class="produto">
                                            {{ item.itl_c_produto }}
                                            <small class="detalhes" *ngIf="item.itl_m_detalhes">
                                                <br/>{{ item.itl_m_detalhes }}
                                            </small>
                                        </td>

                                        <td class="text-right">
                                            <strong>{{ item.itl_f_consumo | number:'1.2-2' }}</strong>
                                        </td>

                                        <td class="text-right">
                                            <!-- <span class="dropdown">
                                                    <button class="btn btn-sm btn-link dropdown-toggle" type="button" id="cortarItem" data-toggle="dropdown">
                                                        <span class="icon-scissors big"></span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li *ngIf="item.itl_b_reagrupar">
                                                            <a (click)="onReagruparItemClick(item);">1 (Reagrupar)</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 2);">2</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 3);">3</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 4);">4</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 5);">5</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 6);">6</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 7);">7</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 8);">8</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 9);">9</a>
                                                        </li>
                                                        <li>
                                                            <a (click)="onDividirItemClick(item, 10);">10</a>
                                                        </li>
                                                    </ul>
                                                </span> -->

                                            <button class="btn btn-danger" type="button" tooltip="Cancelar" placement="top" (click)="onCancelarItem(item)">
                                                <span class="icon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row" *ngIf="info.filtered.count > 0">
                                <div class="col-xs-4 col-sm-3">
                                    <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                                </div>
                                <div class="col-xs-6 col-sm-9">
                                    <div class="text-right padding">
                                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                                    </div>
                                </div>
                            </div>

                            <div class="info-txt text-center" *ngIf="info.filtered.count == 0">
                                Nenhum lançamento encontrado.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="btn-group" role="group" [class.comandas]="loja.loj_b_mod_comandas">

                                <button type="button" class="btn btn-default" (click)="onAdicionarComandaClick()" *ngIf="loja.loj_b_mod_comandas">
                                    Adicionar comanda
                                    <span class="icon-attach pull-left"></span>
                                </button>

                                <button type="button" class="btn btn-primary">
                                    Consumo total ({{ info.total | number:'1.2-2' }})
                                    <span class="icon-printer pull-right"></span>
                                </button>
                                <button type="button" class="btn btn-success" (click)="onFecharMesaClick()">
                                    Fechar&nbsp;[&nbsp;{{ config.cnf_c_hotkey_concluir }}&nbsp;]
                                    <span class="icon-check pull-right"></span>
                                </button>
                            </div>

                            <hyp-display caption="Restante" subcaption="{{ info.pendentes.count }} ite{{ info.pendentes.count == 1 ? 'm' : 'ns' }}" [value]="info.pendentes.total"></hyp-display>

                            <table class="table table-condensed pedido">
                                <thead>
                                    <tr>
                                        <th>Descrição</th>
                                        <th class="text-right">Itens</th>
                                        <th class="text-right">Consumo</th>
                                        <th class="text-right">Taxa serv.</th>
                                        <th class="text-right">Total</th>
                                        <th> </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let detalhe of info.detalhes" [class.recebido]="!detalhe.pendente">
                                        <td>{{ detalhe.descricao }}</td>
                                        <td class="text-right">{{ detalhe.numItens }}</td>
                                        <td class="text-right">{{ detalhe.consumo | number:'1.2-2' }}</td>
                                        <td class="text-right">{{ detalhe.ts | number:'1.2-2' }}</td>
                                        <td class="text-right">{{ detalhe.total | number:'1.2-2' }}</td>
                                        <td class="text-right" *ngIf="detalhe.nroComanda > 0 && detalhe.pendente">
                                            <button class="btn btn-default" type="button" tooltip="Receber" placement="top" [routerLink]="['/comandas/caixa', detalhe.nroComanda]">
                                                <span class="icon-money"></span>
                                            </button>
                                            <button class="btn btn-info" type="button" tooltip="Transferir" placement="top" (click)="onMoverComandaClick(detalhe.nroComanda)">
                                                <span class="icon-redo2"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tbody>
                            </table>
                        </div>
                    </div>

                    <ng-template #mesaVazia>
                        <div class="col-sm-6">
                            <div class="jumbotron">
                                <h4>Nenhum consumo, mesa vazia.</h4>
                                <button type="button" class="btn btn-lg btn-block btn-danger" [routerLink]="['/mesas/caixa/mapa']">
                                    Liberar mesa.
                                    <span class="icon-trash pull-right"></span>
                                </button>
                                <button type="button" class="btn btn-lg btn-block btn-success" (click)="onNovoLcto();">
                                    Lançar na mesa.
                                    <span class="icon-plus pull-right"></span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>

            <ng-template #caixaFechado>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="jumbotron">
                            <button type="button" class="btn btn-lg btn-block btn-success" [routerLink]="['/movimento/caixa']">
                                Abrir caixa
                                <span class="icon-money pull-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>