.checked {
    background-color: GreenYellow // Chartreuse;
}

// table
.table {
    border: 1px solid whitesmoke;
}

.table thead tr th .badge,
.table tbody tr th .badge {
    font-weight: normal !important;
}

.table tbody tr td {
    vertical-align: middle;
    /* font-size: 90%; */
}

.table tbody tr td.qtde {
    color: gray;
}

/*
.table tbody tr td.produto {
    color: gray;
}
*/

table td small {
    color: gray;
    font-style: italic;
}

.big {
    font-size: 150%;
}

.pull-right.total {
    color: green !important;
}

// btn-group
.btn-group {
    background-color: white;
    width: 100%;
    margin-bottom: 2px;
}

.btn-group>.btn {
    width: 50%;
    height: 45px;
}

.btn-group.comandas>.btn {
    width: 33.3333%;
}

.recebido {
    text-decoration: line-through;
    color: tomato !important;
}