<ul class="nav nav-tabs" *ngIf="operador">
    <li role="presentation" class="disabled">
        <a>Cadastros</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_manut_pro">
        <a [routerLink]="['/cadastros/produtos/grade', 0]">
            <span class="icon-barcode"></span>&nbsp;Produtos
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_manut_ope">
        <a [routerLink]="['/cadastros/operadores/grade']">
            <span class="icon-id-card-v"></span>&nbsp;Operadores
        </a>
    </li>
    <!-- <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_manut_cli">
        <a [routerLink]="['/cadastros/clientes/grade']">
            <span class="fa fa-users"></span>&nbsp;Clientes
        </a>
    </li> -->
    <!-- <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_manut_for">
        <a [routerLink]="['/cadastros/fornecedores/grade']">
            <span class="icon ion-cube"></span>&nbsp;Fornecedores
        </a>
    </li> -->
    <!-- <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_manut_pro">
        <a [routerLink]="['/cadastros/detalhes/grade']">
            <span class="icon-more"></span>&nbsp;Detalhes
        </a>
    </li> -->
</ul>

<!-- {{ operador | json }} -->

<router-outlet></router-outlet>