<!-- {{ grupos | json }} -->
<div *ngIf="grupos && pag">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div id="gruProcura" class="input-group">
                    <input type="text" class="form-control mousetrap" placeholder="Nome." [(ngModel)]="buffer" (keyup.enter)="pag.setFilter(buffer)"
                        [select]="onGradeGruposFocusEvent">
                    <span class="input-group-addon">
                        <span class="icon-filter"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn-block btn-info" (click)="onNovoClick()">
                Novo
                <span class="icon-plus pull-right"></span>
            </button>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn-block btn-secondary" (click)="onRelatorioGruposClick()">
                Relatório
                <span class="icon-printer pull-right"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="default-cursor"></th>
                        <th class="default-cursor"></th>
                        <th (click)="pag.setSortingField('gru_c_grupo');">Grupo&nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'gru_c_grupo'"></i>
                        </th>
                        <th (click)="pag.setSortingField('gru_c_impressora');">Impressora &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'gru_c_impressora'"></i>
                        </th>
                        <!-- <th (click)="pag.setSortingField('gru_i_num_detalhes');" class="text-right">Qtde detalhes &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'gru_i_num_detalhes'"></i>
                        </th> -->
                        <th (click)="pag.setSortingField('gru_f_perc_lim_desc')" class="text-right">% limite desconto &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'gru_f_perc_lim_desc'"></i>
                        </th>
                        <th (click)="pag.setSortingField('gru_f_perc_lim_comissao_vendas')" class="text-right">% limite comissão venda &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'gru_f_perc_lim_comissao_vendas'"></i>
                        </th>
                        <th class="default-cursor"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let grupo of grupos | paginate: pag.getPagInst()" [class.inativo]="!grupo.gru_b_ativo">
                        <td>
                            <img [src]="onGaleriaGet(grupo.gru_c_img)" alt="" class="img-responsive" (click)="onImgClick(grupo.gru_c_img)">
                        </td>

                        <td>
                            <div [ngClass]="{'icon-checked': grupo.gru_b_ativo, 'icon-unchecked': !grupo.gru_b_ativo}"></div>
                        </td>

                        <td>
                            <a (click)="onGrupoClick(grupo.gru_c_grupo)">{{ grupo.gru_c_grupo }}</a>
                        </td>

                        <td>{{ grupo.gru_c_impressora }}</td>

                        <!-- <td class="text-right">
                            <button type="button" class="btn btn-default" (click)="onDetalhesModalOpenClick(grupo)">
                                <span class="icon-search"></span>&nbsp; {{ grupo.gru_i_num_detalhes }}
                            </button>
                        </td> -->

                        <td class="text-right perc">{{ grupo.gru_f_perc_lim_desc }}</td>

                        <td class="text-right perc">{{ grupo.gru_f_perc_lim_comissao_vendas }}</td>

                        <td>
                            <button type="button" class="btn btn-primary pull-right" tooltip="Modificar" placememt="top" (click)="onEditClick(grupo)">
                                <span class="icon-edit"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="padding" *ngIf="grupos.length == 0">
                <div class="alert alert-warning" role="alert">Nenhum grupo encontrado.</div>
            </div>
        </div>
    </div>

    <div class="text-right padding">
        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>