<!-- {{ modalData | json }} -->
<div class="modal-header text-center">
    <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
        <span class="icon-refresh"></span>
    </button> -->
    <h4 class="modal-title">
        {{ modalData.caption }}
        <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}
            <span class="icon-filter" *ngIf="modalData.filtered"></span>
        </div>
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">

    <!-- <button (click)="modalData.pag='gra'">Grade</button>
    <button (click)="modalData.pag='edi'">Edit</button>
    <button (click)="modalData.pag='img'">Sel img.</button>
    pag: {{ pag }} -->

    <div [ngSwitch]="modalData.pag">
        <div *ngSwitchCase="'edi'">
            <retag-grupo-edit [id]="modalData.id" [img]="modalData.img" (onChange)="onPagChanged($event)"></retag-grupo-edit>
        </div>
        <div *ngSwitchCase="'img'">
            <retag-sel-img [isPublic]="modalData.isPublic" [path]="modalData.path" (onSelected)="onImgSelected($event)"></retag-sel-img>
        </div>
        <div *ngSwitchDefault>
            <retag-grupos-grade (onChange)="onPagChanged($event)"></retag-grupos-grade>
        </div>
    </div>
</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->