<!-- {{ grupo | json }} -->
<div *ngIf="grupo">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- <input #fileInput type="file" #file style="display: none;" accept="image/jpeg" (change)="onFilesChange(file.files)" enctype="multipart/form-data"> -->
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-7">
                        <!-- <blockquote>Informações gerais</blockquote> -->
                        <!-- gru_c_grupo -->
                        <div class="form-group" [ngClass]="{ 'has-error': fv.erro(gru_c_grupo, 'grupo'), 'has-success': fv.erro(gru_c_grupo, 'grupo')==''}">
                            <label for="gru_c_grupo" class="control-label">Nome</label>
                            <input #gru_c_grupo="ngModel" type="text" class="form-control mousetrap" id="gru_c_grupo" name="gru_c_grupo" [ngModel]="grupo.gru_c_grupo"
                                [select]="onGruposEditModalFocusEvent" required maxLength="20" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(gru_c_grupo, 'grupo')" [is-valid]="fv.erro(gru_c_grupo, 'grupo')==''" [msg]="fv.erro(gru_c_grupo, 'grupo')"></hyp-form-control-error>
                        </div>

                        <div>
                            <!-- gru_fk_impressora -->
                            <div class="form-group" [ngClass]="{'has-error': gru_fk_impressora.invalid, 'has-success': gru_fk_impressora.valid}">
                                <label for="gru_fk_impressora" class="control-label">Ponto de impressão</label>
                                <select #gru_fk_impressora="ngModel" class="form-control mousetrap" id="gru_fk_impressora" name="gru_fk_impressora" [(ngModel)]="grupo.gru_fk_impressora"
                                    onReturn>
                                    <option value="">-- Nenhum --</option>
                                    <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{ impressora.imp_c_impressora }}</option>
                                </select>
                                <hyp-form-control-error [is-error]="gru_fk_impressora.invalid" [is-valid]="gru_fk_impressora.valid"></hyp-form-control-error>
                            </div>
                        </div>

                        <!-- gru_b_ativo -->
                        <div class="form-group">
                            <label for="gru_b_ativo"></label>
                            <div class="checkbox">
                                <label>
                                    <input #gru_b_ativo="ngModel" type="checkbox" id="gru_b_ativo" name="gru_b_ativo" [ngModel]="grupo.gru_b_ativo" onReturn> Ativo
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <blockquote>
                            Imagem
                            <small *ngIf="grupo.gru_c_img">{{ grupo.gru_c_img }}</small>
                        </blockquote>

                        <div class="btn-group-vertical padding" role="group">
                            <button type="button" class="btn btn-block btn-default" (click)="onGaleriaPublicaClick()">
                                Galeria pública
                                <span class="icon-unlocked pull-right"></span>
                            </button>
                            <button type="button" class="btn btn-block btn-default" (click)="onGaleriaPrivadaClick()">
                                Galeria privada
                                <span class="icon-locked pull-right"></span>
                            </button>
                            <!-- <button type="button" class="btn btn-block btn-default" (click)="onAdicionarImgClick()">
                                    Adicionar imagem
                                    <span class="icon-plus pull-right"></span>
                                </button> -->
                            <button type="button" class="btn btn-block btn-default" (click)="grupo.gru_c_img = ''" *ngIf="grupo.gru_c_img">
                                Remover imagem
                                <span class="icon-cancel pull-right"></span>
                            </button>
                        </div>

                        <div class="padding">
                            <img [src]="onGaleriaGet(grupo.gru_c_img)" alt="" class="img-responsive center-block" (click)="onImgClick(grupo.gru_c_img)">
                            <!-- assets/img/comandas.png -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <!-- <blockquote>
                        Índices
                    </blockquote> -->

                    <!-- gru_f_perc_lim_desc -->
                    <div class="form-group" [ngClass]="{'has-error': fv.erro(gru_f_perc_lim_desc, 'percLimDesc'), 'has-success': fv.erro(gru_f_perc_lim_desc, 'percLimDesc') == ''}">
                        <label for="gru_f_perc_lim_desc" class="control-label">% limite desconto</label>
                        <input #gru_f_perc_lim_desc="ngModel" type="text" decimal class="form-control mousetrap text-right" id="gru_f_perc_lim_desc"
                            name="gru_f_perc_lim_desc" [ngModel]="grupo.gru_f_perc_lim_desc" [min]="0" [max]="100" onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(gru_f_perc_lim_desc, 'percLimDesc')" [is-valid]="fv.erro(gru_f_perc_lim_desc, 'percLimDesc') == ''"
                            [msg]="fv.erro(gru_f_perc_lim_desc, 'percLimDesc')"></hyp-form-control-error>
                    </div>

                    <!-- gru_f_perc_lim_comissao_vendas -->
                    <div class="form-group" [ngClass]="{'has-error': fv.erro(gru_f_perc_lim_comissao_vendas, 'percLimComissaoVendas'), 'has-success': fv.erro(gru_f_perc_lim_comissao_vendas, 'percLimComissaoVendas') == ''}">
                        <label for="gru_f_perc_lim_comissao_vendas" class="control-label">% limite comissão vendas&nbsp;
                            <span class="icon-question-coin" tooltip='Limita % COMISSÃO VENDAS em OPERADORES.' placement="top"></span>
                        </label>
                        <input #gru_f_perc_lim_comissao_vendas="ngModel" type="text" decimal class="form-control mousetrap text-right" id="gru_f_perc_lim_comissao_vendas"
                            name="gru_f_perc_lim_comissao_vendas" [ngModel]="grupo.gru_f_perc_lim_comissao_vendas" [min]="0"
                            [max]="100" onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(gru_f_perc_lim_comissao_vendas, 'percLimComissaoVendas')" [is-valid]="fv.erro(gru_f_perc_lim_comissao_vendas, 'percLimComissaoVendas') == ''"
                            [msg]="fv.erro(gru_f_perc_lim_comissao_vendas, 'percLimComissaoVendas')"></hyp-form-control-error>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row padding">
            <div class="col-sm-4">
                <button type="button" class="btn btn-block btn-default" (click)="onCancelarClick()">
                    Cancelar
                    <span class="icon-chevron-l pull-left"></span>
                </button>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                    Salvar
                    <span class="icon-check pull-right"></span>
                </button>
            </div>
        </div>
        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </form>
</div>