<div *ngIf="detalhes && config && pag">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Cadastros</li>
        <li class="active">Detalhes&nbsp;
            <span class="badge">{{ pag.getTotal() }}</span>
        </li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Detalhes
                        <span class="icon-more pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-filter pull-right"></span>
                        <div class="form-group padding">
                            <label for="gruProcura">Filtro [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="gruProcura" class="input-group">
                                <input type="text" class="form-control" placeholder="Nome." [(ngModel)]="buffer" (keyup.enter)="pag.setFilter(buffer)" [select]="onCadastrosDetGradeFocusEvent"> 
                                <!-- <span class="input-group-addon">
                                    <span class="icon-search"></span>
                                </span> -->
                            </div>
                        </div>
                    </span>
                    <span class="list-group-item">
                        <div class="form-group padding">
                            <span class="icon-bullets pull-right"></span>
                            <label>Itens por página</label>
                            <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                        </div>
                    </span>
                    <span class="list-group-item text-center">
                            <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                    </span>
                    <button type="button" class="list-group-item active">
                        Relatórios
                        <span class="icon-printer pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRelatorioDetalhesClick()">
                        Detalhes
                        <span class="icon-text pull-right"></span>
                    </button>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="default-cursor"></th>
                                <th (click)="pag.setSortingField('det_c_detalhe')">Detalhe &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_c_detalhe'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_c_grupo')">Grupo &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_c_grupo'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_c_produto')">Produto &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_c_produto'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_c_grupo_itens')">Grupo de itens &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_c_grupo_itens'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_i_min')" class="text-right">Min &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_i_min'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_i_max')" class="text-right">Máx &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_i_max'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_i_multisabores')" class="text-right">Multi &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_i_multisabores'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_c_tratamento_valor_item')">Tratamento valor &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_c_tratamento_valor_item'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_f_valor')" class="text-right">Valor &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_f_valor'"></i>
                                </th>
                                <th (click)="pag.setSortingField('det_i_num_itens')" class="text-right">Qtde itens &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'det_i_num_itens'"></i>
                                </th>
                                <th class="default-cursor"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detalhe of detalhes | paginate: pag.getPagInst()" [class.inativo]="!detalhe.det_b_ativo">
                                <td>
                                    <div [ngClass]="{'icon-checked': detalhe.det_b_ativo, 'icon-unchecked': !detalhe.det_b_ativo}"></div>
                                </td>

                                <td>{{ detalhe.det_c_detalhe }}</td>

                                <td>{{ detalhe.det_c_grupo || '-' }}</td>

                                <td>{{ detalhe.det_c_produto || '-' }}</td>

                                <td>{{ detalhe.det_c_grupo_itens || '-' }}</td>

                                <td class="text-right">{{ detalhe.det_i_min | number }}</td>

                                <td class="text-right">{{ detalhe.det_i_max | number }}</td>

                                <td class="text-right">{{ detalhe.det_i_multisabores | number }}</td>

                                <td>{{ detalhe.det_c_tratamento_valor_item }}</td>

                                <td class="text-right">{{ detalhe.det_f_valor | number:'1.2-2' }}</td>

                                <td class="text-right">
                                    <button type="button" class="btn btn-default" (click)="onItensDetalhesModalOpenClick(detalhe)">
                                        <span class="icon-search"></span>&nbsp; {{ detalhe.det_i_num_itens }}
                                    </button>
                                </td>

                                <!-- 
                            <td>
                                <a (click)="pag.filter = detalhe.det_c_grupo;onPagChanges();"> {{ detalhe.det_c_grupo }}</a>
                            </td>

                            <td>
                                <button type="button" class="btn btn-link pull-right" [routerLink]="['/cadastros/detalhes/edit', detalhe.det_pk]">
                                    <i class="icon-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody> 
                -->
                    </table>

                    <div class="padding" *ngIf="detalhes.length == 0">
                        <div class="alert alert-warning" role="alert">Nenhum detalhe encontrado.</div>
                    </div>
                </div>
            </div>

            <div class="text-right padding">
                    <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
            </div>
        </div>
    </div>
</div>