<div *ngIf="info">
    <div class="row">
        <div class="col-sm-4">
            <!-- tipo -->
            <div class="form-group">
                <label for="tipo" class="control-label">Tipo cupom</label>
                <select #tipo="ngModel" class="form-control mousetrap" id="tipo" name="tipo" [(ngModel)]="info.tipo" (change)="onTipoChange()" [focus]="onSaldoMesaFocusEvent" onReturn>
                    <option value="N">Normal</option>
                    <option value="R">Resumido</option>
                    <option value="D">Detalhado</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <!-- bloquear -->
            <div class="form-group">
                <label for="bloquear"></label>
                <div class="checkbox">
                    <label>
                        <input #bloquear="ngModel" class="mousetrap" type="checkbox" id="bloquear" name="bloquear" [(ngModel)]="info.bloquear" onReturn>Bloquear
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label"></label>
                <button class="btn btn-info btn-block" (click)="onImprimirSaldoClick();" *ngIf="config">
                    Imprimir&nbsp;[&nbsp;{{ config.cnf_c_hotkey_confirmar }}&nbsp;]
                    <span class="icon-printer pull-right"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <small *ngIf="info.tipo != 'R';else resumido">* Os lctos são
                <strong>exibidos em ordem decrescente</strong> e
                <strong>impressos em ordem crescente</strong> de data.</small>
            <ng-template #resumido>
                <small>* Os lctos são ordenados pelo
                    <strong>nome de produto</strong>.</small>
            </ng-template>
            <textarea class="form-control mousetrap" rows="20" id="cupom" name="cupom" [(ngModel)]="preview" readonly></textarea>
        </div>
    </div>
</div>
