
@import '_config';

/* https://bootsnipp.com/snippets/featured/side-menu-on-hover */

.list-group.sidebar button.list-group-item,
.list-group.sidebar span.list-group-item {
    display: relative;
    left: -5px;
    background-color: whitesmoke !important;
    color: gray;
    cursor: pointer;
}

.list-group.sidebar button.list-group-item.active,
.list-group.sidebar span.list-group-item.active {
    background-color: $bkcolor !important;
    color: $fgcolor !important;
    /* background-color: #ddd !important; // color: gray !important;
    color: $fgcolor !important; */
    border: 1px solid rgb(195, 195, 195);
    font-weight: bold;
    cursor: default;
}

.list-group.sidebar button.list-group-item .pull-right,
.list-group.sidebar span.list-group-item .pull-right {
    font-size: 130%;
    color: silver;
}

.list-group.sidebar button.list-group-item.active .pull-right,
.list-group.sidebar span.list-group-item.active .pull-right {
    color: white;
}

.list-group-sidebar .navp /deep/ .ngx-pagination li {
    border: none;
}

// Dash toggle
.col-sm-2.dashon {
    width: 16.666666%;
}

.col-sm-2.dashoff {
    width: 4%;
}

.col-sm-10.dashon {
    width: 81%;
}

.col-sm-10.dashoff {
    width: 93%;
}
/* 
.col-xs-10.dashon,
.col-xs-10.dashoff {
    width: 100% !important;
}
*/

/* 0 - 770px */
@media all and (max-width: 770px) {  
    .col-sm-2.dashon, 
    .col-sm-2.dashoff {
        width: 0px;
    }
    
    .col-sm-10.dashon,
    .col-sm-10.dashoff {
        width: 100%;  
    }
}       
