<div *ngIf="barcode">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-4">
                <!-- bar_c_barcode -->
                <div class="form-group" [ngClass]="{'has-error': fv.erro(bar_c_barcode, 'barcode'), 'has-success': fv.erro(bar_c_barcode, 'barcode') == ''}">
                    <label for="bar_c_barcode" class="control-label">Cód. barras</label>
                    <input #bar_c_barcode="ngModel" type="text" integer class="form-control mousetrap" id="bar_c_barcode" name="bar_c_barcode"
                        [(ngModel)]="barcode.bar_c_barcode" maxLength="20" [focus]="onBarcodesEditModalFocusEvent" required onReturn>
                    <hyp-form-control-error [is-error]="fv.erro(bar_c_barcode, 'barcode')" [is-valid]="fv.erro(bar_c_barcode, 'barcode') == ''"
                        [msg]="fv.erro(bar_c_barcode, 'barcode')"></hyp-form-control-error>
                </div>
            </div>

            <div class="col-sm-4">
                <!-- bar_fk_unid_entrada -->
                <label for="bar_fk_unid_entrada" class="control-label">Unidade</label>
                <select #bar_fk_unid_entrada="ngModel" class="form-control mousetrap" id="bar_fk_unid_entrada" name="bar_fk_unid_entrada"
                    [(ngModel)]="barcode.bar_fk_unid_entrada" onReturn>
                    <!-- <option value="">-- Selecione unidade --</option> -->
                    <option *ngFor="let unidade of unidades" [value]="unidade.uni_pk">{{ unidade.uni_c_unidade }} - {{ unidade.uni_c_descricao }}</option>
                </select>
            </div>

            <div class="col-sm-4">
                <!-- bar_f_qtde_entrada -->
                <div class="form-group">
                    <label for="bar_f_qtde_entrada" class="control-label">Qtde</label>
                    <input #bar_f_qtde_entrada="ngModel" type="number" class="form-control mousetrap text-right" id="bar_f_qtde_entrada"
                        name="bar_f_qtde_entrada" [ngModel]="barcode.bar_f_qtde_entrada" onReturn>
                </div>
            </div>
        </div>

        <hr>

        <div class="row padding">
            <div class="col-sm-4">
                <button type="button" class="btn btn-block btn-default" (click)="onCancelarClick()">
                    Cancelar
                    <span class="icon-chevron-l pull-left"></span>
                </button>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                    Salvar
                    <span class="icon-check pull-right"></span>
                </button>
            </div>
        </div>
        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </form>
</div>