<!-- {{ modalData | json }} -->
<div class="modal-header text-center">
    <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
        <span class="icon-refresh"></span>
    </button> -->
    <h4 class="modal-title">
        {{ modalData.caption }}
        <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}
        </div>
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">

    <!-- <button (click)="modalData.pag='gra'">Grade</button>
    <button (click)="modalData.pag='edi'">Edit</button>
    pag: {{ pag }} -->

    <div [ngSwitch]="modalData.pag">
        <div *ngSwitchCase="'edi'">
            <retag-barcode-edit [idProduto]="idProduto" (onChange)="onPagChanged($event)"></retag-barcode-edit>
        </div>
        <div *ngSwitchDefault>
            <retag-barcodes-grade [idProduto]="idProduto" (onChange)="onPagChanged($event)"></retag-barcodes-grade>
        </div>
    </div>
</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->