<!-- {{ barcodes | json }} -->
<div *ngIf="barcodes && pag">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th (click)="pag.setSortingField('bar_c_barcode');">Cód. barras&nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'bar_c_barcode'"></i>
                        </th>
                        <th class="default-cursor">Unidade entrada</th>
                        <th (click)="pag.setSortingField('bar_f_qtde_entrada');" class="text-right">Qtde entrada&nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'bar_f_qtde_entrada'"></i>
                        </th>
                        <th class="default-cursor"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let barcode of barcodes | paginate: pag.getPagInst()">
                        <td>{{ barcode.bar_c_barcode }}</td>

                        <td>{{ barcode.bar_c_unid_entrada}} - {{ barcode.bar_c_descricao_entrada }}</td>

                        <td class="text-right">{{ barcode.bar_f_qtde_entrada | number:'1.0-3' }}</td>

                        <td>
                            <button type="button" class="btn btn-danger pull-right" tooltip="Excluir" placememt="top" (click)="onDeleteClick(barcode)">
                                <span class="icon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="padding" *ngIf="barcodes.length == 0">
                <div class="alert alert-warning" role="alert">Nenhum barcode encontrado.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-block btn-info" (click)="onNovoClick()">
                Novo
                <span class="icon-plus pull-right"></span>
            </button>
        </div>

        <div class="col-sm-8">
            <div class="text-right padding">
                <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
            </div>
        </div>
    </div>
</div>