<div *ngIf="config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Delivery</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            Delivery
                            <span class="icon-delivery pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">

                <div class="row">
                    <div class="col-sm-9">
                        <!-- <blockquote>Informações gerais</blockquote> -->

                    </div>

                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>Emissão de cupons</blockquote>

                            <!-- cnf_e_via_del_recebimento -->
                            <div class="form-group">
                                <label for="cnf_e_via_del_recebimento" class="control-label">Ao receber pedido</label>
                                <select #cnf_e_via_del_recebimento="ngModel" class="form-control mousetrap" id="cnf_e_via_del_recebimento" name="cnf_e_via_del_recebimento"
                                    [(ngModel)]="config.cnf_e_via_del_recebimento" onReturn>
                                    <option value="N">Não emitir</option>
                                    <option value="R">No recebimento</option>
                                    <option value="C">Na confirmação</option>
                                </select>
                            </div>

                            <!-- cnf_e_via_del_confirmacao -->
                            <div class="form-group">
                                <label for="cnf_e_via_del_confirmacao" class="control-label">Ao confirmar pedido</label>
                                <select #cnf_e_via_del_confirmacao="ngModel" class="form-control mousetrap" id="cnf_e_via_del_confirmacao" name="cnf_e_via_del_confirmacao"
                                    [(ngModel)]="config.cnf_e_via_del_confirmacao" onReturn>
                                    <option value="N">Não emitir</option>
                                    <option value="R">No recebimento</option>
                                    <option value="C">Na confirmação</option>
                                </select>
                            </div>

                            <!-- cnf_e_via_del_despacho -->
                            <div class="form-group">
                                <label for="cnf_e_via_del_despacho" class="control-label">Ao despachar pedido</label>
                                <select #cnf_e_via_del_despacho="ngModel" class="form-control mousetrap" id="cnf_e_via_del_despacho" name="cnf_e_via_del_despacho" [(ngModel)]="config.cnf_e_via_del_despacho"
                                    onReturn>
                                    <option value="N">Não emitir</option>
                                    <option value="R">No recebimento</option>
                                    <option value="C">Na confirmação</option>
                                    <option value="D">No despacho</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
        </div>
    </form>
</div>