<div class="modal-header text-center">
    <h4 class="modal-title">
        {{ info.caption }}
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <blockquote *ngIf="info.msg">{{ info.msg }}</blockquote>
    <hyp-login (onSelected)="onSelected($event)"></hyp-login>
</div>