<div class="modal-header text-center">
    <h4 class="modal-title">
        {{ caption }}
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <!-- produto: {{ produto | json }}
    <br>info: {{ info | json }} -->
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="produto">
        <div class="row">
            <div class="col-sm-3">
                <!-- unit -->
                <div class="form-group">
                    <label for="unit" class="control-label">Custo unitário</label>
                    <input #unit="ngModel" type="number" class="form-control mousetrap text-right" id="unit" name="unit"
                        [(ngModel)]="info.unit" [focus]="onPrecoCustoFocusEvent" (keyup)="onCalcTot(f)" onReturn>
                </div>
            </div>

            <div class="col-sm-6 text-center caption">
                x {{ produto.pro_f_qtde }} x {{ produto.pro_c_bar_unidade || 'UN' }} {{ produto.pro_f_bar_qtde_entrada || 1 }} ( {{ qtde }} unid ) =
            </div>

            <div class="col-sm-3">
                <!-- tot -->
                <div class="form-group">
                    <label for="tot" class="control-label">Custo total</label>
                    <input #tot="ngModel" type="number" class="form-control mousetrap text-right" id="tot" name="tot"
                        [(ngModel)]="info.tot" (keyup)="onCalcUnit(f)" onReturn>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <!-- <div class="col-sm-4">
                <button type="button" class="btn btn-block btn-default" (click)="bsModalRef.hide()">
                    Cancelar
                    <span class="icon-cancel pull-left"></span>
                </button>
            </div> -->
            <div class="col-sm-4 col-sm-offset-8">
                <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                    Salvar
                    <span class="icon-check pull-right"></span>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->

<!-- <div class="modal-footer">
    <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button> 
</div> -->