@import '../../../assets/styles/_config';

.modal-header {
    background-color: $bkcolor;
    color: $fgcolor;
}

.modal-header h4 {
    display: inline;
}

.modal-header .badge {
    background-color: white;
    color: black;
}

.modal-header button.close {
    color: white;
    opacity: 0.7;
}

.caption {
    font-size: 200%;
    color: gray;
    font-weight: bold;
    margin-top: 40px;
}

input {
    font-size: 200%;
    height: 60px;
}