<!-- idCaixa: {{ idCaixa }} -->
<div *ngIf="pedido">
    <hyp-display [value]="pedido.total" [subcaption]="pedido.rows.length + ' ite' + (pedido.rows.length == 1 ? 'm' : 'ns')"></hyp-display>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" (click)="onRemoverItensClick()" [disabled]="pedido.volumes == 0 || tipo == 'B'">
            {{ cancelarCaption }} itens
            <span class="icon-trash pull-left"></span>
        </button>
        <button type="button" class="btn btn-success" (click)="onConcluirClick()" [disabled]="pedido.volumes == 0"
            *ngIf="config">
            Concluir&nbsp;[&nbsp;{{ config.cnf_c_hotkey_concluir }}&nbsp;]
            <span class="icon-check pull-right"></span>
        </button>
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Produto</th>
                <th class="text-right">Qtde</th>
                <th class="text-right">Unit.</th>
                <th class="text-right">Valor</th>
                <th class="text-right"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of pedido.rows | paginate: pag.getPagInst()">
                <td class="produto">
                    {{ item.pro_c_produto }}
                    <div *ngIf="item.pro_m_obs">
                        <small> Obs: {{ item.pro_m_obs }}</small>
                    </div>
                </td>

                <td class="text-right qtde">
                    {{ item.pro_f_qtde | number:'1.0-3' }}x
                </td>

                <td class="text-right">
                    {{ item.pro_f_preco_venda | number:'1.2-2' }}
                </td>

                <td class="text-right">
                    <strong>{{ item.pro_f_consumo | number:'1.2-2' }}</strong>
                </td>

                <td>
                    <div class="text-right">
                        <button class="btn btn-info" type="button" (click)="onItemObsClick(item)" tooltip="Obs: {{item.pro_m_obs}}"
                            placememt="left">
                            <span [ngClass]="{'icon-chat-o': !item.pro_m_obs, 'icon-chat': item.pro_m_obs}"></span>
                        </button>

                        <button class="btn btn-danger" type="button" (click)="onRemoverItemClick(item)" [tooltip]="cancelarCaption"
                            placememt="left">
                            <span class="icon-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row" *ngIf="pedido.rows.length > 0;else nenhumProduto">
        <div class="col-xs-4 col-sm-3">
            <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
        </div>
        <div class="col-xs-6 col-sm-9">
            <div class="text-right padding">
                <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
            </div>
        </div>
    </div>

    <ng-template #nenhumProduto>
        <div class="info-txt text-center">
            Nenhum produto.
        </div>
    </ng-template>
</div>