.sign {
    font-weight: bold;
    color: gray;
    font-size: 200%;
    margin-top: 55px;
}

.form-group label {
    font-size: 20px;
    margin-top: 10px;
    color: darkgray;
    font-weight: bold;
}

.form-group input {
    font-size: 200%;
    height: 60px;
}

.input-group .input-group-btn button {
    height: 60px;
}

.form-group input.form-control[readonly] {
    color: dimgray;
    border-radius: 6px;
}

h5 strong {
    color: black;
}

h5 img {
    height: 20px;
    display: inline;
}
