<!-- {{ info.lctos | json }} -->
<!-- {{ sel | json }} -->
<div *ngIf="info && config">
    <div class="modal-header text-center">
        <h4 class="modal-title">
            <span class="pull-left">Total: {{ info.total | number:'1.2-2' }}</span>
            {{ info.caption }}
        </h4>
        <button type="button" class="close pull-right" (click)="onCancelar()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form novalidate #f="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <hyp-display [caption]="info.display.caption" [value]="info.display.val" class="custom"></hyp-display>
                        </div>
                    </div>

                    <div class="row" *ngIf="info.lctos && info.lctos.length > 0">
                        <div class="col-xs-12">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Finalizadora</th>
                                        <th class="text-right">Troco</th>
                                        <th class="text-right">Valor</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of info.lctos">
                                        <td>
                                            <img [src]="onFinalizadoraGet(item.img)" alt="" class="img-responsive">
                                        </td>

                                        <td>
                                            <p>{{ item.finalizadora }}</p>
                                        </td>

                                        <td class="text-right">
                                            <strong *ngIf="item.troco > 0">{{ item.troco | number:'1.2-2' }}</strong>
                                        </td>

                                        <td class="text-right">
                                            {{ item.valor | number:'1.2-2' }}
                                        </td>

                                        <td>
                                            <div class="text-right" *ngIf="info.restante > 0 ? true : (info.troco > 0 ? item.troco > 0 : true)">
                                                <button class="btn btn-danger" type="button" (click)="onFinalizadoraDel(item.id)"
                                                    tooltip="Excluir" placememt="right">
                                                    <span class="icon-trash"></span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div *ngIf="info.restante > 0;else recebido">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" [ngClass]="{'has-error': !lcto.valid, 'has-success': lcto.valid}">
                                    <label for="lcto" class="control-label">
                                        Recebimento&nbsp;[&nbsp;{{ config.cnf_c_hotkey_procurar }}&nbsp;]
                                    </label>
                                    <input #lcto="ngModel" type="number" autocomplete="off" class="form-control mousetrap text-right"
                                        id="lcto" name="lcto" placeholder="Valor pgto" [(ngModel)]="info.lcto" [select]="onRecebimentoFocusEvent"
                                        (keyup)="onRecebimentoChange()" required onReturn>
                                    <!-- <hyp-form-control-error [is-error]="!lcto.valid" [is-valid]="lcto.valid"></hyp-form-control-error> -->
                                </div>
                            </div>
                        </div>

                        <hyp-finalizadoras-thumbs [money]="info.apenasDinheiro" (onSelected)="onFinalizadoraSel($event)"
                            *ngIf="lcto.valid"></hyp-finalizadoras-thumbs>
                    </div>

                    <ng-template #recebido>
                        <div class="jumbotron">
                            <button type="button" class="btn btn-lg btn-block btn-success" (click)="onConfirmarClick()">
                                Confirmar&nbsp;[&nbsp;{{ config.cnf_c_hotkey_concluir }}&nbsp;]&nbsp;
                                <span class="icon-check pull-right"></span>
                            </button>
                        </div>
                    </ng-template>

                </div>
            </div>
        </form>
    </div>
    <!-- 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
    </div> 
    -->
</div>