<ul class="nav nav-tabs" *ngIf="operador">
    <li role="presentation" class="disabled">
        <a>Delivery</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_lcto_delivery">
        <a [routerLink]="['/delivery/lcto']">
            <span class="fi-foot large"></span>&nbsp;Lcto
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_pedidos_delivery">
        <a [routerLink]="['/delivery/pedidos']">
            <span class="icon-grid"></span>&nbsp;Pedidos
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_caixa_delivery">
        <a [routerLink]="['/delivery/caixa']">
            <span class="icon-caixa"></span>&nbsp;Caixa
        </a>
    </li>
</ul>
<router-outlet></router-outlet>