<div *ngIf="config && term && operador && comandas && caixa">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Comandas</li>
        <li class="active">Caixa</li>
    </ol>

    <div class="row" *ngIf="comandas">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Caixa comandas
                        <span class="icon-money pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <span class="list-group-item" *ngIf="caixa.cai_pk > 0">
                        <span class="icon-search pull-right"></span>
                        <div class="form-group padding">
                            <label for="gruIncluir">Incluir [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="gruIncluir" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Comanda" [(ngModel)]="buffer"
                                    [focus]="onComandasCaixaProcuraFocusEvent" (keyup.enter)="onComandaIncluirClick(buffer)">
                                <span class="input-group-addon">
                                    <span class="icon-search"></span>
                                </span>
                            </div>
                        </div>
                    </span>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div *ngIf="caixa.cai_pk > 0;else caixaFechado">
                <div *ngIf="comandas.length > 0;else nenhumaComanda">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav nav-tabs">
                                <li role="presentation" [class.active]="!info.sel.row" (click)="onComandaSelClick()">
                                    <a>
                                        Todas &nbsp;
                                        <span class="badge">{{ comandas.length }}</span>
                                    </a>
                                </li>
                                <li role="presentation" *ngFor="let comanda of comandas" [class.active]="info.sel.row && comanda.com_pk == info.sel.row.com_pk">
                                    <a (click)="onComandaSelClick(comanda)">
                                        Comanda {{ comanda.com_i_nro }} &nbsp;
                                        <span class="icon-cancel" (click)="onComandaRemoverClick(comanda.com_pk)"
                                            tooltip="Remover" placement="bottom"></span>
                                    </a>
                                </li>
                                <li role="presentation" class="disabled pull-right">
                                    <a>
                                        Total:
                                        <strong>{{ info.total | number:'1.2-2' }}</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="row" *ngIf="info.sel.row;else todas">
                            <div class="col-sm-6">
                                <hyp-sel-produto [thumbs]="true" (onSelected)="onProdutoSel($event)"></hyp-sel-produto>
                            </div>

                            <div class="col-sm-6 padding">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-danger" (click)="onComandaCancelarItensClick(info.sel.row)">
                                                Cancelar itens
                                                <span class="icon-cancel pull-left"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" (click)="onCupomSaldoClick(info.sel.row.com_i_nro)">
                                                Cupom
                                                <span class="icon-printer pull-right"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hyp-display [value]="info.sel.total"></hyp-display>
                                <hyp-itens-comandas-caixa [ids]="info.sel.row.com_pk" [multi]="true" (changed)="onTotalChange($event);"
                                    (delete)="onItemDelete($event);"></hyp-itens-comandas-caixa>
                            </div>
                        </div>

                        <ng-template #todas>
                            <div class="row">
                                <div class="col-sm-6">
                                    <hyp-display [value]="info.total"></hyp-display>
                                    <div class="jumbotron">
                                        <button type="button" class="btn btn-lg btn-block btn-success" (click)="onReceberClick()">
                                            Receber&nbsp;[&nbsp;{{ config.cnf_c_hotkey_confirmar }}&nbsp;]
                                            <span class="icon-money pull-right"></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-sm-6" padding>
                                    <hyp-itens-comandas-caixa [ids]="info.ids" [multi]="false" (changed)="onTotalChange($event);"
                                        (delete)="onItemDelete($event);"></hyp-itens-comandas-caixa>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <ng-template #nenhumaComanda>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="jumbotron">
                                <button type="button" class="btn btn-lg btn-block btn-success" (click)="onFocus()">
                                    Selecionar comanda&nbsp;[&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]
                                    <span class="icon-search pull-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>

            <ng-template #caixaFechado>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="jumbotron">
                            <button type="button" class="btn btn-lg btn-block btn-success" [routerLink]="['/movimento/caixa']">
                                Abrir caixa
                                <span class="icon-money pull-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>