<!-- loja {{ loja | json }} -->

<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Delivery</li>
    <li class="active">Lcto</li>
</ol>

<div class="row">
    <div class="col-sm-2">
        <div class="list-group sidebar">
            <button type="button" class="list-group-item active">
                Lcto delivery
                <span class="fi-foot large pull-right"></span>
            </button>
            <button type="button" [routerLink]="['/home']" class="list-group-item">
                Home
                <span class="icon-home pull-right"></span>
            </button>
        </div>
    </div>

    <div class="col-sm-10">
        
    </div>
</div>