<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Comandas</li>
    <li>
        <a [routerLink]="['/comandas/consulta/mapa']">Consulta</a>
    </li>
    <li class="active">Comanda {{ nroComanda }}</li>
</ol>

<div class="row">
    <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <div class="list-group sidebar">
            <span *ngIf="dash.status;else dashoff">
                <button type="button" class="list-group-item active">
                    Consulta comandas
                    <span class="icon-search pull-right"></span>
                </button>
                <button type="button" class="list-group-item" (click)="dash.toggle()" *ngIf="config">
                    Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                    <span class="icon-chevron-l pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/home']" class="list-group-item">
                    Home
                    <span class="icon-home pull-right"></span>
                </button>
                <button type="button" [routerLink]="['/comandas/consulta/mapa']" class="list-group-item">
                    Voltar
                    <span class="icon-undo2 pull-right"></span>
                </button>
                <!-- <button type="button" class="list-group-item" (click)="onImprimeSaldoClick()">
                    Imprimir [&nbsp;{{ config.cnf_c_hotkey_confirmar }}&nbsp;]
                    <span class="icon-print pull-right"></span>
                </button> -->
            </span>

            <ng-template #dashoff>
                <button type="button" class="list-group-item active" (click)="dash.toggle()">
                    <span class="icon-chevron-r"></span>
                </button>
            </ng-template>
        </div>
    </div>

    <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
        <pdv-saldo-comanda [nro]="nroComanda" (onSuccess)="onSaldoSuccess($event)"></pdv-saldo-comanda>
    </div>
</div>