<!-- {{ val }} -->
<select class="form-control mousetrap" style="display: inline;" name="selLimit" [(ngModel)]="val" (change)="onChange()">
    <option *ngFor="let item of itens" [value]="item">{{ item }} itens</option>
</select>

