<ul class="nav nav-tabs">
    <li role="presentation" class="disabled">
        <a>Estoque</a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <!--  *ngIf="operador.actions.act_manut_cli" -->
        <a [routerLink]="['/estoque/perda']">
            <span class="icon-minus"></span>&nbsp;Lcto perda
        </a>
    </li>
</ul>

<router-outlet></router-outlet>