<div *ngIf="pag">
    <div class="modal-header text-center">
        <h4 class="modal-title">
            {{ caption }}&nbsp;<span class="badge">{{ pag.getTotal() }}</span>
        </h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <!-- Coletas: {{ coletas | json }} -->
        badstr: {{ badstr }}
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>
                                Coleta
                                <span class="pull-right">OK / erros&nbsp;</span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let arquivo of arquivos | paginate: pag.getPagInst()" (click)="sel = arquivo"
                            [class.sel]="arquivo == sel">
                            <td>
                                {{ arquivo }}
                                <span *ngIf="arquivo == sel">
                                    <span class="label label-danger pull-right" [tooltip]="bads.length > 0 ? badstr : 'Nenhum erro.'" placement="left">{{
                                        bads.length }}</span>
                                    <span class="label label-success pull-right">{{ coletas.length }}</span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-right padding">
                    <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                </div>
            </div>

            <div class="col-sm-6">
                <div *ngIf="sel;else unsel">
                    <textarea class="form-control mousetrap" rows="16" id="cupom" name="cupom" [ngModel]="preview"
                        readonly></textarea>
                </div>
                <ng-template #unsel>
                    <h3 class="text-center">Selecione coleta.</h3>
                </ng-template>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-block btn-success pull-right" (click)="onConfirmarClick()" [disabled]="coletas.length == 0">
            Confirmar
            <span class="icon-check pull-right"></span>
        </button>
    </div>
</div>