<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="fg" (ngSubmit)="onFormSubmit()">
    <ion-list>
      <!-- <ion-item>
        <ion-label>Selecione período:</ion-label>
      </ion-item> -->

      <ion-item [ngClass]="{'input-error': !fg.controls.cod.valid, 'input-ok': fg.controls.cod.valid}">
        <ion-label fixed>Código</ion-label>
        <ion-input type="number" formControlName="cod"></ion-input>
      </ion-item>

      <ion-item [ngClass]="{'input-error': !fg.controls.senha.valid, 'input-ok': fg.controls.senha.valid}">
        <ion-label fixed>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" shape="round" fill="solid" [disabled]="!fg.valid">Confirma</ion-button>
  </form>
</ion-content>