<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Config
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="fg" (ngSubmit)="onFormSubmit()">
    <ion-list>
      <ion-item [ngClass]="{'input-error': !fg.controls.ipServ.valid, 'input-ok': fg.controls.ipServ.valid}">
        <ion-label>IP servidor</ion-label>
        <ion-input type="text" formControlName="ipServ" placeholder="127.0.0.1"></ion-input>
      </ion-item>
    </ion-list>

    <!-- <ion-list>
      <ion-item [ngClass]="{'input-error': !fg.controls.ipServ.valid, 'input-ok': fg.controls.ipServ.valid}">
        <ion-label fixed>IP servidor</ion-label>
        <ion-input type="text" formControlName="ipServ" placeholder="127.0.0.1"></ion-input>
      </ion-item>
    </ion-list> -->

    <ion-button type="submit" expand="block" shape="round" fill="solid" [disabled]="!fg.valid">Confirma</ion-button>
  </form>
</ion-content>