<div *ngIf="loja">
    <ul class="nav nav-tabs">
        <li role="presentation" class="disabled">
            <a>Config</a>
        </li>
        <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/gerais']">
                <span class="icon-asterisk"></span>&nbsp;Gerais
            </a>
        </li>
        <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/estoque']">
                <span class="icon-stock"></span>&nbsp;Estoque
            </a>
        </li>
        <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/pontos-impressao']">
                <span class="icon-printer"></span>&nbsp;Pontos impressão
            </a>
        </li>
        <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/terminais']">
                <span class="icon-terminal"></span>&nbsp;Terminais
            </a>
        </li>
        <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/etiquetas']">
                <span class="icon-tags"></span>&nbsp;Etiquetas
            </a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="loja.loj_b_mod_balcao">
            <a [routerLink]="['/config/balcao']">
                <span class="icon-cart"></span>&nbsp;Balcão
            </a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="loja.loj_b_mod_comandas">
            <a [routerLink]="['/config/comandas']">
                <span class="icon-list"></span>&nbsp;Comandas
            </a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="loja.loj_b_mod_mesas">
            <a [routerLink]="['/config/mesas']">
                <span class="icon-table"></span>&nbsp;Mesas
            </a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="loja.loj_b_mod_senhas">
            <a [routerLink]="['/config/senhas']">
                <span class="icon-hashtag"></span>&nbsp;Senhas
            </a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="loja.loj_b_mod_delivery">
            <a [routerLink]="['/config/delivery']">
                <span class="icon-delivery"></span>&nbsp;Delivery
            </a>
        </li>
        <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/finalizadoras']">
                <span class="icon-money"></span>&nbsp;Finalizadoras
            </a>
        </li>
        <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/movimentos']">
                <span class="icon-time"></span>&nbsp;Movimentos
            </a>
        </li>
        <!-- <li role="presentation" routerLinkActive="active">
            <a [routerLink]="['/config/conexao']">
                <span class="icon-ray"></span>&nbsp;Conexão
            </a>
        </li> -->
        <!-- <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/config/backup']">
            <span class="icon-floppy"></span>&nbsp;Backup
        </a>
    </li> -->
    </ul>
    <router-outlet></router-outlet>
</div>