<div class="modal-header text-center">
    <h4 class="modal-title" *ngIf="nroComanda">
        Saldo da comanda {{ nroComanda }}
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <!-- <pdv-saldo-comanda [nro]="nroComanda" (onSuccess)="onSaldoSuccess($event)"></pdv-saldo-comanda> -->
</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->