p.thumbs {
    padding: 0;
    margin: 0;
    list-style: none;
}

.thumbs li {
    float: left;
    width: 33.33%;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

.thumbs li a {
    text-align: center;
    display: block;
    margin: 5px;
    overflow: hidden;
}

.thumbs li a img,
.show {
    display: block;
    width: auto;
    height: 48px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
}

.thumbs li a .caption {
    color: #a0a0a0;
    /*background-color: yellow;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 0 - 480px
@media all and (min-width: 480px){  
.thumbs li { width: 33.333%; }     
}       
 
/* 481px - 768px 
@media only screen and (min-width: 768px) {     
.thumbs li { width: 33.333%; }   
}  
 
/* 769px - 1024px
@media only screen and (min-width: 1024px) {     
.thumbs li { width: 33.333%; }   
}  
 
/* 1025px - 1280px
@media only screen and (min-width: 1280px) {     
.thumbs li { width: 33.333%; } 
}  
 
/* 1281px - 1440px
@media only screen and (min-width: 1440px) {     
.thumbs li { width: 25%; } 
}  
 
/* 1441px - 1600px 
@media only screen and (min-width: 1600px) {     
.thumbs li { width: 25%; } 
}  
 
/* 1601px - 1920px
@media only screen and (min-width: 1920px) {     
.thumbs li { width: 25%; } 
}  
*/