<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Config</li>
</ol>

<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Conexão
                        <span class="icon-ray pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <button type="button" *ngIf="f.valid" (click)="onSubmit(f)" class="list-group-item">
                        Salvar
                        <span class="icon-check pull-right"></span>
                    </button>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <blockquote>Ip servidor local</blockquote>

            <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group" [ngClass]="{'has-error': ip.invalid, 'has-success': ip.valid}">
                        <!-- <label for="ip" class="control-label">Código</label> -->
                        <input #ip="ngModel" type="text" class="form-control mousetrap" id="ip" name="ip" [focus]="onConfigIpFocusEvent" placeholder="xxx.xxx.xxx.xxx"
                            [(ngModel)]="ipServ" required maxLength="15" onReturn>
                        <hyp-form-control-error msg="Valor é obrigatório." [is-error]="ip.invalid" [is-valid]="ip.valid"></hyp-form-control-error>
                        <button type="button" class="btn btn-link btn-block" *ngIf="ip.valid" (click)="onTestarConexaoClick(f)">Testar conexão</button>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="alert alert-warning" role="alert">
                        <span class="icon-question-coin"></span>&nbsp;Caso esse terminal já tenha sido configurado anteriormente, verifique as configurações
                        e conexões de rede para identificar o erro de comunicação com o servidor.
                    </div>

                    <div class="alert alert-info" role="alert">
                        <span class="icon-info-coin"></span>&nbsp;127.0.0.1 representa o servidor local (localhost).
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                        <span class="icon-check"></span> &nbsp;Salvar
                    </button>
                </div>
            </div>

            <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
        </div>
    </div>
</form>