@font-face {
  font-family: 'hypico';
  src: url('../font/hypico.eot?95107843');
  src: url('../font/hypico.eot?95107843#iefix') format('embedded-opentype'),
       url('../font/hypico.woff2?95107843') format('woff2'),
       url('../font/hypico.woff?95107843') format('woff'),
       url('../font/hypico.ttf?95107843') format('truetype'),
       url('../font/hypico.svg?95107843#hypico') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hypico';
    src: url('../font/hypico.svg?95107843#hypico') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "hypico";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gear:before { content: '\e800'; } /* '' */
.icon-grid:before { content: '\e801'; } /* '' */
.icon-hashtag:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-id-card-v:before { content: '\e805'; } /* '' */
.icon-info-coin:before { content: '\e806'; } /* '' */
.icon-id-card-h:before { content: '\e807'; } /* '' */
.icon-invoice:before { content: '\e808'; } /* '' */
.icon-logout:before { content: '\e809'; } /* '' */
.icon-money-bag:before { content: '\e80a'; } /* '' */
.icon-math:before { content: '\e80b'; } /* '' */
.icon-money:before { content: '\e80c'; } /* '' */
.icon-list:before { content: '\e80d'; } /* '' */
.icon-password:before { content: '\e80e'; } /* '' */
.icon-locked:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-new-user:before { content: '\e811'; } /* '' */
.icon-numbered:before { content: '\e812'; } /* '' */
.icon-piggy:before { content: '\e813'; } /* '' */
.icon-offline:before { content: '\e814'; } /* '' */
.icon-more:before { content: '\e815'; } /* '' */
.icon-new:before { content: '\e816'; } /* '' */
.icon-ray:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-printer:before { content: '\e81a'; } /* '' */
.icon-profile:before { content: '\e81b'; } /* '' */
.icon-receipt:before { content: '\e81c'; } /* '' */
.icon-question-coin:before { content: '\e81d'; } /* '' */
.icon-question:before { content: '\e81e'; } /* '' */
.icon-scissors:before { content: '\e81f'; } /* '' */
.icon-redo:before { content: '\e820'; } /* '' */
.icon-recycle:before { content: '\e821'; } /* '' */
.icon-refresh:before { content: '\e822'; } /* '' */
.icon-resize:before { content: '\e823'; } /* '' */
.icon-scissors2:before { content: '\e824'; } /* '' */
.icon-redo2:before { content: '\e825'; } /* '' */
.icon-store:before { content: '\e826'; } /* '' */
.icon-tags:before { content: '\e827'; } /* '' */
.icon-text:before { content: '\e828'; } /* '' */
.icon-tag:before { content: '\e829'; } /* '' */
.icon-search:before { content: '\e82a'; } /* '' */
.icon-table:before { content: '\e82b'; } /* '' */
.icon-safe:before { content: '\e82c'; } /* '' */
.icon-txt:before { content: '\e82d'; } /* '' */
.icon-tray:before { content: '\e82e'; } /* '' */
.icon-terminal:before { content: '\e82f'; } /* '' */
.icon-undo2:before { content: '\e830'; } /* '' */
.icon-trash:before { content: '\e831'; } /* '' */
.icon-unchecked:before { content: '\e832'; } /* '' */
.icon-tie:before { content: '\e833'; } /* '' */
.icon-upload:before { content: '\e834'; } /* '' */
.icon-undo:before { content: '\e835'; } /* '' */
.icon-unlocked:before { content: '\e836'; } /* '' */
.icon-asterisk:before { content: '\e837'; } /* '' */
.icon-attach:before { content: '\e838'; } /* '' */
.icon-barcode:before { content: '\e839'; } /* '' */
.icon-time:before { content: '\e83a'; } /* '' */
.icon-cancel-arrow:before { content: '\e83b'; } /* '' */
.icon-cancel-coin:before { content: '\e83c'; } /* '' */
.icon-cart:before { content: '\e83d'; } /* '' */
.icon-basket:before { content: '\e83e'; } /* '' */
.icon-bullets:before { content: '\e83f'; } /* '' */
.icon-user:before { content: '\e840'; } /* '' */
.icon-chat:before { content: '\e841'; } /* '' */
.icon-checked:before { content: '\e842'; } /* '' */
.icon-chat-o:before { content: '\e843'; } /* '' */
.icon-check-coin:before { content: '\e844'; } /* '' */
.icon-chevron-d:before { content: '\e845'; } /* '' */
.icon-chevron-l:before { content: '\e846'; } /* '' */
.icon-chevron-r:before { content: '\e847'; } /* '' */
.icon-check:before { content: '\e848'; } /* '' */
.icon-clock-o:before { content: '\e849'; } /* '' */
.icon-delivery:before { content: '\e84a'; } /* '' */
.icon-chevron-u:before { content: '\e84b'; } /* '' */
.icon-clock:before { content: '\e84c'; } /* '' */
.icon-doc:before { content: '\e84d'; } /* '' */
.icon-dispatch:before { content: '\e84e'; } /* '' */
.icon-cancel:before { content: '\e84f'; } /* '' */
.icon-drawer:before { content: '\e850'; } /* '' */
.icon-favorite:before { content: '\e851'; } /* '' */
.icon-dollar-coin:before { content: '\e852'; } /* '' */
.icon-favoritre-o:before { content: '\e853'; } /* '' */
.icon-edit:before { content: '\e854'; } /* '' */
.icon-filter:before { content: '\e855'; } /* '' */
.icon-floppy:before { content: '\e856'; } /* '' */
.icon-warning-coin:before { content: '\e857'; } /* '' */
.icon-stock:before { content: '\e858'; } /* '' */
.icon-warning:before { content: '\e859'; } /* '' */
.icon-users:before { content: '\e85a'; } /* '' */
.icon-size:before { content: '\e85b'; } /* '' */
.icon-xls-1:before { content: '\e85c'; } /* '' */
.icon-waiter:before { content: '\e85d'; } /* '' */
.icon-wifi:before { content: '\e85e'; } /* '' */
.icon-transfer:before { content: '\e85f'; } /* '' */
.icon-right-arrow:before { content: '\e860'; } /* '' */
.icon-left-arrow:before { content: '\e861'; } /* '' */
.icon-down-arrow:before { content: '\e862'; } /* '' */
.icon-export-doc:before { content: '\e863'; } /* '' */
.icon-abc:before { content: '\e864'; } /* '' */
.icon-up-arrow:before { content: '\e865'; } /* '' */
.icon-download:before { content: '\e866'; } /* '' */
.icon-from:before { content: '\e867'; } /* '' */
.icon-to:before { content: '\e868'; } /* '' */
.icon-move:before { content: '\e869'; } /* '' */
.icon-percent:before { content: '\e86a'; } /* '' */
.icon-bars:before { content: '\e86b'; } /* '' */
.icon-pie:before { content: '\e86c'; } /* '' */
.icon-day:before { content: '\e86d'; } /* '' */
.icon-month:before { content: '\e86e'; } /* '' */
.icon-cake:before { content: '\e86f'; } /* '' */
.icon-candle:before { content: '\e870'; } /* '' */
.icon-linkedin:before { content: '\e871'; } /* '' */
.icon-handshake:before { content: '\e872'; } /* '' */
.icon-youtube:before { content: '\e873'; } /* '' */
.icon-twitter:before { content: '\e874'; } /* '' */
.icon-instagram:before { content: '\e875'; } /* '' */
.icon-facebook:before { content: '\e876'; } /* '' */
.icon-google-plus:before { content: '\e877'; } /* '' */
.icon-shopping-cart:before { content: '\e878'; } /* '' */
.icon-whatsapp:before { content: '\e879'; } /* '' */
.icon-smartphone:before { content: '\e87a'; } /* '' */
.icon-graduated:before { content: '\e87b'; } /* '' */
.icon-send:before { content: '\e87c'; } /* '' */
.icon-landphone:before { content: '\e87d'; } /* '' */
.icon-mail:before { content: '\e87e'; } /* '' */
.icon-xls:before { content: '\e87f'; } /* '' */
.icon-pdf:before { content: '\e880'; } /* '' */