<ol class="breadcrumb">
  <li><a [routerLink]="['/login']">Login</a></li>
  <li><a [routerLink]="['/home']">Home</a></li>
  <li class="active">Relatórios</li>
</ol>
<!--
  <ul class="list-group">
      <li class="list-group-item">Venda de produtos</li>
  </ul>
-->

<h3>Venda de produtos</h3>
<form novalidate #f="ngForm">
  <!-- (ngSubmit)="onSubmit(f)" -->
  <div class="row padding">
    <div class="col-sm-3">
      <div
        class="form-group"
        [ngClass]="{
          'has-error': inicio.invalid,
          'has-success': inicio.valid
        }"
      >
        <label for="inicio">Início</label>
        <input
          #inicio="ngModel"
          id="inicio"
          name="inicio"
          [(ngModel)]="info.inicio"
          placeholder="Início"
          type="date"
          class="form-control"
          required
          onReturn
        />
        <hyp-form-control-error
          [is-error]="fv.erro(inicio)"
          [is-valid]="fv.erro(inicio) == ''"
        ></hyp-form-control-error>
      </div>
    </div>
    <div class="col-sm-3">
      <div
        class="form-group"
        [ngClass]="{
          'has-error': inicio.invalid,
          'has-success': inicio.valid
        }"
      >
        <label for="final">Final</label>
        <input
          #final="ngModel"
          id="final"
          name="final"
          [(ngModel)]="info.final"
          placeholder="Final"
          type="date"
          class="form-control"
          required
          onReturn
        />
        <hyp-form-control-error
          [is-error]="fv.erro(final)"
          [is-valid]="fv.erro(final) == ''"
        ></hyp-form-control-error>
      </div>
    </div>
    <div class="col-sm-3">
      <!-- idTerminal -->
      <div class="form-group">
        <label for="idTerminal" class="control-label">Terminal</label>
        <select
          #idTerminal="ngModel"
          class="form-control mousetrap"
          id="idTerminal"
          name="idTerminal"
          [(ngModel)]="info.idTerminal"
          onReturn
        >
          <option value="">-- Todos terminais --</option>
          <option
            *ngFor="let terminal of terminais"
            [value]="terminal.ter_pk"
            >{{ terminal.ter_c_terminal }}</option
          >
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label></label>
        <div>
          <!--
            button
              type="button"
              class="btn btn-block btn-info"
              [disabled]="f.invalid"
            >
              Confirmar &nbsp;<span class="icon-check pull-right"></span>
            </button>
          -->
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-info"
              [disabled]="f.invalid"
              (click)="onSubmit(f, 0)"
            >
              <div class="icon-printer"></div>
            </button>
            <button
              type="button"
              class="btn btn-success"
              [disabled]="f.invalid"
              (click)="onSubmit(f, -3)"
            >
              <span class="icon-xls"></span>&nbsp;Excel
            </button>
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="f.invalid"
              (click)="onSubmit(f, -1)"
            >
              <span class="icon-pdf"></span>&nbsp;PDF
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
</form>
