<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="warning">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of menuItems">
            <!-- <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" routerLinkActive="router-link-active"> -->
            <ion-item [routerDirection]="'root'" (click)="onNavigateClick(p)" class="menu-item" *ngIf="!p.hidden">
              <ion-label>
                <span [class]="p.icon"></span>
                {{ p.title }}
              </ion-label>
              <span text-end *ngIf="p.subtitle">
                <small>{{ p.subtitle }}</small>
              </span>
            </ion-item>

            <!-- 
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> 
              <ion-label>
                <span [class]="p.icon"></span>
                {{ p.title }}
              </ion-label>

              <ion-label slot="end">
                <small>{{ p.subtitle }}</small>
              </ion-label>
            </ion-item>
            -->

          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- <ngx-spinner bdOpacity="0.9" bdColor="silver" size="medium" color="black" loadingText="Aguarde..." type="timer"></ngx-spinner> -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>