<ul class="nav nav-tabs">
    <li role="presentation" class="disabled">
        <a>Estoque</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_est_movimento">
        <!--  *ngIf="operador.actions.act_manut_cli" -->
        <a [routerLink]="['/estoque/inventario']">
            <span class="icon-bullets"></span>&nbsp;Inventário
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_est_movimento">
        <!--  *ngIf="operador.actions.act_manut_ope" -->
        <a [routerLink]="['/estoque/entrada']">
            <span class="icon-to"></span>&nbsp;Entrada
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_est_movimento">
        <!--  *ngIf="operador.actions.act_manut_cli" -->
        <a [routerLink]="['/estoque/saida']">
            <span class="icon-from"></span>&nbsp;Saída
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_est_movimento">
        <!--  *ngIf="operador.actions.act_manut_cli" -->
        <a [routerLink]="['/estoque/transferencia']">
            <span class="icon-transfer"></span>&nbsp;Transferência
        </a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <!--  *ngIf="operador.actions.act_manut_cli" -->
        <a [routerLink]="['/estoque/amostragem']">
            <span class="icon-resize"></span>&nbsp;Amostragem
        </a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <!--  *ngIf="operador.actions.act_manut_cli" -->
        <a [routerLink]="['/estoque/perda']">
            <span class="icon-minus"></span>&nbsp;Lcto perda
        </a>
    </li>
</ul>

<router-outlet></router-outlet>