<!-- {{ pag.getPag() | json }} -->
<div *ngIf="impressoras && config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">
            Pontos de impressão&nbsp;
            <span class="badge">{{ pag.getTotal() }}
                <span class="icon-filter" *ngIf="pag.filtered"></span>
            </span>
        </li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Pontos de impressão
                        <span class="icon-printer pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onEditClick(0)">
                        Novo
                        <span class="icon-plus pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-filter pull-right"></span>
                        <div class="form-group padding">
                            <label for="filter">Filtro [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="filter" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Nome." [(ngModel)]="buffer"
                                    (keyup.enter)="pag.setFilter(buffer)" [select]="onConfigImpressorasFocusEvent">
                                <!-- <span class="input-group-addon">
                                    <span class="fa fa-filter"></span>
                                </span> -->
                            </div>
                        </div>
                    </span>
                    <span class="list-group-item text-center">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel=""
                            nextLabel=""></pagination-controls>
                    </span>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="default-cursor"></th>
                                <th class="default-cursor"></th>
                                <th (click)="pag.setSortingField('imp_c_impressora');">Ponto impressão &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'imp_c_impressora'"></i>
                                </th>
                                <th (click)="pag.setSortingField('imp_e_tipo');">Tipo &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'imp_e_tipo'"></i>
                                </th>
                                <th class="default-cursor">Conexão</th>
                                <th (click)="pag.setSortingField('imp_i_colunas');" class="text-right">Colunas &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'imp_i_colunas'"></i>
                                </th>
                                <!-- <th (click)="pag.setSortingField('imp_c_ip');">IP &nbsp;
                                <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'imp_c_ip'"></i>
                                </th>
                                <th (click)="pag.setSortingField('imp_c_windows');">Windows &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'imp_c_windows'"></i>
                                </th> -->
                                <th class="default-cursor"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let impressora of impressoras | paginate: pag.getPagInst()" [class.inativo]="!impressora.imp_b_ativo">
                                <td>
                                    <div class="icon-favorite" *ngIf="impressora.imp_b_padrao" tooltip="Padrão"
                                        placement="top"></div>
                                </td>

                                <td>
                                    <div [ngClass]="{'icon-checked': impressora.imp_b_ativo, 'icon-unchecked': !impressora.imp_b_ativo}"></div>
                                </td>

                                <td>{{ impressora.imp_c_impressora }}</td>

                                <td>{{ impressora.imp_c_tipo }}</td>

                                <td>{{ impressora.imp_c_conexao }}</td>

                                <td class="text-right">{{ impressora.imp_i_colunas }}</td>

                                <!-- <td>{{ impressora.imp_c_ip }}</td> 

                                <td>{{ impressora.imp_c_windows }}</td> -->

                                <td>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-danger" tooltip="Apagar" placememt="top"
                                            (click)="onDeleteClick(impressora)" *ngIf="!impressora.imp_b_padrao">
                                            <span class="icon-trash"></span>
                                        </button>

                                        <button type="button" class="btn btn-warning" tooltip="Testar" placememt="top"
                                            (click)="onTestarClick(impressora.imp_pk)">
                                            <span class="icon-ray"></span>
                                        </button>

                                        <button type="button" class="btn btn-primary" tooltip="Modificar" placememt="top"
                                            (click)="onEditClick(impressora.imp_pk)">
                                            <span class="icon-edit"></span>
                                        </button>

                                        <!-- 
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="icon-printer fa-2x"></i>&nbsp;
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a (click)="onPrintClick(impressora, 'T')">Teste formatação</a>
                                                </li>
                                                <li>
                                                    <a (click)="onPrintClick(impressora, 'R')">Relatório configuração</a>
                                                </li>
                                            </ul>
                                        </div> 
                                    -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="padding" *ngIf="impressoras?.length == 0">
                        <div class="alert alert-warning" role="alert">Nenhum ponto de impressão encontrado.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="text-right padding">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="
                                   "
                            nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>