<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="active">Estoque</li>
    <li class="active">Entrada</li>
</ol>

<div class="row padding">
    <div class="col-sm-6">
        <hyp-sel-produto [thumbs]="false" [estoque]="true" (onSelected)="onProdutoSel($event)"></hyp-sel-produto>
    </div>

    <div class="col-sm-6">
        <hyp-mov-estoque tipo="E" (onImport)="onImportClick($event)"></hyp-mov-estoque>
    </div>
</div>