<!-- {{ mesas | json }} -->
<div *ngIf="mesas">
    <ul class="thumbs">
        <li *ngFor="let mesa of mesas" class="noimg" [ngClass]="{ livre: mesa.mes_e_status == 'L', ocupada: mesa.mes_e_status == 'O', bloqueada: mesa.mes_e_status == 'B' }">
            <a (click)="onMesaClick(mesa)">
                <!-- 
                <img src="assets/img/mesa_livre.png" *ngIf="mesa.mes_e_status == 'L'">
                <img src="assets/img/mesa_ocupada.png" *ngIf="mesa.mes_e_status == 'O'">
                <img src="assets/img/mesa_bloqueada.png" *ngIf="mesa.mes_e_status == 'B'"> 
                -->
                <p>{{ mesa.mes_i_nro }}</p>
                <small>{{ mesa.mes_c_intervalo || 'Livre' }}</small>
                <div class="tag" tooltip="Comandas pendentes" placement="top" *ngIf="mesa.mes_i_comandas_pendentes > 0">{{ mesa.mes_i_comandas_pendentes }}</div>
            </a>
        </li>
    </ul>

    <div class="alert alert-warning" role="alert" *ngIf="mesas.length == 0">
        {{ emptyMsg }}
    </div>
</div>