/* 
#pdvMapaMesas {
    padding: 5px !important;
    margin: 0 !important;
} 
*/
 
.thumbs { 
    padding: 0; 
    margin: 0; 
    list-style: none;     
}

.thumbs li a img {
    position: relative;
    top: 0px;
    left: 0px;
    height: 48px;
    z-index: 0;
}
 
.thumbs li { 
    position: relative;
    top: 0xpx;
    left: 0px;
    background-color: #4e9b17;
    border: 1px solid white;
    float: left; 
    width: 50%; 
    height: 118px; // 80/118
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    z-index: 100;
}

.thumbs li .tag {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: white;
    color: gray;
    z-index: 200;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

.thumbs li.noimg {
    height: 80px !important;
}
 
.thumbs li a p {
    /* position: relative;
    top: 0px;
    left: 0px; */
    color: white;
    font-weight: bold;
    /* display: block;  */
    /* margin-top: 5px; */
    font-size: 3rem;
}
 
.thumbs li a small { 
    position: relative;
    top: -10px;
    left: 0px;
    margin-top: -35px !important;
    font-weight: bold;
    color: lightgreen;
    font-size: 1.5rem;
}

// ocupada 
.thumbs li.ocupada { 
    background-color: Chocolate;
}
 
.thumbs li.ocupada a small {
    color: yellow;
}

// bloqueada 
.thumbs li.bloqueada { 
    background-color: orange;
}
 
.thumbs li.bloqueada a small { 
    color: yellow;
}
 /*
.thumbs li a img, .show { 
    display: block; 
    width: 100%; 
    height: auto; 
}
 */
@media all and (min-width: 300px){  
    .thumbs li { width: 33.33%; }     
}       
 
@media only screen and (min-width: 400px) {     
    .thumbs li { width: 25%; } 
}  
 
@media only screen and (min-width: 500px) {     
    .thumbs li { width: 20%; }     
}  
 
@media only screen and (min-width: 600px) {     
    .thumbs li { width: 16.66%; } 
}  
 
@media only screen and (min-width: 700px) {     
    .thumbs li { width: 14.28%; } 
}  
 
@media only screen and (min-width: 800px) {     
    .thumbs li { width: 12.5%; } 
}  
 
@media only screen and (min-width: 900px) {     
    .thumbs li { width: 11.11%; } 
}  

@media all and (min-width: 1000px){  
    .thumbs li { width: 10%; }     
}       
 
@media only screen and (min-width: 1100px) {     
    .thumbs li { width: 9.09%; } 
}  
 
@media only screen and (min-width: 1200px) {     
    .thumbs li { width: 8.33%; }     
}  
 
@media only screen and (min-width: 1300px) {     
    .thumbs li { width: 7.69%; } 
}  
 
@media only screen and (min-width: 1400px) {     
    .thumbs li { width: 7.14%; } 
}  
 
@media only screen and (min-width: 1500px) {     
    .thumbs li { width: 6.66%; } 
}  
 
@media only screen and (min-width: 1600px) {     
    .thumbs li { width: 6.25%; } 
}  
@media all and (min-width: 1700px){  
    .thumbs li { width: 5.88%; }     
}       
 
@media only screen and (min-width: 1800px) {     
    .thumbs li { width: 5.55%; } 
}  
 
@media only screen and (min-width: 1900px) {     
    .thumbs li { width: 5.26%; }     
}  
 
@media only screen and (min-width: 2000px) {     
    .thumbs li { width: 5%; } 
}  
 