<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/turnos']">Turnos</a>
    </li>
</ol>

<div class="container-fluid">
    <div class="row" *ngIf="aberto && fechados">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a>Turno aberto</a>
                </li>
                <li *ngIf="aberto?.tur_i_nro > 0;else naoaberto">
                    <a>
                        Turno {{ aberto.tur_i_nro }}
                        <span class="icon-chevron-r pull-right"></span>
                    </a>
                </li>
                <ng-template #naoaberto>
                    <li>
                        <a>Nenhum</a>
                    </li>
                </ng-template>
            </ul>

            <ul class="nav nav-sidebar" *ngIf="fechados.length > 0;else naofechados">
                <li class="active">
                    <a>Turnos fechados
                        <span class="badge pull-right">{{ fechados.length }}</span>
                    </a>
                </li>

                <li *ngFor="let turno of fechados">
                    <a>
                        Turno {{ turno.tur_i_nro }}
                        <span class="badge pull-right">{{ 1 }} caixa</span>
                    </a>
                </li>
            </ul>

            <ng-template #naofechados>
                <ul class="nav nav-sidebar">
                    <li class="active">
                        <a>
                            Turnos fechados
                        </a>
                    </li>
                    <li>
                        <a>Nenhum</a>
                    </li>
                </ul>
            </ng-template>
        </div>

        <div class="col-sm-9 col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>