<div *ngIf="config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Comandas</li>
        <li class="active">Consulta</li>
        <li class="active">Mapa</li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Consulta comandas
                        <span class="icon-search pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-search pull-right"></span>
                        <div class="form-group padding">
                            <label for="gruSelecionar">Selecionar [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="gruSelecionar" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Comanda" [(ngModel)]="buffer" [focus]="onComandasLctoSelecionaFocusEvent"
                                    (keyup.enter)="onSelecionarClick(buffer)">
                                <span class="input-group-addon">
                                    <span class="icon-search"></span>
                                </span>
                            </div>
                        </div>
                    </span>
                    <button type="button" (click)="onMapaRefresh()" class="list-group-item">
                        Atualizar
                        <span class="icon-refresh pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ociosidade" [(ngModel)]="ociosidade"> Exibir ociosidade
                            </label>
                        </div>
                    </span>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <mapa-comandas [ociosidade]="ociosidade" (onClick)="onComandaClick($event)"></mapa-comandas>
        </div>
    </div>
</div>
