<div *ngIf="comandas">
    <ul class="thumbs">
        <li *ngFor="let comanda of comandas">
            <a (click)="onComandaClick(comanda)">
                <p>{{ comanda.com_i_nro }}</p>
                <small>{{ comanda.com_c_intervalo }}</small>
                <div class="tag" tooltip="Mesa associada" placement="top" *ngIf="comanda.com_i_nro_mesa > 0">{{ comanda.com_i_nro_mesa }}</div>
            </a>
        </li>
    </ul>

    <div class="alert alert-warning" role="alert" *ngIf="comandas.length == 0">
        Nenhuma comanda encontrada !!!
    </div>
</div> 
