// btn-group
.btn-group {
    background-color: white;
    width: 100%;
    margin-bottom: 2px;
}

.btn-group>.btn {
    width: 33.33%;
    height: 45px;
}

small {
    color: gray;
}

strong {
    font-size: 125%;
    color: MediumSeaGreen;
}

.add {
    color: dodgerblue;
}

.sub {
    color: coral;
}

// table
.table {
    border: 1px solid whitesmoke;
}

.table tbody tr td {
    vertical-align: middle;
    font-size: 130%;
}

.table tbody tr td.qtde {
    color: gray;
}

.table tbody tr td.produto {
    color: gray;
}

table td small {
    color: gray;
    font-style: italic;
}

table td .btn {
    margin-left: 5px;
}

a { 
    cursor: pointer;
}

/*
.nav li a {
    cursor: pointer;
}

.parcela {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-group label {
    font-size: 20px;
    margin-top: 15px;
    color: darkgray;
    font-weight: bold;
}

.form-group input {
    font-size: 200%;
    height: 60px;
}

.input-group .input-group-btn button {
    height: 60px;
}

.form-group input.form-control[readonly] {
    color: dimgray;
    border-radius: 6px;
}
/*
.pedido {
    position: relative;
    right: 15px;
    background-color: white;
    border-left: 1px solid whitesmoke;
}

.pedido.mesas {
    top: -150px;
}
*/
