<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loja">
  <!-- {{ loja | json }} -->
  <!-- {{ img }} -->

  <div text-center class="endereco">
    <h1>{{ loja.loj_c_loja }}</h1>
    <h5>{{ loja.loj_c_logradouro }}, {{ loja.loj_i_numero }}</h5>
    <h5>{{ loja.loj_c_bairro }} - {{ loja.loj_c_cep }}</h5>
    <h5>{{ loja.loj_c_cidade }}, {{ loja.loj_c_estado }}</h5>
    <h5>{{ loja.loj_c_fone1 }}</h5>
  </div>

  <ion-row *ngIf="img">
    <ion-col text-center>
      <img [src]="img" alt="">
    </ion-col>
  </ion-row>

  
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let item of items" size="12" size-sm="9" size-md="6" size-lg="4" size-xl="3">
        <ion-item>
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          {{item.title}}
          <div class="item-note" slot="end">
            {{item.note}}
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> 
 

  <ion-list margin>
    <ion-button expand="block" shape="round" color="primary" fill="solid" [routerLink]="['/login']">Entrar</ion-button>
  </ion-list>
</ion-content>