<div *ngIf="etiquetas && config && pag">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">
            Etiquetas&nbsp;
            <span class="badge">{{ pag.getTotal() }}
                <span class="icon-filter" *ngIf="pag.filtered"></span>
            </span>
        </li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Etiquetas
                        <span class="icon-tags pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onEditClick(null)">
                        Novo
                        <span class="icon-plus pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-filter pull-right"></span>
                        <div class="form-group padding">
                            <label for="filter">Filtro [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="filter" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Nome." [(ngModel)]="buffer"
                                    (keyup.enter)="pag.setFilter(buffer)" [select]="onConfigEtiquetasFocusEvent">
                            </div>
                        </div>
                    </span>
                    <span class="list-group-item text-center">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel=""
                            nextLabel=""></pagination-controls>
                    </span>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <!-- etiquetas: {{ etiquetas | json }} -->

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="default-cursor text-center"></th>
                                <th (click)="pag.setSortingField('eti_c_etiqueta');">Etiqueta &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'eti_c_etiqueta'"></i>
                                </th>
                                <th (click)="pag.setSortingField('eti_i_margem_esquerda');" class="text-right">Margem
                                    esquerda
                                    &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'eti_i_margem_esquerda'"></i>
                                </th>
                                <th (click)="pag.setSortingField('eti_i_qtde_colunas');" class="text-right">Qtde
                                    colunas
                                    &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'eti_i_qtde_colunas'"></i>
                                </th>
                                <th (click)="pag.setSortingField('eti_i_largura_colunas');" class="text-right">Largura
                                    colunas
                                    &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'eti_i_largura_colunas'"></i>
                                </th>
                                <th (click)="pag.setSortingField('eti_i_temperatura');" class="text-right">Temperatura
                                    &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'eti_i_temperatura'"></i>
                                </th>
                                <th (click)="pag.setSortingField('eti_i_vias');" class="text-right">Vias &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'eti_i_vias'"></i>
                                </th>
                                <th (click)="pag.setSortingField('eti_i_num_itens');" class="text-right">Itens &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}"
                                        [hidden]="pag.getSortingField() != 'eti_i_num_itens'"></i>
                                </th>
                                <th class="default-cursor"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let etiqueta of etiquetas | paginate: pag.getPagInst()" [class.inativo]="!etiqueta.eti_b_ativo">
                                <td class="text-center">
                                    <div [ngClass]="{'icon-checked': etiqueta.eti_b_ativo, 'icon-unchecked': !etiqueta.eti_b_ativo}"></div>
                                </td>
                                <td>{{ etiqueta.eti_c_etiqueta }}</td>
                                <td class="text-right">{{ etiqueta.eti_i_margem_esquerda }}</td>
                                <td class="text-right">{{ etiqueta.eti_i_qtde_colunas }}</td>
                                <td class="text-right">{{ etiqueta.eti_i_largura_colunas }}</td>
                                <td class="text-right">{{ etiqueta.eti_i_temperatura }}</td>
                                <td class="text-right">{{ etiqueta.eti_i_vias }}</td>
                                <td class="text-right">{{ etiqueta.eti_i_num_itens }}</td>
                                <td>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary" tooltip="Modificar" placememt="top"
                                            (click)="onEditClick(etiqueta)">
                                            <span class="icon-edit"></span>
                                        </button>
                                        <button type="button" class="btn btn-danger" tooltip="Excluir" placememt="top"
                                            (click)="onExcluirClick(etiqueta)">
                                            <span class="icon-trash"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="padding" *ngIf="etiquetas.length == 0">
                        <div class="alert alert-warning" role="alert">Nenhum etiqueta encontrado.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="text-right padding">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>