<h3>Detectando a arquitetura do seu Windows.</h3>

<blockquote>
    Antes de se instalar programas em seu computador, é necessário detectar se sua arquitetura é 32 ou 64 bits.
    <small>Programas 32 bits também rodam nos computadores com arquitetura 64 bits.</small>
</blockquote>

<ol>
    <li>Acione o menu
        <strong>Iniciar</strong>.</li>
    <li>Digite
        <strong>computador</strong> na consulta.</li>
    <li>Clique com o
        <strong>botão direito do mouse</strong> na opção
        <strong>Computador</strong> e selecione
        <strong>Propriedades</strong>.</li>
    <li>No grupo
        <strong>Sistema</strong> procure por
        <strong>Tipo de sistema:</strong>.</li>
    </li>
    <li>Caso seu sistema seja <strong>64 bits</strong> vc pode instalar programas 32 ou 64 bits, se for <strong>32 bits</strong>, apenas programas 32 bits poderão
        ser instalados.</li>
</ol>