<h3>Fixar IPs do servidor e terminais.</h3>

<blockquote> Repita os passos abaixo para em computador.</blockquote>
<ol>
    <li>Acione a consulta do Windows.
        <strong>Botão Iniciar.</strong>
    </li>
    <li>Digite
        <strong>Exibir conexões de rede</strong>.
    </li>
    <li>Clique com o
        <strong>botão direito do mouse</strong> sobre o adaptador desejado (normalmente Conexão local) e selecione
        <strong>Propriedades</strong>.</li>
    <li>
        Procure por
        <strong>Protocolo TCP/IP Versão 4 (TCP/IPv4)</strong> e clique sobre sobre ele para selecionar.
    </li>
    <li>
        Clique no botão
        <strong>Propriedades</strong>.
    </li>
    <li>
        Selecione
        <strong>Usar o seguinte endereço IP:</strong>.
    </li>
    <li>
        Em
        <strong>Endereço IP:</strong> digite o endereço de IP definido para esse adaptador.
    </li>
    <li>
        O valor da
        <strong>Máscara de sub-rede:</strong> será preenchido automaticamente, mantenha-o.
    </li>
    <li>
        Em
        <strong>Gateway padrão:</strong> digite o IP base da rede.
    </li>
    <li>
        Selecione
        <strong>Usar os seguintes endereços de servidor DNS:</strong>.
    </li>
    <li>
        Preencha os dois campos de DNS com os valores
        <strong>8.8.8.8</strong> e
        <strong>8.8.4.4</strong>.
    </li>
</ol>