<h3>Identificando IP base da rede</h3>

<ol>
    <li>Acione o executar do Windows.
        <strong>Win + R</strong>.
    </li>
    <li>Digite
        <strong>cmd</strong> para abrir o terminal.
    </li>
    <li>Digite
        <strong>ipconfig</strong> para listar as configurações das placas de redes instaladas.
    </li>
    <li>Procure por
        <strong>Adaptador Ethernet</strong> e anote o endereço ip Gateway Padrão, esse é o IP base da rede.
    </li>
</ol>