<h3>Detectando IPs em uso na rede.</h3>

<blockquote>Cada IP é composto por um grupo de 4 números que variam de 0 a 255. Cada dispositivo conectado à rede deve ter o mesmo valor
    do IP base nos três primeiros grupos e um valor diferente dos demais dispositivos atualmente conectados no último grupo.</blockquote>
<ol>
    <li>Listar endereços dos adaptadores em uso.
        <ol>
            <li>Acione o executar do Windows.
                <strong>Win + R</strong>.
            </li>
            <li>Digite
                <strong>cmd</strong> para abrir o terminal.
            </li>
            <li>Digite
                <strong>arp -a</strong> para listar os adaptadores e seus endereços.
            </li>
        </ol>
    </li>
    <li>
        Faça uma relação de cada dispositivo a ser conectado à rede: Ex: servidor, terminais, impressoras de rede, microterminais, etc...
    </li>
    <li>
        Atribua um IP que não esteja em uso na lista para cada dispositivo. <small>Esses endereços serão necessários para se fixar os IPs na rede e para configurar os dispositivos no programa.</small>
    </li>
</ol>