<h3>Instalando programas de terceiros.</h3>

<div class="alert alert-warning" role="alert">
    Considere a arquitetura de seu Windows para escolher entre as instalações 32 ou 64 bits de alguns dos programas.
</div>

<div class="alert alert-success" role="alert">
    No servidor e nos terminais
</div>

<blockquote>
    Google Chrome
    <small>Navegador</small>
</blockquote>

<ol>
    <li>Acesse o site
        <a href="http://www.google.com/chrome">google.com/chrome</a> e baixe o instalador.
    </li>
    <li>Execute o instalador e siga os passos indicados.
    </li>
</ol>

<hr>

<blockquote>
    Team Viewer
    <small>Acesso remoto</small>
</blockquote>

<ol>
    <li>Acesse o site
        <a href="https://www.teamviewer.com/pt/download/windows/">https://www.teamviewer.com</a> e baixe o instalador.
    </li>
    <li>Execute o instalador.</li>
    <li>Selecione
        <strong>Instalar</strong> e
        <strong>particular/não comercial</strong> e siga os passos indicados.</li>
</ol>

<hr>

<div class="alert alert-success" role="alert">
    No servidor
</div>

<blockquote>7zip
    <small>Descompactador</small>
</blockquote>

<ol>
    <li>Acesse o site
        <a href="http://www.7-zip.org/">http://www.7-zip.org/</a> e baixe o instalador.
    </li>
    <li>Execute o instalador e siga os passos indicados.
    </li>
</ol>

<hr>

<blockquote>
    Notepad++
    <small>Editor de texto</small>
</blockquote>

<ol>
    <li>Acesse o site
        <a href="https://notepad-plus-plus.org/download">https://notepad-plus-plus.org</a> e baixe o instalador.
    </li>
    <li>Execute o instalador e siga os passos indicados.
    </li>
</ol>

<hr>

<blockquote>
    XAMPP
    <small>Servidor Web, linguagem PHP e banco de dados MySQL</small>
</blockquote>

<ol>
    <li>Acesse o site
        <a href="https://www.apachefriends.org/pt_br/index.html">https://www.apachefriends.org/pt_br/index.html</a> e baixe o instalador.
    </li>
    <li>Execute o instalador.</li>
    <li>Siga os passos indicados e
        <strong>não execute o programa</strong> ao concluir a instalação.</li>
    <li>Abrir
        <strong>Menu Iniciar</strong>.</li>
    <li>Digite
        <strong>xampp</strong> na consulta.</li>
    <li>Clique com o
        <strong>botão direito do mouse</strong> em
        <strong>XAMPP Control Panel</strong> e selecione
        <strong>Executar como administrador.</strong>.
    </li>
    <li>
        Selecione o idioma
        <strong>Inglês</strong>.
    </li>
    <li>
        Na coluna
        <strong>Service</strong> ative as checkboxes
        <strong>Apache</strong> e
        <strong>MySQL</strong> para instalar esses serviços.
    </li>
    <li>
        Inicie os serviços
        <strong>Apache</strong> e
        <strong>MySQL</strong> clicando em seus botões
        <strong>Start</strong> na coluna
        <strong>Actions</strong>.
    </li>
    <li>
        Clique no botão
        <strong>Config</strong> e ative as checkboxes
        <strong>Apache</strong> e
        <strong>MySQL</strong> no grupo
        <strong>Autostart of modules</strong> e salve as configurações.
    </li>
    <li>
        Clique no botão (garanta que o Apache e o MySQL estejam em execução)
        <strong>Shell</strong> e digite o comando
        <strong>mysqladmin -u root password</strong> e digite e repita a senha
        <strong>masterkey</strong> para mudar a senha do usuário root do MySQL.
    </li>
    <li>
        Acione o gerenciador de arquivos
        <strong>Win + E</strong> acesse a pasta
        <strong>xampp/phpMyAdmin</strong> no disco em que foi realizada a instalação.
    </li>
    <li>
        Procure o arquivo
        <strong>config.inc.php</strong> e clique sobre ele com o
        <strong>botão direito do mouse</strong> e ative sua edição.
    </li>
    </li>
    <li>
        Procure o trecho
        <strong>$cfg['Servers'][$i]['password'] = '';</strong> logo no inicio do arquivo e digite a senha
        <strong>masterkey</strong> entre as aspas.
    </li>
    <li>
        Teste a instalação do apache abrindo o Chrome e digitando
        <strong>localhost</strong> na linha de endereço.
    </li>
    <li>
        Teste a instalação do MySQL, PHP e a configuração da senha do banco de dados abrindo o Chrome e digitando
        <strong>localhost/phpmyadmin</strong> na linha de endereço.
    </li>
</ol>

<hr>

<div class="alert alert-success" role="alert">
    Nas máquinas com balanças para leitura de peso e impressoras de barcode instaladas.
</div>

<blockquote>
    ACBRMonitorPLUS
    <small>Interface de utilização de dispositivos de automação comercial</small>
</blockquote>

<hr>
