<div *ngIf="operador && config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Cadastra admin</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            Cadastra admin
                            <span class="icon-tie pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <!-- 
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        -->
                        <button type="button" *ngIf="f.valid" (click)="onSubmit(f)" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="alert alert-info" role="alert">
                    <span class="icon-info-coin"></span>&nbsp;O Admin (Administrador do sistema) é um operador com plenos poderes, inclusive o de criar
                    e gerenciar os demais operadores. Guarde seu código e senha em lugar seguro e reservado.
                </div>

                <blockquote>Informações gerais</blockquote>

                <div class="row">
                    <div class="col-sm-4">
                        <!-- ope_i_cod -->
                        <div class="form-group" [ngClass]="{'has-error': fv.erro(ope_i_cod, 'codigo'), 'has-success': fv.erro(ope_i_cod, 'codigo') == ''}">
                            <label for="ope_i_cod" class="control-label">Código</label>
                            <input #ope_i_cod="ngModel" type="text" integer class="form-control mousetrap text-right" id="ope_i_cod" name="ope_i_cod"
                                [ngModel]="operador.ope_i_cod" [focus]="onCadastraAdminFocusEvent" maxlength="20" required onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(ope_i_cod, 'codigo')" [is-valid]="fv.erro(ope_i_cod, 'codigo') == ''" [msg]="fv.erro(ope_i_cod, 'codigo')"></hyp-form-control-error>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <!-- ope_c_operador -->
                        <div class="form-group" [ngClass]="{'has-error': fv.erro(ope_c_operador), 'has-success': fv.erro(ope_c_operador) == ''}">
                            <label for="ope_c_operador" class="control-label">Nome</label>
                            <input #ope_c_operador="ngModel" type="text" class="form-control mousetrap" id="ope_c_operador" name="ope_c_operador" [ngModel]="operador.ope_c_operador"
                                required maxlength="20" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(ope_c_operador)" [is-valid]="fv.erro(ope_c_operador) == ''" [msg]="fv.erro(ope_c_operador)"></hyp-form-control-error>
                        </div>
                    </div>
                </div>

                <blockquote>Segurança</blockquote>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- senha -->
                        <div class="form-group" [ngClass]="{'has-error': fv.erro(senha), 'has-success': fv.erro(senha) == ''}">
                            <label for="senha" class="control-label">Senha</label>
                            <input #senha="ngModel" type="password" class="form-control mousetrap" id="senha" name="senha" [ngModel]="operador.senha"
                                required onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(senha)" [is-valid]="fv.erro(senha) == ''" [msg]="fv.erro(senha)"></hyp-form-control-error>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- confirmacao -->
                        <div class="form-group" [ngClass]="{'has-error': fv.erro(confirmacao, 'confirmacao'), 'has-success': fv.erro(confirmacao, 'confirmacao') == ''}">
                            <label for="confirmacao" class="control-label">Confirmação senha</label>
                            <input #confirmacao="ngModel" type="password" class="form-control mousetrap" id="confirmacao" name="confirmacao" [ngModel]="operador.confirmacao"
                                required onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(confirmacao, 'confirmacao')" [is-valid]="fv.erro(confirmacao, 'confirmacao') == ''"
                                [msg]="fv.erro(confirmacao, 'confirmacao')"></hyp-form-control-error>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <button type="submit" class="btn btn-success btn-block" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--<hyp-form-debug [form]="f"></hyp-form-debug>-->
    </form>
</div>