<div class="padding">
    <div *ngIf="form" class="well">
        <div class="row padding">
            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [checked]="form?.pristine" readonly> ng-pristine
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" [checked]="form?.dirty" readonly> ng-dirty
                    </label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [checked]="form?.untouched" readonly> ng-untouched
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" [checked]="form?.touched" readonly> ng-touched
                    </label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [checked]="form?.valid" readonly> ng-valid
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" [checked]="form?.invalid" readonly> ng-invalid
                    </label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [checked]="form?.submitted" readonly> ng-submitted
                    </label>
                </div>
            </div>

            <div class="row padding">
                <div class="col-xs-12">
                    <div class="padding">
                        <code class="padding">
                            {{ form?.value | json }}
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
