<div *ngIf="loja && operador && turno && essenciais">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li class="active">Home</li>
    </ol>

    <div class="container">
        <div class="row essenciais" *ngIf="!essenciais.ok;else essenciaisOk">
            <blockquote>
                Alguns cadastros essenciais não foram preenchidos.
            </blockquote>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let item of essenciais.rows">
                    <a (click)="onEssencialClick(item)" class="thumbnail" [ngClass]="{'ok': item.num > 0,'error': item.num == 0}">
                        <span class="fa-5x" [ngClass]="{'icon-check': item.num > 0, 'icon-cancel': item.num == 0}"></span>
                        <h3>{{ item.caption }}</h3>
                        <span class="badge" *ngIf="!item.bool && item.num > 0">{{ item.num }}</span>
                    </a>
                </div>
            </div>
        </div>

        <ng-template #essenciaisOk>
            <!-- responsive-tiles -->
            <div class="row tiles">
                <!-- sair -->
                <div class="col-md-2 col-xs-4">
                    <div id="one" class="tile green" [routerLink]="['/login']" (window:resize)="onResize($event)">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Sair</p>
                                        <i class="icon-logout fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Sair do operador em uso.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;Q&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- turno
                <div class="col-md-4 col-xs-8" *ngIf="operador.actions.act_movimentos_financeiros">
                    <div class="tile red" [routerLink]="['/turnos']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Turnos [&nbsp;T&nbsp;]</p>
                                        <i class="icon-time fa-3x"></i>
                                        <!-- <strong class="fa-3x" *ngIf="turno.nro > 0;else turnoFechado">&nbsp;{{ turno.nro }}</strong>
                                        <ng-template #turnoFechado>
                                            <p>
                                                <strong>3 fechado(s)</strong>
                                            </p>
                                        </ng-template> 
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Detalhes do turno.</p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                -->

                <!-- produtos -->
                <div class="col-md-4 col-xs-8" *ngIf="operador.actions.act_manut_pro">
                    <div class="tile lightblue" [routerLink]="['/cadastros/produtos/grade', 0]">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Produtos</p>
                                        <i class="icon-barcode fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Cadastro de produtos.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;P&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- operadores -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_manut_ope">
                    <div class="tile lightblue" [routerLink]="['/cadastros/operadores/grade']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Operadores</p>
                                        <i class="icon-id-card-v fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Cadastro de operadores.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;O&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- clientes
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_manut_cli">
                    <div class="tile lightblue" [routerLink]="['/cadastros/clientes/grade']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Clientes</p>
                                        <i class="icon-users fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Cadastro de clientes.</p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- fornecedores
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_manut_for">
                    <div class="tile lightblue" [routerLink]="['/cadastros/fornecedores/grade']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Fornecedores</p>
                                        <i class="icon ion-cube fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Cadastro de fornecedores.</p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- </div><div class="row"> -->

                <!-- detalhes 
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_manut_pro">
                    <div class="tile lightblue" [routerLink]="['/cadastros/detalhes/grade']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Detalhes [&nbsp;D&nbsp;]</p>
                                        <i class="icon-more fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Cadastro de detalhes de produtos.</p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <!-- relatorios
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.grp_relatorios">
                    <div class="tile darkorange" [routerLink]="['/relatorios']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Relatórios [&nbsp;R&nbsp;]</p>
                                        <i class="icon-printer fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Relatórios.</p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <!-- Inventário -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_est_movimento">
                    <div class="tile brown" [routerLink]="['/estoque/inventario']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Inventário</p>
                                        <i class="icon-bullets fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Inventário.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;I&nbsp;]</p>
                            </div>
                        </div>
                        <div class="badge" *ngIf="alertas.length > 0">{{ alertas.length }}</div>
                    </div>
                </div>

                <!-- Entrada estoque -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_est_movimento">
                    <div class="tile brown" [routerLink]="['/estoque/entrada']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Entrada estoque</p>
                                        <i class="icon-to fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Entrada estoque.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;E&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Saída estoque -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_est_movimento">
                    <div class="tile brown" [routerLink]="['/estoque/saida']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Saída estoque</p>
                                        <i class="icon-from fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Saída estoque.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;S&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Transferência estoque -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_est_movimento">
                    <div class="tile brown" [routerLink]="['/estoque/transferencia']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Transferência estoque</p>
                                        <i class="icon-transfer fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Transferência estoque.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;T&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Amostragem -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.act_est_movimento">
                    <div class="tile brown" [routerLink]="['/estoque/amostragem']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Amostragem</p>
                                        <i class="icon-resize fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Amostragem.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;A&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- lcto perda -->
                <div class="col-md-2 col-xs-4">
                    <div class="tile brown" [routerLink]="['/estoque/perda']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Perda</p>
                                        <i class="icon-minus fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Perda.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;R&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- relatórios -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.ope_b_adm">
                    <div class="tile orange" [routerLink]="['/relatorios']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Relatórios</p>
                                        <i class="icon-printer fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Relatórios.</p>
                                    </h3>
                                </div>
                                <!-- <p class="note">[&nbsp;G&nbsp;]</p> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- config -->
                <div class="col-md-2 col-xs-4" *ngIf="operador.actions.grp_config">
                    <div class="tile slateblue" [routerLink]="['/config']">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3 class="caption">
                                        <p>Config</p>
                                        <i class="icon-gear fa-3x"></i>
                                    </h3>
                                </div>
                                <div class="item">
                                    <h3 class="caption">
                                        <p>Configurações.</p>
                                    </h3>
                                </div>
                                <p class="note">[&nbsp;G&nbsp;]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>