.tile {
    position: relative;
    top: 0px;
    left: 0px;
}

.thumbnail {
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.thumbnail .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 200%;
    background-color: white;
    color: limegreen;
}

.tile .badge {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 120%;
    background-color: yellow;
    color: brown;
    padding: 5px;
}

.thumbnail.ok {
    background-color: limegreen;
}

.thumbnail.error {
    background-color: tomato;
}
