<!-- {{ etiqueta | json }} -->
<div *ngIf="etiqueta">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- eti_c_etiqueta -->
                        <div class="form-group" [ngClass]="{'has-error': fv.erro(eti_c_etiqueta, 'etiqueta'), 'has-success': fv.erro(eti_c_etiqueta, 'etiqueta') == ''}">
                            <label for="eti_c_etiqueta" class="control-label">Etiqueta</label>
                            <input #eti_c_etiqueta="ngModel" type="text" class="form-control mousetrap" id="eti_c_etiqueta"
                                name="eti_c_etiqueta" [(ngModel)]="etiqueta.eti_c_etiqueta" maxLength="40" [focus]="onEtiquetaEditModalFocusEvent"
                                required onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(eti_c_etiqueta, 'etiqueta')" [is-valid]="fv.erro(eti_c_etiqueta, 'etiqueta') == ''"
                                [msg]="fv.erro(eti_c_etiqueta, 'etiqueta')"></hyp-form-control-error>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <!-- eti_i_margem_esquerda -->
                        <div class="form-group" [ngClass]="{ 'has-error': fv.erro(eti_i_margem_esquerda, 'margemEsquerda'), 'has-success': fv.erro(eti_i_margem_esquerda, 'margemEsquerda')==''}">
                            <label for="eti_i_margem_esquerda" class="control-label">Margem esquerda</label>
                            <input #eti_i_margem_esquerda="ngModel" type="text" integer class="form-control mousetrap text-right"
                                id="eti_i_margem_esquerda" name="eti_i_margem_esquerda" [ngModel]="etiqueta.eti_i_margem_esquerda"
                                required [min]="0" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(eti_i_margem_esquerda, 'margemEsquerda')"
                                [is-valid]="fv.erro(eti_i_margem_esquerda, 'margemEsquerda')==''" [msg]="fv.erro(eti_i_margem_esquerda, 'margemEsquerda')"></hyp-form-control-error>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <!-- eti_i_vias -->
                        <div class="form-group" [ngClass]="{ 'has-error': fv.erro(eti_i_vias, 'vias'), 'has-success': fv.erro(eti_i_vias, 'vias')==''}">
                            <label for="eti_i_vias" class="control-label">Vias</label>
                            <input #eti_i_vias="ngModel" type="text" integer class="form-control mousetrap text-right"
                                id="eti_i_vias" name="eti_i_vias" [ngModel]="etiqueta.eti_i_vias" required [min]="1"
                                onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(eti_i_vias, 'vias')" [is-valid]="fv.erro(eti_i_vias, 'vias')==''"
                                [msg]="fv.erro(eti_i_vias, 'vias')"></hyp-form-control-error>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <!-- eti_i_temperatura -->
                        <div class="form-group" [ngClass]="{ 'has-error': fv.erro(eti_i_temperatura, 'temperatura'), 'has-success': fv.erro(eti_i_temperatura, 'temperatura')==''}">
                            <label for="eti_i_temperatura" class="control-label">Temperatura</label>
                            <input #eti_i_temperatura="ngModel" type="text" integer class="form-control mousetrap text-right"
                                id="eti_i_temperatura" name="eti_i_temperatura" [ngModel]="etiqueta.eti_i_temperatura"
                                required [min]="0" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(eti_i_temperatura, 'temperatura')" [is-valid]="fv.erro(eti_i_temperatura, 'temperatura')==''"
                                [msg]="fv.erro(eti_i_temperatura, 'temperatura')"></hyp-form-control-error>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <!-- eti_b_ativo -->
                        <div class="form-group">
                            <label for="eti_b_ativo"></label>
                            <div class="checkbox">
                                <label>
                                    <input #eti_b_ativo="ngModel" type="checkbox" id="eti_b_ativo" name="eti_b_ativo"
                                        [ngModel]="etiqueta.eti_b_ativo" onReturn> Ativa
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 padding">
                <div class="well">
                    <blockquote>
                        Colunas
                    </blockquote>

                    <!-- eti_i_qtde_colunas -->
                    <div class="form-group" [ngClass]="{ 'has-error': fv.erro(eti_i_qtde_colunas, 'qtdeColunas'), 'has-success': fv.erro(eti_i_qtde_colunas, 'qtdeColunas')==''}">
                        <label for="eti_i_qtde_colunas" class="control-label">Qtde</label>
                        <input #eti_i_qtde_colunas="ngModel" type="text" integer class="form-control mousetrap text-right"
                            id="eti_i_qtde_colunas" name="eti_i_qtde_colunas" [ngModel]="etiqueta.eti_i_qtde_colunas"
                            required [min]="1" onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(eti_i_qtde_colunas, 'qtdeColunas')" [is-valid]="fv.erro(eti_i_qtde_colunas, 'qtdeColunas')==''"
                            [msg]="fv.erro(eti_i_qtde_colunas, 'qtdeColunas')"></hyp-form-control-error>
                    </div>

                    <!-- eti_i_largura_colunas -->
                    <div class="form-group" [ngClass]="{ 'has-error': fv.erro(eti_i_largura_colunas, 'larguraColunas'), 'has-success': fv.erro(eti_i_largura_colunas, 'larguraColunas')==''}">
                        <label for="eti_i_largura_colunas" class="control-label">Largura</label>
                        <input #eti_i_largura_colunas="ngModel" type="text" integer class="form-control mousetrap text-right"
                            id="eti_i_largura_colunas" name="eti_i_largura_colunas" [ngModel]="etiqueta.eti_i_largura_colunas"
                            required [min]="0" onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(eti_i_largura_colunas, 'larguraColunas')"
                            [is-valid]="fv.erro(eti_i_largura_colunas, 'larguraColunas')==''" [msg]="fv.erro(eti_i_largura_colunas, 'larguraColunas')"></hyp-form-control-error>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row padding">
            <div class="col-sm-4">
                <button type="button" class="btn btn-block btn-default" (click)="bsModalRef.hide()">
                    Cancelar
                    <span class="icon-chevron-l pull-left"></span>
                </button>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                    Salvar
                    <span class="icon-check pull-right"></span>
                </button>
            </div>
        </div>
        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </form>
</div>