<!-- {{ modalData | json }} {{ novaEtiqueta }} {{ idEtiqueta }} -->
<div *ngIf="etiqueta">
    <div class="modal-header text-center">
        <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
        <span class="icon-refresh"></span>
    </button> -->
        <h4 class="modal-title">
            {{ caption }}{{ modalData.posCaption }}
            <!-- <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}</div>-->
        </h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ul class="nav nav-tabs">
            <li role="presentation" [ngClass]="{active: modalData.pag=='eti-edi'}" *ngIf="(idEtiqueta > 0 || novaEtiqueta) && modalData.idItem == 0 && !modalData.novoItem">
                <a (click)="modalData.pag='eti-edi'">{{ captionEtiqueta }}</a>
            </li>
            <li role="presentation" [ngClass]="{active: modalData.pag=='itm-gra'}" *ngIf="idEtiqueta > 0 && modalData.idItem == 0 && !modalData.novoItem">
                <a (click)="modalData.pag='itm-gra'">
                    Itens&nbsp;<span class="badge">{{ etiqueta.eti_i_num_itens }}</span>
                </a>
            </li>
            <li role="presentation" [ngClass]="{active: modalData.pag=='itm-edi'}" *ngIf="modalData.idItem > 0 || modalData.novoItem"><a
                    (click)="modalData.pag='itm-edi'">Item</a></li>
        </ul>

        <div [ngSwitch]="modalData.pag">
            <div *ngSwitchCase="'itm-gra'">
                <retag-itens-etiquetas-grade [idEtiqueta]="etiqueta.eti_pk" (onChange)="onPagChanged($event)"></retag-itens-etiquetas-grade>
            </div>
            <div *ngSwitchCase="'itm-edi'">
                <retag-item-etiqueta-edit [idEtiqueta]="etiqueta.eti_pk" [idItem]="modalData.idItem" (onChange)="onPagChanged($event)"></retag-item-etiqueta-edit>
            </div>
            <div *ngSwitchDefault>
                <retag-etiqueta-edit [idEtiqueta]="etiqueta.eti_pk" (onChange)="onPagChanged($event)"></retag-etiqueta-edit>
            </div>
        </div>
    </div>
    <!--
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->
</div>