<div *ngIf="item">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row padding">
            <div class="col-xs-4">
                <!-- iet_e_tipo -->
                <div class="form-group">
                    <label for="iet_e_tipo" class="control-label">Tipo</label>
                    <select #iet_e_tipo="ngModel" class="form-control mousetrap" id="iet_e_tipo" name="iet_e_tipo"
                        [(ngModel)]="item.iet_e_tipo" [focus]="onItemEtiquetaEditModalFocusEvent" required onReturn>
                        <option value="T">Texto</option>
                        <option value="B">Cód.barras</option>
                        <option value="L">Linha</option>
                        <option value="C">Caixa</option>
                        <option value="I">Imagem</option>
                    </select>
                </div>

                <!-- iet_i_inicio_v -->
                <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_inicio_v, 'topo'), 'has-success': fv.erro(iet_i_inicio_v, 'topo')==''}">
                    <label for="iet_i_inicio_v" class="control-label">Topo</label>
                    <input #iet_i_inicio_v="ngModel" type="text" integer class="form-control mousetrap text-right" id="iet_i_inicio_v"
                        name="iet_i_inicio_v" [ngModel]="item.iet_i_inicio_v" required onReturn>
                    <hyp-form-control-error [is-error]="fv.erro(iet_i_inicio_v, 'topo')" [is-valid]="fv.erro(iet_i_inicio_v, 'topo')==''"
                        [msg]="fv.erro(iet_i_inicio_v, 'topo')"></hyp-form-control-error>
                </div>

                <!-- iet_i_inicio_h -->
                <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_inicio_h, 'esquerda'), 'has-success': fv.erro(iet_i_inicio_h, 'esquerda')==''}">
                    <label for="iet_i_inicio_h" class="control-label">Esquerda</label>
                    <input #iet_i_inicio_h="ngModel" type="text" integer class="form-control mousetrap text-right" id="iet_i_inicio_h"
                        name="iet_i_inicio_h" [ngModel]="item.iet_i_inicio_h" required onReturn>
                    <hyp-form-control-error [is-error]="fv.erro(iet_i_inicio_h, 'esquerda')" [is-valid]="fv.erro(iet_i_inicio_h, 'esquerda')==''"
                        [msg]="fv.erro(iet_i_inicio_h, 'esquerda')"></hyp-form-control-error>
                </div>

                <!-- iet_b_ativo -->
                <div class="form-group">
                    <label for="iet_b_ativo"></label>
                    <div class="checkbox">
                        <label>
                            <input #iet_b_ativo="ngModel" type="checkbox" id="iet_b_ativo" name="iet_b_ativo" [ngModel]="item.iet_b_ativo"
                                onReturn> Ativo
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-xs-8">
                <div class="well" *ngIf="item.iet_e_tipo == 'T'">
                    <!-- <blockquote>
                        Texto
                    </blockquote> -->

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_e_orientacao -->
                            <div class="form-group">
                                <label for="iet_e_orientacao" class="control-label">Orientação</label>
                                <select #iet_e_orientacao="ngModel" class="form-control mousetrap" id="iet_e_orientacao"
                                    name="iet_e_orientacao" [(ngModel)]="item.iet_e_orientacao" required onReturn>
                                    <option value="0">Normal</option>
                                    <option value="1">270º</option>
                                    <option value="2">180º</option>
                                    <option value="3">90º</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_e_fonte -->
                            <div class="form-group">
                                <label for="iet_e_fonte" class="control-label">Tamanho fonte</label>
                                <select #iet_e_fonte="ngModel" class="form-control mousetrap" id="iet_e_fonte" name="iet_e_fonte"
                                    [(ngModel)]="item.iet_e_fonte" required onReturn>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_e_multi_h -->
                            <div class="form-group">
                                <label for="iet_e_multi_h" class="control-label">Multiplicador horizontal</label>
                                <select #iet_e_multi_h="ngModel" class="form-control mousetrap" id="iet_e_multi_h" name="iet_e_multi_h"
                                    [(ngModel)]="item.iet_e_multi_h" required onReturn>
                                    <option value="1">1x</option>
                                    <option value="2">2x</option>
                                    <option value="3">3x</option>
                                    <option value="4">4x</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_e_multi_v -->
                            <div class="form-group">
                                <label for="iet_e_multi_v" class="control-label">Multiplicador vertical</label>
                                <select #iet_e_multi_v="ngModel" class="form-control mousetrap" id="iet_e_multi_v" name="iet_e_multi_v"
                                    [(ngModel)]="item.iet_e_multi_v" required onReturn>
                                    <option value="1">1x</option>
                                    <option value="2">2x</option>
                                    <option value="3">3x</option>
                                    <option value="4">4x</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_i_larg_texto -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_larg_textp, 'largTexto'), 'has-success': fv.erro(iet_i_larg_texto, 'largTexto')==''}">
                                <label for="iet_i_larg_texto" class="control-label">Lagura texto</label>
                                <input #iet_i_larg_texto="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_larg_texto" name="iet_i_larg_texto" [ngModel]="item.iet_i_larg_texto"
                                    onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_larg_texto, 'largTexto')" [is-valid]="fv.erro(iet_i_larg_texto, 'largTexto')==''"
                                    [msg]="fv.erro(iet_i_larg_texto, 'largTexto')"></hyp-form-control-error>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_e_alinhamento -->
                            <div class="form-group">
                                <label for="iet_e_alinhamento" class="control-label">Alinhamento</label>
                                <select #iet_e_alinhamento="ngModel" class="form-control mousetrap" id="iet_e_alinhamento"
                                    name="iet_e_alinhamento" [(ngModel)]="item.iet_e_alinhamento" required onReturn>
                                    <option value="E">Esquerda</option>
                                    <option value="C">Centralizado</option>
                                    <option value="D">Direita</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- iet_c_campo_produto -->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="iet_c_campo_produto" class="control-label">Campo de produto</label>
                                <select #iet_c_campo_produto="ngModel" class="form-control mousetrap" id="iet_c_campo_produto"
                                    name="iet_c_campo_produto" [(ngModel)]="item.iet_c_campo_produto" (change)="onCampoProdutoChange()"
                                    onReturn>
                                    <option value="">-- Nenhum --</option>
                                    <option value="pro_i_cod">Código</option>
                                    <option value="pro_c_barcode">Cód. barras</option>
                                    <option value="pro_c_produto">Produto</option>
                                    <option value="pro_c_produto_curto">Produto curto</option>
                                    <option value="pro_c_grupo">Grupo</option>
                                    <option value="pro_f_preco_custo">Preço custo</option>
                                    <option value="pro_f_preco_custo_medio">Preço custo médio</option>
                                    <option value="pro_f_preco_venda">Preço venda</option>
                                    <option value="pro_f_preco_venda_promo">Preço venda promocional</option>
                                    <option value="pro_f_est_qtde_deposito">Qtde depósito</option>
                                    <option value="pro_f_est_qtde_loja">Qtde loja</option>
                                    <option value="pro_c_img">Imagem</option>
                                    <!-- <option value="pro_m_obs">Obs</option> -->
                                </select>
                            </div>
                        </div>

                        <!-- iet_c_campo_produto_condicional -->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="iet_c_campo_produto_condicional" class="control-label">Campo de produto
                                    condicional</label>
                                <select #iet_c_campo_produto_condicional="ngModel" class="form-control mousetrap" id="iet_c_campo_produto_condicional"
                                    name="iet_c_campo_produto_condicional" [(ngModel)]="item.iet_c_campo_produto_condicional"
                                    onReturn>
                                    <option value="">-- Nenhum --</option>
                                    <option value="pro_i_cod">Código</option>
                                    <option value="pro_c_barcode">Cód. barras</option>
                                    <option value="pro_c_produto">Produto</option>
                                    <option value="pro_c_produto_curto">Produto curto</option>
                                    <option value="pro_c_grupo">Grupo</option>
                                    <option value="pro_f_preco_custo">Preço custo</option>
                                    <option value="pro_f_preco_custo_medio">Preço custo médio</option>
                                    <option value="pro_f_preco_venda">Preço venda</option>
                                    <option value="pro_f_preco_venda_promo">Preço venda promocional</option>
                                    <option value="pro_f_est_qtde_deposito">Qtde depósito</option>
                                    <option value="pro_f_est_qtde_loja">Qtde loja</option>
                                    <option value="pro_c_img">Imagem</option>
                                    <!-- <option value="pro_m_obs">Obs</option> -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- iet_c_texto -->
                    <div class="form-group" [ngClass]="{'has-error': fv.erro(iet_c_texto, 'texto'), 'has-success': fv.erro(iet_c_texto, 'texto') == ''}">
                        <label for="iet_c_texto" class="control-label">Texto</label>
                        <input #iet_c_texto="ngModel" type="text" class="form-control mousetrap" id="iet_c_texto" name="iet_c_texto"
                            [(ngModel)]="item.iet_c_texto" maxLength="60" required onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(iet_c_texto, 'texto')" [is-valid]="fv.erro(iet_c_texto, 'texto') == ''"
                            [msg]="fv.erro(iet_c_texto, 'texto')"></hyp-form-control-error>
                    </div>
                </div>

                <div class="well" *ngIf="item.iet_e_tipo == 'B'">
                    <!-- <blockquote>
                        Cód. barras
                    </blockquote> -->

                    <div class="row">
                        <!-- iet_c_campo_produto -->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="iet_c_campo_produto" class="control-label">Campo de produto</label>
                                <select #iet_c_campo_produto="ngModel" class="form-control mousetrap" id="iet_c_campo_produto"
                                    name="iet_c_campo_produto" [(ngModel)]="item.iet_c_campo_produto" (change)="onCampoProdutoChange()"
                                    onReturn>
                                    <option value="">-- Nenhum --</option>
                                    <option value="pro_i_cod">Código</option>
                                    <option value="pro_c_barcode">Cód. barras</option>
                                    <option value="pro_c_produto">Produto</option>
                                    <option value="pro_c_produto_curto">Produto curto</option>
                                    <option value="pro_c_grupo">Grupo</option>
                                    <option value="pro_f_preco_custo">Preço custo</option>
                                    <option value="pro_f_preco_custo_medio">Preço custo médio</option>
                                    <option value="pro_f_preco_venda">Preço venda</option>
                                    <option value="pro_f_preco_venda_promo">Preço venda promocional</option>
                                    <option value="pro_f_est_qtde_deposito">Qtde depósito</option>
                                    <option value="pro_f_est_qtde_loja">Qtde loja</option>
                                    <option value="pro_c_img">Imagem</option>
                                    <!-- <option value="pro_m_obs">Obs</option> -->
                                </select>
                            </div>
                        </div>

                        <!-- iet_c_campo_produto_condicional -->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="iet_c_campo_produto_condicional" class="control-label">Campo de produto
                                    condicional</label>
                                <select #iet_c_campo_produto_condicional="ngModel" class="form-control mousetrap" id="iet_c_campo_produto_condicional"
                                    name="iet_c_campo_produto_condicional" [(ngModel)]="item.iet_c_campo_produto_condicional"
                                    onReturn>
                                    <option value="">-- Nenhum --</option>
                                    <option value="pro_i_cod">Código</option>
                                    <option value="pro_c_barcode">Cód. barras</option>
                                    <option value="pro_c_produto">Produto</option>
                                    <option value="pro_c_produto_curto">Produto curto</option>
                                    <option value="pro_c_grupo">Grupo</option>
                                    <option value="pro_f_preco_custo">Preço custo</option>
                                    <option value="pro_f_preco_custo_medio">Preço custo médio</option>
                                    <option value="pro_f_preco_venda">Preço venda</option>
                                    <option value="pro_f_preco_venda_promo">Preço venda promocional</option>
                                    <option value="pro_f_est_qtde_deposito">Qtde depósito</option>
                                    <option value="pro_f_est_qtde_loja">Qtde loja</option>
                                    <option value="pro_c_img">Imagem</option>
                                    <!-- <option value="pro_m_obs">Obs</option> -->
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_c_texto -->
                            <div class="form-group" [ngClass]="{'has-error': fv.erro(iet_c_texto, 'texto'), 'has-success': fv.erro(iet_c_texto, 'texto') == ''}">
                                <label for="iet_c_texto" class="control-label">Texto</label>
                                <input #iet_c_texto="ngModel" type="text" class="form-control mousetrap" id="iet_c_texto"
                                    name="iet_c_texto" [(ngModel)]="item.iet_c_texto" maxLength="60" required onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_c_texto, 'texto')" [is-valid]="fv.erro(iet_c_texto, 'texto') == ''"
                                    [msg]="fv.erro(iet_c_texto, 'texto')"></hyp-form-control-error>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_e_orientacao -->
                            <div class="form-group">
                                <label for="iet_e_orientacao" class="control-label">Orientação</label>
                                <select #iet_e_orientacao="ngModel" class="form-control mousetrap" id="iet_e_orientacao"
                                    name="iet_e_orientacao" [(ngModel)]="item.iet_e_orientacao" required onReturn>
                                    <option value="0">Normal</option>
                                    <option value="1">270º</option>
                                    <option value="2">180º</option>
                                    <option value="3">90º</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_e_tipo_barra -->
                            <div class="form-group">
                                <label for="iet_e_tipo_barra" class="control-label">Tipo barra</label>
                                <select #iet_e_tipo_barra="ngModel" class="form-control mousetrap" id="iet_e_tipo_barra"
                                    name="iet_e_tipo_barra" [(ngModel)]="item.iet_e_tipo_barra" required onReturn>
                                    <option value="0">EAN13</option>
                                    <option value="1">EAN8</option>
                                    <option value="2">STANDARD</option>
                                    <option value="3">INTERLEAVED</option>
                                    <option value="4">CODE128</option>
                                    <option value="5">CODE39</option>
                                    <option value="6">CODE93</option>
                                    <option value="7">UPCA</option>
                                    <option value="8">CODABAR</option>
                                    <option value="9">MSI</option>
                                    <option value="10">CODE11</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_i_altura_barra -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_altura_barra, 'alturaBarra'), 'has-success': fv.erro(iet_i_altura_barra, 'alturaBarra')==''}">
                                <label for="iet_i_altura_barra" class="control-label">Altura barra</label>
                                <input #iet_i_altura_barra="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_altura_barra" name="iet_i_altura_barra" [ngModel]="item.iet_i_altura_barra"
                                    required onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_altura_barra, 'alturaBarra')"
                                    [is-valid]="fv.erro(iet_i_altura_barra, 'alturaBarra')==''" [msg]="fv.erro(iet_i_altura_barra, 'alturaBarra')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_i_larg_barra_larga -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_larg_barra_larga, 'largBarraLarga'), 'has-success': fv.erro(iet_i_larg_barra_larga, 'largBarraLarga')==''}">
                                <label for="iet_i_larg_barra_larga" class="control-label">Largura barra larga</label>
                                <input #iet_i_larg_barra_larga="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_larg_barra_larga" name="iet_i_larg_barra_larga" [ngModel]="item.iet_i_larg_barra_larga"
                                    required onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_larg_barra_larga, 'largBarraLarga')"
                                    [is-valid]="fv.erro(iet_i_larg_barra_larga, 'largBarraLarga')==''" [msg]="fv.erro(iet_i_larg_barra_larga, 'largBarraLarga')"></hyp-form-control-error>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_i_larg_barra_fina -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_larg_barra_fina, 'largBarraFina'), 'has-success': fv.erro(iet_i_larg_barra_fina, 'largBarraFina')==''}">
                                <label for="iet_i_larg_barra_fina" class="control-label">Largura barra fina</label>
                                <input #iet_i_larg_barra_fina="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_larg_barra_fina" name="iet_i_larg_barra_fina" [ngModel]="item.iet_i_larg_barra_fina"
                                    required onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_larg_barra_fina, 'largBarraFina')"
                                    [is-valid]="fv.erro(iet_i_larg_barra_fina, 'largBarraFina')==''" [msg]="fv.erro(iet_i_larg_barra_fina, 'largBarraFina')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_b_exibe_cod_barra -->
                            <div class="form-group">
                                <label for="iet_b_exibe_cod_barra"></label>
                                <div class="checkbox">
                                    <label>
                                        <input #iet_b_exibe_cod_barra="ngModel" type="checkbox" id="iet_b_exibe_cod_barra"
                                            name="iet_b_exibe_cod_barra" [ngModel]="item.iet_b_exibe_cod_barra"
                                            onReturn> Exibe código da barra
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well" *ngIf="item.iet_e_tipo == 'I'">
                    <!-- <blockquote>
                        Imagem
                    </blockquote> -->

                    <!-- iet_c_arq_imagem -->
                    <div class="form-group" [ngClass]="{'has-error': fv.erro(iet_c_arq_imagem, 'arqImagem'), 'has-success': fv.erro(iet_c_arq_imagem, 'arqImagem') == ''}">
                        <label for="iet_c_arq_imagem" class="control-label">Arquivo da imagem</label>
                        <input #iet_c_arq_imagem="ngModel" type="text" class="form-control mousetrap" id="iet_c_arq_imagem"
                            name="iet_c_arq_imagem" [(ngModel)]="item.iet_c_arq_imagem" maxLength="60" required
                            onReturn>
                        <hyp-form-control-error [is-error]="fv.erro(iet_c_arq_imagem, 'arqImagem')" [is-valid]="fv.erro(iet_c_arq_imagem, 'arqImagem') == ''"
                            [msg]="fv.erro(iet_c_arq_imagem, 'arqImagem')"></hyp-form-control-error>
                    </div>
                </div>

                <div class="well" *ngIf="item.iet_e_tipo == 'C'">
                    <!-- <blockquote>
                        Caixa
                        </blockquote> -->

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_i_altura -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_altura, 'altura'), 'has-success': fv.erro(iet_i_altura, 'altura')==''}">
                                <label for="iet_i_altura" class="control-label">Altura</label>
                                <input #iet_i_altura="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_altura" name="iet_i_altura" [ngModel]="item.iet_i_altura" required
                                    onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_altura, 'altura')" [is-valid]="fv.erro(iet_i_altura, 'altura')==''"
                                    [msg]="fv.erro(iet_i_altura, 'altura')"></hyp-form-control-error>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_i_largura -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_largura, 'largura'), 'has-success': fv.erro(iet_i_largura, 'largura')==''}">
                                <label for="iet_i_largura" class="control-label">Largura</label>
                                <input #iet_i_largura="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_largura" name="iet_i_largura" [ngModel]="item.iet_i_largura" required
                                    onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_largura, 'largura')" [is-valid]="fv.erro(iet_i_largura, 'largura')==''"
                                    [msg]="fv.erro(iet_i_largura, 'largura')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_i_expessura_v -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_expessura_v, 'expessuraV'), 'has-success': fv.erro(iet_i_expessura_v, 'expessuraV')==''}">
                                <label for="iet_i_expessura_v" class="control-label">Expessura vertical</label>
                                <input #iet_i_expessura_v="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_expessura_v" name="iet_i_expessura_v" [ngModel]="item.iet_i_expessura_v"
                                    required onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_expessura_v, 'expessuraV')"
                                    [is-valid]="fv.erro(iet_i_expessura_v, 'expessuraV')==''" [msg]="fv.erro(iet_i_expessura_v, 'expessuraV')"></hyp-form-control-error>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_i_expessura_h -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_expessura_h, 'expessuraH'), 'has-success': fv.erro(iet_i_expessura_h, 'expessuraH')==''}">
                                <label for="iet_i_expessura_h" class="control-label">Expessura horizontal</label>
                                <input #iet_i_expessura_h="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_expessura_h" name="iet_i_expessura_h" [ngModel]="item.iet_i_expessura_h"
                                    required onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_expessura_h, 'expessuraH')"
                                    [is-valid]="fv.erro(iet_i_expessura_h, 'expessuraH')==''" [msg]="fv.erro(iet_i_expessura_h, 'expessuraH')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well" *ngIf="item.iet_e_tipo == 'L'">
                    <!-- <blockquote>
                            Linha
                        </blockquote> -->
                    <div class="row">
                        <div class="col-xs-6">
                            <!-- iet_i_altura -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_altura, 'altura'), 'has-success': fv.erro(iet_i_altura, 'altura')==''}">
                                <label for="iet_i_altura" class="control-label">Altura</label>
                                <input #iet_i_altura="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_altura" name="iet_i_altura" [ngModel]="item.iet_i_altura" required
                                    onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_altura, 'altura')" [is-valid]="fv.erro(iet_i_altura, 'altura')==''"
                                    [msg]="fv.erro(iet_i_altura, 'altura')"></hyp-form-control-error>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <!-- iet_i_largura -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(iet_i_largura, 'largura'), 'has-success': fv.erro(iet_i_largura, 'largura')==''}">
                                <label for="iet_i_largura" class="control-label">Largura</label>
                                <input #iet_i_largura="ngModel" type="text" integer class="form-control mousetrap text-right"
                                    id="iet_i_largura" name="iet_i_largura" [ngModel]="item.iet_i_largura" required
                                    onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(iet_i_largura, 'largura')" [is-valid]="fv.erro(iet_i_largura, 'largura')==''"
                                    [msg]="fv.erro(iet_i_largura, 'largura')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row padding">
            <div class="col-sm-4">
                <button type="button" class="btn btn-block btn-default" (click)="onCancelarClick()">
                    Cancelar
                    <span class="icon-chevron-l pull-left"></span>
                </button>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                    Salvar
                    <span class="icon-check pull-right"></span>
                </button>
            </div>
        </div>
        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </form>
</div>