<div *ngIf="itens && pag">
    <!-- {{ itens | json }} -->

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tipo/posição</th>
                        <th>Texto</th>
                        <th>Cód.barras</th>
                        <th>Imagem</th>
                        <th>Caixa</th>
                        <th>Linha</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of itens | paginate: pag.getPagInst()">
                        <td>
                            <div [ngClass]="{ 'icon-checked': item.iet_b_ativo, 'icon-unchecked': !item.iet_b_ativo}"></div>
                        </td>

                        <td>
                            {{ item.iet_c_tipo }}
                            <div><small>Esquerda:</small>{{ item.iet_i_inicio_h }}</div>
                            <div><small>Topo:</small>{{ item.iet_i_inicio_v }}</div>
                        </td>

                        <td>
                            <div *ngIf="item.iet_e_tipo == 'T'">
                                <div><small>Campo produto: </small>{{ item.iet_c_campo_produto }}</div>
                                <div><small>Texto: </small>{{ item.iet_c_texto }}</div>
                                <div><small>Orientação: </small>{{ item.iet_c_orientacao }}</div>
                                <div><small>Tamanho fonte: </small>{{ item.iet_e_fonte }}</div>
                                <div><small>Multi horizontal: </small>{{ item.iet_e_multi_h }}x</div>
                                <div><small>Multi vertical: </small>{{ item.iet_e_multi_v }}x</div>
                            </div>
                        </td>

                        <td>
                            <div *ngIf="item.iet_e_tipo == 'B'">
                                <div><small>Texto: </small>{{ item.iet_c_texto }}</div>
                                <div><small>Orientação: </small>{{ item.iet_c_orientacao }}</div>
                                <div><small>Tipo barcode: </small>{{ item.iet_c_tipo_barra }}</div>
                                <div><small>Largura barra larga: </small>{{ item.iet_i_larg_barra_larga }}</div>
                                <div><small>Largura barra fina: </small>{{ item.iet_i_larg_barra_fina }}</div>
                                <div><small>Altura barra: </small>{{ item.iet_i_altura }}</div>
                                <div><small>Exibe números: </small>{{ item.iet_b_exibe_cod_barra ? 'Sim' : 'Não' }}</div>
                            </div>
                        </td>

                        <td>
                            <div *ngIf="item.iet_e_tipo == 'I'">
                                <small>Arquivo: </small>{{ item.iet_c_arq_imagem }}
                                <div><small>Esquerda:</small>{{ item.iet_i_inicio_h }}</div>
                                <div><small>Topo:</small>{{ item.iet_i_inicio_v }}</div>
                            </div>
                        </td>

                        <td>
                            <div *ngIf="item.iet_e_tipo == 'C'">
                                <div><small>Altura: </small>{{ item.iet_i_altura }}</div>
                                <div><small>Largura: </small>{{ item.iet_i_largura }}</div>
                                <div><small>Expessura vertical:</small>{{ item.iet_i_expessura_v }}</div>
                                <div><small>Expessura horizontal:</small>{{ item.iet_i_expessura_h }}</div>
                            </div>
                        </td>

                        <td>
                            <div *ngIf="item.iet_e_tipo == 'L'">
                                <div><small>Altura: </small>{{ item.iet_i_altura }}</div>
                                <div><small>Largura: </small>{{ item.iet_i_largura }}</div>
                            </div>
                        </td>
                        <td>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" tooltip="Modificar" placememt="top"
                                    (click)="onEditClick(item)">
                                    <span class="icon-edit"></span>
                                </button>
                                <button type="button" class="btn btn-danger" tooltip="Excluir" placememt="top" (click)="onExcluirClick(item)">
                                    <span class="icon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="padding" *ngIf="itens.length == 0">
                <div class="alert alert-warning" role="alert">Nenhum item encontrado.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-3">
            <button type="button" class="btn btn-block btn-info" (click)="onNovoClick()">
                Novo
                <span class="icon-plus pull-right"></span>
            </button>
        </div>
        <div class="col-xs-4 col-sm-6">
            <div class="text-center padding">
                <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3">
            <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
        </div>
    </div>

    <!-- 
                        
                        <th class="default-cursor">Unidade entrada</th>
                        <th (click)="pag.setSortingField('bar_f_qtde_entrada');" class="text-right">Qtde entrada&nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'bar_f_qtde_entrada'"></i>
                        </th>
                        <th class="default-cursor"></th>
                    <tr *ngFor="let barcode of barcodes | paginate: pag.getPagInst()">
                        <td>{{ barcode.bar_c_barcode }}</td>

                        <td>{{ barcode.bar_c_unid_entrada}} - {{ barcode.bar_c_descricao_entrada }}</td>

                        <td class="text-right">{{ barcode.bar_f_qtde_entrada | number:'1.0-3' }}</td>

                        <td>
                            <button type="button" class="btn btn-danger pull-right" tooltip="Excluir" placememt="top" (click)="onDeleteClick(barcode)">
                                <span class="icon-trash"></span>
                            </button>
                        </td>
                    </tr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-block btn-info" (click)="onNovoClick()">
                Novo
                <span class="icon-plus pull-right"></span>
            </button>
        </div>

        <div class="col-sm-8">
            <div class="text-right padding">
                <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
            </div>
        </div>
    </div>
 -->
</div>