<!-- {{ config | json }} -->
<div *ngIf="config && loja && impressoras">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Balcão</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- {{ f.value | json }} -->
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            Gerais
                            <span class="icon-asterisk pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- cnf_f_perc_taxa_serv -->
                        <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_f_perc_taxa_serv, 'percTaxaServ'), 'has-success': fv.erro(cnf_f_perc_taxa_serv, 'percTaxaServ') == ''}">
                            <label for="cnf_f_perc_taxa_serv" class="control-label">% taxa serviço&nbsp;
                                <span class="icon-question-coin" tooltip='Incide sobre valor total de PRODUTOS com TAXA DE SERVIÇO habilitada.'
                                    placement="top"></span>
                            </label>
                            <input #cnf_f_perc_taxa_serv="ngModel" type="number" class="form-control mousetrap text-right"
                                id="cnf_f_perc_taxa_serv" name="cnf_f_perc_taxa_serv" [ngModel]="config.cnf_f_perc_taxa_serv"
                                [focus]="onConfigGeralFocusEvent" [min]="0" [max]="100" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(cnf_f_perc_taxa_serv, 'percTaxaServ')"
                                [is-valid]="fv.erro(cnf_f_perc_taxa_serv, 'percTaxaServ') == ''" [msg]="fv.erro(cnf_f_perc_taxa_serv, 'percTaxaServ')"></hyp-form-control-error>
                        </div>

                        <!-- cnf_c_pasta_compartilhada -->
                        <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_c_pasta_compartilhada, 'pastaCompartilhada'), 'has-success': fv.erro(cnf_c_pasta_compartilhada, 'pastaCompartilhada') == ''}">
                            <label for="cnf_c_pasta_compartilhada" class="control-label">Pasta compartilhada</label>
                            <input #cnf_c_pasta_compartilhada="ngModel" type="text" class="form-control mousetrap" id="cnf_c_pasta_compartilhada"
                                name="cnf_c_pasta_compartilhada" [(ngModel)]="config.cnf_c_pasta_compartilhada"
                                maxLength="64" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(cnf_c_pasta_compartilhada, 'pastaCompartilhada')"
                                [is-valid]="fv.erro(cnf_c_pasta_compartilhada, 'pastaCompartilhada') == ''" [msg]="fv.erro(cnf_c_pasta_compartilhada, 'pastaCompartilhada')"></hyp-form-control-error>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>
                                Etiqueta balança
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>
                                Pontos de impressão&nbsp;
                                <span class="icon-question-coin" tooltip='Substituídos pelos correspondentes em TERMINAIS.'
                                    placement="bottom"></span>
                            </blockquote>

                            <!-- cnf_fk_imp_producao -->
                            <div class="form-group">
                                <label for="cnf_fk_imp_producao" class="control-label">Impressora produção</label>
                                <select #cnf_fk_imp_producao="ngModel" class="form-control mousetrap" id="cnf_fk_imp_producao"
                                    name="cnf_fk_imp_producao" [(ngModel)]="config.cnf_fk_imp_producao" onReturn>
                                    <option value="">-- Nenhuma --</option>
                                    <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{
                                        impressora.imp_c_impressora
                                        }}
                                    </option>
                                </select>
                            </div>

                            <!-- cnf_fk_imp_despacho -->
                            <div class="form-group" *ngIf="loja.loj_b_mod_delivery">
                                <label for="cnf_fk_imp_despacho" class="control-label">Impressora despacho</label>
                                <select #cnf_fk_imp_despacho="ngModel" class="form-control mousetrap" id="cnf_fk_imp_despacho"
                                    name="cnf_fk_imp_despacho" [(ngModel)]="config.cnf_fk_imp_despacho" onReturn>
                                    <option value="">-- Nenhuma --</option>
                                    <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{
                                        impressora.imp_c_impressora
                                        }}
                                    </option>
                                </select>
                            </div>

                            <!-- cnf_fk_imp_caixa -->
                            <div class="form-group">
                                <label for="cnf_fk_imp_caixa" class="control-label">Impressora caixa</label>
                                <select #cnf_fk_imp_caixa="ngModel" class="form-control mousetrap" id="cnf_fk_imp_caixa"
                                    name="cnf_fk_imp_caixa" [(ngModel)]="config.cnf_fk_imp_caixa" onReturn>
                                    <option value="">-- Nenhuma --</option>
                                    <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{
                                        impressora.imp_c_impressora
                                        }}
                                    </option>
                                </select>
                            </div>

                            <blockquote>
                                Cupom ponto produção
                            </blockquote>

                            <!-- cnf_e_tam_cup_producao -->
                            <div class="form-group">
                                <label for="cnf_e_tam_cup_producao" class="control-label">Tamanho</label>
                                <select #cnf_e_tam_cup_producao="ngModel" class="form-control mousetrap" id="cnf_e_tam_cup_producao"
                                    name="cnf_e_tam_cup_producao" [(ngModel)]="config.cnf_e_tam_cup_producao" onReturn>
                                    <option value="N">Normal</option>
                                    <option value="M">Médio</option>
                                    <option value="G">Grande</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">

                        <div class="well">
                            <blockquote>Atalhos de teclado</blockquote>

                            <!-- cnf_c_hotkey_dashboard -->
                            <div class="form-group">
                                <label for="cnf_c_hotkey_dashboard" class="control-label">Exibir/ocultar painel</label>
                                <select #cnf_c_hotkey_dashboard="ngModel" [ngModel]="config.cnf_c_hotkey_dashboard"
                                    name="cnf_c_hotkey_dashboard" class="form-control mousetrap" required>
                                    <option [value]="key" *ngFor="let key of fnKeys">{{ key }}</option>
                                </select>
                            </div>

                            <!-- cnf_c_hotkey_filtrar -->
                            <div class="form-group">
                                <label for="cnf_c_hotkey_filtrar" class="control-label">Filtrar</label>
                                <select #cnf_c_hotkey_filtrar="ngModel" [ngModel]="config.cnf_c_hotkey_filtrar" name="cnf_c_hotkey_filtrar"
                                    class="form-control mousetrap" required>
                                    <option [value]="key" *ngFor="let key of fnKeys">{{ key }}</option>
                                </select>
                            </div>

                            <!-- cnf_c_hotkey_procurar -->
                            <div class="form-group">
                                <label for="cnf_c_hotkey_procurar" class="control-label">Procurar</label>
                                <select #cnf_c_hotkey_procurar="ngModel" [ngModel]="config.cnf_c_hotkey_procurar" name="cnf_c_hotkey_procurar"
                                    class="form-control mousetrap" required>
                                    <option [value]="key" *ngFor="let key of fnKeys">{{ key }}</option>
                                </select>
                            </div>

                            <!-- cnf_c_hotkey_confirmar -->
                            <div class="form-group">
                                <label for="cnf_c_hotkey_confirmar" class="control-label">Confirmar</label>
                                <select #cnf_c_hotkey_confirmar="ngModel" [ngModel]="config.cnf_c_hotkey_confirmar"
                                    name="cnf_c_hotkey_confirmar" class="form-control mousetrap" required>
                                    <option [value]="key" *ngFor="let key of fnKeys">{{ key }}</option>
                                </select>
                            </div>

                            <!-- cnf_c_hotkey_concluir -->
                            <div class="form-group">
                                <label for="cnf_c_hotkey_concluir" class="control-label">Concluir</label>
                                <select #cnf_c_hotkey_concluir="ngModel" [ngModel]="config.cnf_c_hotkey_concluir" name="cnf_c_hotkey_concluir"
                                    class="form-control mousetrap" required>
                                    <option [value]="key" *ngFor="let key of fnKeys">{{ key }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
        </div>
    </form>
</div>