<div *ngIf="operadores && config && pag">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Cadastros</li>
        <li class="active">Operadores&nbsp;
            <span class="badge">{{ pag.getTotal() }} <span class="icon-filter" *ngIf="pag.filtered"></span></span>
        </li>
    </ol>

    <div class="row">
        <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Operadores
                        <span class="icon-id-card-v pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" [routerLink]="['/cadastros/operadores/edit', 0]">
                        Novo
                        <span class="icon-plus pull-right"></span>
                    </button>
                    <span class="list-group-item">
                        <span class="icon-filter pull-right"></span>
                        <div class="form-group padding">
                            <label for="filter">Filtro [&nbsp;{{ config.cnf_c_hotkey_filtrar }}&nbsp;]</label>
                            <div id="filter" class="input-group">
                                <input type="text" class="form-control mousetrap" placeholder="Nome." [(ngModel)]="buffer" (keyup.enter)="pag.setFilter(buffer)"
                                    [select]="onCadastrosOpeGradeFocusEvent">
                                <!-- <span class="input-group-addon">
                                    <span class="icon-filter"></span>
                                </span> -->
                            </div>
                        </div>
                    </span>
                    <!-- <span class="list-group-item">
                        <div class="form-group padding">
                            <span class="fa fa-list-ul pull-right"></span>
                            <label>Itens por página</label>
                            <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                        </div>
                    </span> -->
                    <!-- <span class="list-group-item text-center">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                    </span> -->
                    <button type="button" class="list-group-item active">
                        Relatórios
                        <span class="icon-printer pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="onRelatorioOperadoresClick()">
                        Operadores
                        <span class="icon-text pull-right"></span>
                    </button>
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="default-cursor"></th>
                                <th (click)="pag.setSortingField('ope_i_cod');">Código &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'ope_i_cod'"></i>
                                </th>
                                <th (click)="pag.setSortingField('ope_c_operador');">Operador &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'ope_c_operador'"></i>
                                </th>
                                <th class="text-center" (click)="pag.setSortingField('ope_b_adm');">Adm &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'ope_b_adm'"></i>
                                </th>
                                <th class="text-right" (click)="pag.setSortingField('ope_f_perc_comissao_vendas');">% vendas &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'ope_f_perc_comissao_vendas'"></i>
                                </th>
                                <th class="text-right" (click)="pag.setSortingField('ope_f_perc_comissao_servicos');">% serviços &nbsp;
                                    <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'ope_f_perc_comissao_servicos'"></i>
                                </th>
                                <th class="default-cursor"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let operador of operadores | paginate: pag.getPagInst()" [class.inativo]="!operador.ope_b_ativo">
                                <td>
                                    <div [ngClass]="{'icon-checked': operador.ope_b_ativo, 'icon-unchecked': !operador.ope_b_ativo}"></div>
                                </td>

                                <td>{{ operador.ope_i_cod }}</td>

                                <td>{{ operador.ope_c_operador }}</td>

                                <td class="text-center">
                                    <div [ngClass]="{'icon-checked': operador.ope_b_adm, 'icon-unchecked': !operador.ope_b_adm}"></div>
                                </td>

                                <td class="text-right perc">{{ operador.ope_f_perc_comissao_vendas }}</td>

                                <td class="text-right perc">{{ operador.ope_f_perc_comissao_servicos }}</td>

                                <td>
                                    <button type="button" class="btn btn-primary pull-right" tooltip="Modificar" placememt="top" [routerLink]="['/cadastros/operadores/edit', operador.ope_pk]"
                                        *ngIf="!operador.ope_b_adm || (operador.ope_b_adm && ope.id == operador.ope_pk)">
                                        <span class="icon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="padding" *ngIf="operadores.length == 0">
                        <div class="alert alert-warning" role="alert">Nenhum operador encontrado.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-2">
                    <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
                </div>
                <div class="col-xs-6 col-sm-10">
                    <div class="text-right padding">
                        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>