<div class="modal-header text-center">
    <h4 class="modal-title">
        {{ caption }}
        <!-- <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}</div> -->
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <!-- {{ idOperador }} -->
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-6">
                <!-- senha -->
                <div class="form-group" [ngClass]="{'has-error': fv.erro(senha), 'has-success': fv.erro(senha) == ''}">
                    <label for="senha" class="control-label">Senha</label>
                    <input #senha="ngModel" type="password" class="form-control mousetrap" id="senha" name="senha" [ngModel]="operador.senha"
                        [focus]="onMudarSenhaFocusEvent" required onReturn>
                    <hyp-form-control-error [is-error]="fv.erro(senha)" [is-valid]="fv.erro(senha) == ''" [msg]="fv.erro(senha)"></hyp-form-control-error>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- confirmacao -->
                <div class="form-group" [ngClass]="{'has-error': fv.erro(confirmacao, 'confirmacao'), 'has-success': fv.erro(confirmacao, 'confirmacao') == ''}">
                    <label for="confirmacao" class="control-label">Confirmação senha</label>
                    <input #confirmacao="ngModel" type="password" class="form-control mousetrap" id="confirmacao" name="confirmacao" [ngModel]="operador.confirmacao"
                        required onReturn>
                    <hyp-form-control-error [is-error]="fv.erro(confirmacao, 'confirmacao')" [is-valid]="fv.erro(confirmacao, 'confirmacao') == ''"
                        [msg]="fv.erro(confirmacao, 'confirmacao')"></hyp-form-control-error>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-block btn-default" (click)="bsModalRef.hide()">
                    Cancelar
                    <span class="icon-cancel pull-left"></span>
                </button>
            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                    Salvar
                    <span class="icon-check pull-right"></span>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->

<!-- <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button> 
    </div> -->