<div class="modal-header text-center">
    <h4 class="modal-title">
        {{ img }}
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <img [src]="onGaleriaGet(img)" alt="" class="img-responsive center-block">
</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
 -->