@import '../../../assets/styles/_config';

.modal-header {
    background-color: $bkcolor;
    color: $fgcolor;
}

.modal-header h4 {
    display: inline;
}

.modal-header button.close {
    color: white;
    opacity: 0.7;
}

.modal-header .badge {
    background-color: white;
    color: black;
}
