<div class="modal-header text-center">
    <h4 class="modal-title">
        {{ caption }}&nbsp;
        <span class="badge">{{ total }}</span>
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <retag-sel-img [isPublic]="isPublic" [path]="path" (onTotalCalc)="onTotalCalc($event)" (onSelected)="onImgSelected($event)"></retag-sel-img>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> -->