<ul class="nav nav-tabs">
    <li role="presentation" class="disabled">
        <a>Turno 40</a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/cadastros/operadores/grade']">
            <span class="icon-grid"></span>&nbsp;Mapa
        </a>
    </li>
    <li role="presentation" routerLinkActive="active">
        <a [routerLink]="['/cadastros/produtos/grade', 0]">
            <span class="icon-printer"></span>&nbsp;Relatórios
        </a>
    </li>
</ul>
