<!-- info: {{ info | json }} -->
<div *ngIf="info && info.turno">
    <!-- <h4>
        Pendências do turno {{ info.nroTurno }}
    </h4> -->

    <blockquote>
        Pendências do turno {{ info.turno.tur_i_nro }}
        <span class="badge pull-right">{{ info.numPendencias }}</span>
    </blockquote>

    <div class="well" *ngIf="info.caixas.abertos.length > 0">
        <!--  <blockquote>
            <small>
                Caixas abertos
                <span class="badge pull-right">{{ info.caixas.abertos.length }}</span>
            </small>
        </blockquote> -->

        <h4>
            Caixas abertos
            <span class="badge pull-right">{{ info.caixas.abertos.length }}</span>
        </h4>

        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Operador</th>
                    <th>Abertura</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let aberto of info.caixas.abertos">
                    <td>{{ aberto.cai_c_operador }}</td>
                    <td>{{ aberto.cai_dt_criado_em | date: 'dd/MM/yyyy HH:mm' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <blockquote>
        <small>
            Lançamentos pendentes
            <span class="badge pull-right">10</span>
        </small>
    </blockquote> -->


    <div class="well">

        <h4>
            Lançamentos pendentes
            <span class="badge pull-right">{{ info.pendencias.count }}</span>
        </h4>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr [ngClass]="{ 'inativo': info.pendencias.comandas == 0 }" [routerLink]="['/comandas/consulta/mapa']">
                    <td class="text-right qtde">{{ info.pendencias.comandas }}</td>
                    <td>Comanda<span *ngIf="info.pendencias.comandas != 1">s</span></td>
                    <td>
                        <span class="icon-chevron-r"></span>
                    </td>
                </tr>

                <tr [ngClass]="{ 'inativo': info.pendencias.mesas == 0 }" [routerLink]="['/mesas/caixa/mapa']">
                    <td class="text-right qtde">{{ info.pendencias.mesas }}</td>
                    <td>Mesa<span *ngIf="info.pendencias.mesas != 1">s</span></td>
                    <td>
                        <span class="icon-chevron-r"></span>
                    </td>
                </tr>

                <tr [ngClass]="{ 'inativo': info.pendencias.balcao == 0 }">
                    <td class="text-right qtde">{{ info.pendencias.balcao }}</td>
                    <td>Pedido<span *ngIf="info.pendencias.balcao != 1">s</span>&nbsp;balcão</td>
                    <td>
                        <span class="icon-chevron-r"></span>
                    </td>
                </tr>
                <!-- 
                <tr [ngClass]="{ 'inativo': info.pendencias.senhas == 0 }">
                    <td class="text-right qtde">{{ info.pendencias.senhas }}</td>
                    <td>Senha<span *ngIf="info.pendencias.senhas != 1">s</span></td>
                    <td>
                        <span class="icon-chevron-r"></span>
                    </td>
                </tr>
                -->
                <tr [ngClass]="{ 'inativo': info.tipos.delivery.count == 0 }">
                    <th>Delivery</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr [ngClass]="{ 'inativo': info.pendencias.delivery.pendentes == 0 }">
                    <td class="text-right qtde">{{ info.pendencias.delivery.pendentes }}</td>
                    <td>Pedidos pendentes</td>
                    <td>
                        <span class="icon-chevron-r"></span>
                    </td>
                </tr>

                <tr [ngClass]="{inativo: info.pendencias.delivery.confirmados == 0}">
                    <td class="text-right qtde">{{ info.pendencias.delivery.confirmados }}</td>
                    <td>Pedidos confirmados</td>
                    <td>
                        <span class="icon-chevron-r"></span>
                    </td>
                </tr>

                <tr [ngClass]="{inativo: info.pendencias.delivery.despachados == 0}">
                    <td class="text-right qtde">{{ info.pendencias.delivery.despachados }}</td>
                    <td>Pedidos despachados</td>
                    <td>
                        <span class="icon-chevron-r"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- {{ info | json }} -->
</div>