<!-- {{ pag.getPagInst() | json }} -->
<div *ngIf="config && tipo">
    <blockquote>
        {{ captionTipo }}
        <small>
            <span *ngIf="centros.sub">De&nbsp;<strong>{{ centros.sub == 'L' ? 'Loja' : 'Depósito' }}&nbsp;</strong></span>
            <span *ngIf="centros.add">Para&nbsp;<strong>{{ centros.add == 'L' ? 'Loja' : 'Depósito' }}</strong></span>
            <span *ngIf="tipo == 'T'">&nbsp;&nbsp;<a (click)="onInverterClick()"> - Inverter</a></span>
        </small>
    </blockquote>
    <!-- 
    <br>config: {{ config | json }}
    <br>tipo: {{ tipo }}
    <br>coletorOk: {{ coletorOk }}
    <br>usaDeposito: {{ usaDeposito }}
    <br>centros: {{ centros | json }}
    -->
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" (click)="onImportarColetaClick()" [disabled]="!coletorOk || pedido.rows.length > 0">
            Importar coleta
            <span class="icon-doc pull-left"></span>
        </button>
        <!-- <button type="button" class="btn btn-default" (click)="onExportarColetaClick()" [disabled]="!coletorOk || pedido.volumes == 0">
            Exportar como coleta
            <span class="icon-floppy pull-left"></span>
        </button> -->
        <button type="button" class="btn btn-danger" (click)="onRemoverItensClick()" [disabled]="pedido.volumes == 0">
            Remover itens
            <span class="icon-trash pull-left"></span>
        </button>
        <button type="button" class="btn btn-success" (click)="onConfirmarClick()" [disabled]="pedido.volumes == 0">
            Confirmar
            <!-- &nbsp;[&nbsp;{{ config.cnf_c_hotkey_concluir }}&nbsp;] -->
            <span class="icon-check pull-right"></span>
        </button>
    </div>

    <!-- {{ pedido | json }} -->

    <div *ngIf="pedido">
        <hyp-display [value]="display.total" [subcaption]="display.volumes + ' volume' + (display.volumes == 1 ? '' : 's')"
            *ngIf="tipo == 'E'"></hyp-display>

        <!-- {{ pedido.rows | json }} -->
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-right">Qtde</th>
                    <th>Cód. barras</th>
                    <th>Produto</th>
                    <th class="text-right" *ngIf="tipo == 'E'">Custo unit.</th>
                    <th class="text-right" *ngIf="tipo != 'P' && usaDeposito">Qtde depósito</th>
                    <th class="text-right">Qtde loja</th>
                    <th class="text-right"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of pedido.rows | paginate: pag.getPagInst()">
                    <td class="text-right qtde">
                        {{ item.pro_f_qtde | number:'1.0-3' }}
                    </td>

                    <td>
                        {{ item.pro_c_bar_barcode || item.pro_c_barcode }}
                        <small *ngIf="item.pro_c_bar_barcode">
                            <br />
                            {{ item.pro_c_bar_unidade }} {{ item.pro_f_bar_qtde_entrada }}
                        </small>
                    </td>

                    <td class="produto">
                        {{ item.pro_c_produto }}
                        <small *ngIf="item.pro_c_bar_barcode"><br />{{ item.pro_c_barcode }}</small>
                        <!-- <small *ngIf="item.pro_m_detalhes">{{ item.pro_m_detalhes }} 
                        <br/>
                        </small>
                        <div *ngIf="item.pro_m_obs">
                            <small> Obs: {{ item.pro_m_obs }}</small>
                        </div>
                        -->
                    </td>

                    <td class="text-right qtde" *ngIf="tipo == 'E'">
                        {{ item.pro_f_preco_custo | number:'1.2' }}
                    </td>

                    <td class="text-right" *ngIf="tipo != 'P' && usaDeposito">
                        {{ item.pro_f_est_qtde_deposito | number:'1.0-3' }}
                        <span *ngIf="centros.add == 'D'"><strong class="add">+ {{ item.pro_f_qtde *
                                item.pro_f_bar_qtde_entrada }}</strong></span>
                        <span *ngIf="centros.sub == 'D'"><strong class="sub">- {{ item.pro_f_qtde *
                                item.pro_f_bar_qtde_entrada }}</strong></span>
                    </td>

                    <td class="text-right">
                        {{ item.pro_f_est_qtde_loja | number:'1.0-3' }}
                        <span *ngIf="centros.add == 'L'"><strong class="add">+ {{ item.pro_f_qtde *
                                item.pro_f_bar_qtde_entrada }}</strong></span>
                        <span *ngIf="centros.sub == 'L'"><strong class="sub">- {{ item.pro_f_qtde *
                                item.pro_f_bar_qtde_entrada }}</strong></span>
                    </td>

                    <!-- <td class="text-right">
                        <strong>{{ item.pro_f_consumo | number:'1.2-2' }}</strong>
                    </td> -->

                    <td>
                        <div class="text-right">
                            <!--  <button class="btn btn-info" type="button" (click)="onItemObsClick(item)" tooltip="Obs: {{item.pro_m_obs}}" placememt="left">
                                <span [ngClass]="{'icon-chat-o': !item.pro_m_obs, 'icon-chat': item.pro_m_obs}"></span>
                            </button> -->

                            <button class="btn btn-info" type="button" (click)="onBarcodesAdicionais(item)" tooltip="Barcodes adicionais"
                                placememt="left">
                                <span class="icon-barcode"></span>&nbsp;
                                <div class="badge">{{ item.pro_i_num_barcodes }}</div>
                            </button>

                            <button class="btn btn-danger" type="button" (click)="onRemoverItemClick(item)" tooltip="Remover"
                                placememt="left">
                                <span class="icon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row" *ngIf="pedido.rows.length > 0;else nenhumMovimento">
            <div class="col-xs-4 col-sm-3">
                <hyp-pag-itens-por-pag [val]="pag.getLimit()" (onChanged)="pag.setLimit($event)"></hyp-pag-itens-por-pag>
            </div>
            <div class="col-xs-6 col-sm-9">
                <div class="text-right padding">
                    <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                </div>
            </div>
        </div>

        <ng-template #nenhumMovimento>
            <div class="info-txt text-center">
                Nenhum movimento.
            </div>
        </ng-template>
    </div>
</div>