<!-- id: {{ id }} -->
<!-- detalhe: {{ detalhe | json }} -->
<div *ngIf="detalhe">
    <form novalidate #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-10">
                        <!-- det_c_detalhe -->
                        <div class="form-group" [ngClass]="{ 'has-error': fv.erro(det_c_detalhe, 'detalhe'), 'has-success': fv.erro(det_c_detalhe, 'detalhe')==''}">
                            <label for="det_c_detalhe" class="control-label">Nome</label>
                            <input #det_c_detalhe="ngModel" type="text" class="form-control mousetrap" id="det_c_detalhe" name="det_c_detalhe" [ngModel]="detalhe.det_c_detalhe"
                                [focus]="onDetalhesEditModalFocusEvent" required maxLength="45" onReturn>
                            <hyp-form-control-error [is-error]="fv.erro(det_c_detalhe, 'detalhe')" [is-valid]="fv.erro(det_c_detalhe, 'detalhe')==''"
                                [msg]="fv.erro(det_c_detalhe, 'detalhe')"></hyp-form-control-error>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <!-- det_b_ativo  -->
                        <div class="form-group">
                            <label for="det_b_ativo"></label>
                            <div class="checkbox">
                                <label>
                                    <input #det_b_ativo="ngModel" type="checkbox" id="det_b_ativo" name="det_b_ativo" [ngModel]="detalhe.det_b_ativo" onReturn> Ativo
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 
            <div class="row">
                <div class="col-sm-6">
                    <!-- det_fk_grupo
                    <div class="form-group" [ngClass]="{'has-error': det_fk_grupo.invalid, 'has-success': det_fk_grupo.valid}">
                        <label for="det_fk_grupo" class="control-label">Grupo</label>
                        <select #det_fk_grupo="ngModel" class="form-control mousetrap" id="det_fk_grupo" name="det_fk_grupo" [(ngModel)]="detalhe.det_fk_grupo"
                            (change)="detalhe.det_fk_produto = ''; onGrupoChanged();" required onReturn>
                            <option value="">-- Selecione grupo --</option>
                            <option *ngFor="let grupo of grupos" [value]="grupo.gru_pk">{{ grupo.gru_c_grupo }}</option>
                        </select>
                        <hyp-form-control-error [is-error]="det_fk_grupo.invalid" [is-valid]="det_fk_grupo.valid"></hyp-form-control-error>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!-- det_fk_produto
                    <div class="form-group">
                        <label for="det_fk_produto" class="control-label">Produto</label>
                        <select #det_fk_produto="ngModel" class="form-control mousetrap" id="det_fk_produto" name="det_fk_produto" [(ngModel)]="detalhe.det_fk_produto"
                            onReturn>
                            <option value="">-- Nenhum produto --</option>
                            <option *ngFor="let produto of produtos" [value]="produto.pro_pk">{{ produto.pro_c_produto }}</option>
                        </select>
                    </div>
                </div>
            </div> 
            -->

                <div class="row">
                    <div class="col-sm-6">
                        <!-- det_fk_grupo_itens -->
                        <div class="form-group">
                            <label for="det_fk_grupo_itens" class="control-label">Grupo dos itens</label>
                            <select #det_fk_grupo_itens="ngModel" class="form-control mousetrap" id="det_fk_grupo_itens" name="det_fk_grupo_itens" [(ngModel)]="detalhe.det_fk_grupo_itens"
                                onReturn>
                                <option value="">-- Nenhum grupo --</option>
                                <option *ngFor="let grupo of grupos" [value]="grupo.gru_pk">{{ grupo.gru_c_grupo }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- det_f_valor -->
                        <div class="form-group">
                            <label for="det_f_valor" class="control-label">Valor</label>
                            <input #det_f_valor="ngModel" type="text" decimal class="form-control mousetrap text-right" id="det_f_valor" name="det_f_valor" [ngModel]="detalhe.det_f_valor"
                                onReturn>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- <div ngModelGroup="itens"> -->

                <div class="well">
                    <blockquote>Itens</blockquote>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- det_i_min -->
                            <div class="form-group">
                                <label for="det_i_min" class="control-label">Seleção mínima</label>
                                <input #det_i_min="ngModel" type="text" integer class="form-control mousetrap text-right" id="det_i_min" name="det_i_min" [(ngModel)]="detalhe.det_i_min"
                                    onReturn>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- det_i_max -->
                            <div class="form-group">
                                <label for="det_i_max" class="control-label">Seleção máxima</label>
                                <input #det_i_max="ngModel" type="number" integer class="form-control mousetrap text-right" id="det_i_max" name="det_i_max" [(ngModel)]="detalhe.det_i_max"
                                    onReturn>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <!-- det_e_tratamento_valor_item -->
                            <div class="form-group">
                                <label for="det_e_tratamento_valor_item" class="control-label">Tratamento valor itens</label>
                                <select #det_e_tratamento_valor_item="ngModel" class="form-control mousetrap" id="det_e_tratamento_valor_item" name="det_e_tratamento_valor_item"
                                    [(ngModel)]="detalhe.det_e_tratamento_valor_item" required onReturn>
                                    <option value="U">Utilizar valor</option>
                                    <option value="I">Ignorar valor</option>
                                    <option value="M">Calcular multisabor</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6" *ngIf="detalhe.det_e_tratamento_valor_item == 'M'">
                            <!-- det_i_multisabores -->
                            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(det_i_multisabores, 'multi'), 'has-success': fv.erro(det_i_multisabores, 'multi')==''}">
                                <label for="det_i_multisabores" class="control-label">Nro sabores</label>
                                <input #det_i_multisabores="ngModel" type="number" class="form-control text-right" id="det_i_multisabores" name="det_i_multisabores"
                                    [(ngModel)]="detalhe.det_i_multisabores" required [min]="2" onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(det_i_multisabores, 'multi')" [is-valid]="fv.erro(det_i_multisabores, 'multi')==''"
                                    [msg]="fv.erro(det_i_multisabores, 'multi')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row padding">
            <div class="col-sm-4">
                <button type="button" class="btn btn-block btn-default" (click)="onCancelarClick()">
                    Cancelar
                    <span class="icon-chevron-l pull-left"></span>
                </button>
            </div>
            <!-- <div class="col-sm-4">
            <button type="button" class="btn btn-block btn-danger" (click)="onExcluirClick()" *ngIf="!novo">
                Excluir
                <span class="icon-trash pull-right"></span>
            </button>
        </div> -->
            <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                    Salvar
                    <span class="icon-check pull-right"></span>
                </button>
            </div>
        </div>
        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </form>
</div>