<div *ngIf="detalhes && pag">
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <div id="gruProcura" class="input-group">
                    <input type="text" class="form-control mousetrap" placeholder="Nome" [(ngModel)]="pag.filter" (keyup)="onPagChanges()">
                    <span class="input-group-addon">
                        <span class="icon-search"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-block btn-info" (click)="onNovoClick()">
                Novo
                <span class="icon-plus pull-right"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="default-cursor"></th>
                        <th (click)="onSortByClick('det_c_detalhe');">Detalhe &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'det_c_detalhe'"></i>
                        </th>
                        <th (click)="onSortByClick('det_c_grupo_itens');">Grupo dos itens &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'det_c_grupo_itens'"></i>
                        </th>
                        <th (click)="onSortByClick('det_i_min');" class="text-right">Min. &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'det_i_min'"></i>
                        </th>
                        <th (click)="onSortByClick('det_i_max');" class="text-right">Máx. &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'det_i_max'"></i>
                        </th>
                        <th (click)="onSortByClick('det_i_multisabores');" class="text-right">Multi &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'det_i_multisabores'"></i>
                        </th>
                        <th (click)="onSortByClick('det_f_valor');" class="text-right">Valor &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'det_f_valor'"></i>
                        </th>
                        <th (click)="onSortByClick('det_i_num_itens');" class="text-right">Qtde itens &nbsp;
                            <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'det_i_num_itens'"></i>
                        </th>
                        <th class="default-cursor"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let detalhe of detalhes | paginate: pagInst" [class.inativo]="!detalhe.det_b_ativo">
                        <td>
                            <div [ngClass]="{'icon-checked': detalhe.det_b_ativo, 'icon-unchecked': !detalhe.det_b_ativo}"></div>
                        </td>

                        <td>{{ detalhe.det_c_detalhe }}</td>

                        <td>{{ detalhe.det_c_grupo_itens || '-'}}</td>

                        <td class="text-right">{{ detalhe.det_i_min }}</td>

                        <td class="text-right">{{ detalhe.det_i_max }}</td>

                        <td class="text-right">{{ detalhe.det_i_multisabores }}</td>

                        <td class="text-right">{{ detalhe.det_f_valor | number:'1.2-2' }}</td>

                        <td class="text-right">
                            <button type="button" class="btn btn-default" (click)="onItensDetalhesModalOpenClick(detalhe)">
                                <span class="icon-search"></span>&nbsp; {{ detalhe.det_i_num_itens }}
                            </button>
                        </td>

                        <td>
                            <button type="button" class="btn btn-link pull-right" (click)="onDeleteClick(detalhe)">
                            </button>
                            <button type="button" class="btn btn-link pull-right" (click)="onEditClick(detalhe)">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="padding" *ngIf="detalhes?.length == 0">
                <div class="alert alert-warning" role="alert">Nenhum detalhe encontrado.</div>
            </div>
        </div>
    </div>

    <div class="text-right padding">
        <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>