<!-- modalData: {{ modalData | json }}
<br> idGrupo: {{ idGrupo }}
<br> idProduto: {{ idProduto }} -->

<div class="modal-header text-center">
    <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
        <span class="icon-refresh"></span>
    </button> -->
    <h4 class="modal-title">
        {{ modalData.caption }}
        <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}</div>
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">
    <!-- 
    <button (click)="pag='gra'">Grade</button>
    <button (click)="pag='edi'">Edit</button>
    pag: {{ pag }}
    -->

    <blockquote>
        {{ nome }}
        <small>{{ tipo }}</small>
    </blockquote>

    <div [ngSwitch]="modalData.pag">
        <div *ngSwitchCase="'edi'">
            <retag-detalhe-edit [idGrupo]="idGrupo" [idProduto]="idProduto" [id]="modalData.id" (onChange)="onPagChanged($event)"></retag-detalhe-edit>
        </div>
        <div *ngSwitchDefault>
            <retag-detalhes-grade [idGrupo]="idGrupo" [idProduto]="idProduto" (onChange)="onPagChanged($event)"></retag-detalhes-grade>
        </div>
    </div>

</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->