<ul class="nav nav-tabs" *ngIf="operador">
    <li role="presentation" class="disabled">
        <a>Comandas</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_lcto_comandas">
        <a [routerLink]="['/comandas/lcto']">
            <span class="icon-list"></span>&nbsp;Lcto
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_lcto_comandas">
        <a [routerLink]="['/comandas/consulta/mapa']">
            <span class="icon-search"></span>&nbsp;Consulta
        </a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_caixa_comandas">
        <a [routerLink]="['/comandas/caixa', 0]">
            <span class="icon-money"></span>&nbsp;Caixa
        </a>
    </li>
</ul>
<router-outlet></router-outlet>