<!-- {{ caixa | json }} -->
<div *ngIf="operador && config && caixa">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Movimento</li>
        <li class="active">Seu caixa</li>
    </ol>

    <div class="row">
        <div class="hidden-xs col-sm-2" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="list-group sidebar">
                <span *ngIf="dash.status;else dashoff">
                    <button type="button" class="list-group-item active">
                        Seu caixa
                        <span class="icon-money-bag pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" (click)="dash.toggle()">
                        Reduzir&nbsp;[&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                        <span class="icon-chevron-l pull-right"></span>
                    </button>
                    <button type="button" [routerLink]="['/home']" class="list-group-item">
                        Home
                        <span class="icon-home pull-right"></span>
                    </button>
                    <!-- <button type="button" class="list-group-item" *ngIf="caixa">
                        Abrir seu caixa
                        <span class="icon-unlocked pull-right"></span>
                    </button> -->
                    <button type="button" class="list-group-item" *ngIf="caixa">
                        Sangria
                        <span class="icon-redo2 pull-right"></span>
                    </button>
                    <button type="button" class="list-group-item" *ngIf="caixa">
                        Reforço
                        <span class="icon-undo2 pull-right"></span>
                    </button>
                    <!-- <button type="button" class="list-group-item" *ngIf="caixa">
                        Fechar seu caixa
                        <span class="icon-locked pull-right"></span>
                    </button> -->
                </span>

                <ng-template #dashoff>
                    <button type="button" class="list-group-item active" (click)="dash.toggle()">
                        <span class="icon-chevron-r"></span>
                    </button>
                </ng-template>
            </div>
        </div>

        <div class="col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
            <div class="row">
                <div class="col-sm-6">
                    <div class="jumbotron">
                        <div *ngIf="caixa.cai_pk > 0;else caixaFechado">
                            <form novalidate #ff="ngForm" (ngSubmit)="onFecharSubmit(ff)" *ngIf="finalizadoras">
                                <blockquote>
                                    Finalizadoras
                                    <!-- <small>Total: </small> -->
                                </blockquote>

                                <!-- 
                                <div class="form-group">
                                    <label for="1" class="control-label">Dinheiro apurado</label>
                                    <input #1="ngModel" type="number" class="form-control mousetrap text-right" id="1" name="1"
                                        [ngModel]="trocoInicial" [focus]="onFecharCaixaFocusEvent" onReturn>
                                </div>
                                -->
                                <div class="form-group" *ngFor="let fin of finalizadoras">
                                    <div *ngIf="fin.fin_pk != 1;else dinheiro">
                                        <label fclass="control-label">{{ fin.fin_c_finalizadora }}</label>
                                        <input type="number" [(ngModel)]="fin.fin_f_indicado" [name]="fin.fin_pk" class="form-control mousetrap text-right"
                                            onReturn>
                                    </div>
                                    <ng-template #dinheiro>
                                        <label fclass="control-label">{{ fin.fin_c_finalizadora }}</label>
                                        <input type="number" [(ngModel)]="fin.fin_f_indicado" [name]="fin.fin_pk" class="form-control mousetrap text-right"
                                            [select]="onFecharCaixaFocusEvent" onReturn>
                                    </ng-template>
                                </div>
                                <!-- {{finalizadoras | json}} -->

                                <button type="submit" class="btn btn-lg btn-block btn-danger">
                                    Fechar caixa
                                    <span class="icon-locked pull-right"></span>
                                </button>

                                <blockquote>
                                    <h4>Aberto em {{ caixa.cai_dt_criado_em | date }}</h4>
                                    <small>por {{ caixa.cai_c_ope_abertura }}</small>
                                </blockquote>
                            </form>
                        </div>

                        <ng-template #caixaFechado>
                            <form novalidate #fa="ngForm" (ngSubmit)="onAbrirSubmit(fa)">
                                <!-- saldoInicial -->
                                <div class="form-group">
                                    <label for="saldoInicial" class="control-label">Troco inicial</label>
                                    <input #saldoInicial="ngModel" type="text" decimal class="form-control mousetrap text-right"
                                        id="saldoInicial" name="saldoInicial" [ngModel]="trocoInicial" [select]="onAbrirCaixaFocusEvent"
                                        onReturn>
                                </div>

                                <button type="submit" class="btn btn-lg btn-block btn-success">
                                    Abrir caixa
                                    <span class="icon-unlocked pull-right"></span>
                                </button>
                            </form>
                        </ng-template>
                    </div>
                </div>

                <div class="col-sm-6">
                    <pdv-pendencias-turno></pdv-pendencias-turno>
                </div>
            </div>
        </div>
    </div>
</div>