<div *ngIf="config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Mesas</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            Mesas
                            <span class="icon-table pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">

                <div class="row">
                    <div class="col-sm-6">

                    </div>

                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>Emissão de cupons</blockquote>

                            <!-- cnf_e_via_prod_mes -->
                            <div class="form-group">
                                <label for="cnf_e_via_prod_mes" class="control-label">No lançamento ( via produção )</label>
                                <select #cnf_e_via_prod_mes="ngModel" class="form-control mousetrap" id="cnf_e_via_prod_mes" name="cnf_e_via_prod_mes" [(ngModel)]="config.cnf_e_via_prod_mes"
                                    onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>

                            <!-- cnf_e_via_cai_mes -->
                            <div class="form-group">
                                <label for="cnf_e_via_cai_mes" class="control-label">No fechamento ( via caixa )</label>
                                <select #cnf_e_via_cai_mes="ngModel" class="form-control mousetrap" id="cnf_e_via_cai_mes" name="cnf_e_via_cai_mes" [(ngModel)]="config.cnf_e_via_cai_mes"
                                    onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="well">
                            <blockquote>
                                Intervalo de mesas&nbsp;
                                <span class="icon-question-coin" tooltip='Substituídos pelos correspondentes em TERMINAIS.'
                                    placement="top"></span>
                            </blockquote>

                            <!-- cnf_i_mes_inicial -->
                            <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_i_mes_inicial, 'inicio'), 'has-success': fv.erro(cnf_i_mes_inicial, 'inicio') == ''}">
                                <label for="cnf_i_mes_inicial" class="control-label">Mesa inicial</label>
                                <input #cnf_i_mes_inicial="ngModel" type="number" class="form-control mousetrap text-right" id="cnf_i_mes_inicial" name="cnf_i_mes_inicial"
                                    [ngModel]="config.cnf_i_mes_inicial" [select]="onConfigMesasFocusEvent" required [min]="1"
                                    onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(cnf_i_mes_inicial, 'inicio')" [is-valid]="fv.erro(cnf_i_mes_inicial, 'inicio') == ''"
                                    [msg]="fv.erro(cnf_i_mes_inicial, 'inicio')"></hyp-form-control-error>
                            </div>

                            <!-- cnf_i_mes_final -->
                            <div class="form-group" [ngClass]="{'has-error': fv.erro(cnf_i_mes_final, 'final'), 'has-success': fv.erro(cnf_i_mes_final, 'final') == ''}">
                                <label for="cnf_i_mes_final" class="control-label">Mesa final</label>
                                <input #cnf_i_mes_final="ngModel" type="number" class="form-control mousetrap text-right" id="cnf_i_mes_final" name="cnf_i_mes_final"
                                    [ngModel]="config.cnf_i_mes_final" required [min]="1" onReturn>
                                <hyp-form-control-error [is-error]="fv.erro(cnf_i_mes_final, 'final')" [is-valid]="fv.erro(cnf_i_mes_final, 'final') == ''"
                                    [msg]="fv.erro(cnf_i_mes_final, 'final')"></hyp-form-control-error>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
        </div>
    </form>
</div>