@import '../../../../../../assets/styles/_config';
.modal-header {
    background-color: $bkcolor;
    color: $fgcolor;
}

.modal-header h4 {
    display: inline;
}

.modal-header .badge {
    background-color: white;
    color: black;
}

.modal-header button.close {
    color: white;
    opacity: 0.7;
}

textarea {
    font-family: "Courier New", Courier, monospace;
}

.modal-footer button {
    width: 150px;
}