<!-- {{ config | json }} -->
<div *ngIf="config">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Delivery</li>
    </ol>

    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-2 hidden-xs" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">
                <div class="list-group sidebar">
                    <span *ngIf="dash.status;else dashoff">
                        <button type="button" class="list-group-item active">
                            Movimento
                            <span class="icon-time pull-right"></span>
                        </button>
                        <button type="button" class="list-group-item" (click)="dash.toggle()">
                            Reduzir [&nbsp;{{ config.cnf_c_hotkey_dashboard }}&nbsp;]
                            <span class="icon-chevron-l pull-right"></span>
                        </button>
                        <button type="button" [routerLink]="['/home']" class="list-group-item">
                            Home
                            <span class="icon-home pull-right"></span>
                        </button>
                        <button type="submit" *ngIf="f.valid" class="list-group-item">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </span>

                    <ng-template #dashoff>
                        <button type="button" class="list-group-item active" (click)="dash.toggle()">
                            <span class="icon-chevron-r"></span>
                        </button>
                    </ng-template>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10" [ngClass]="{ dashon: dash.status, dashoff: !dash.status }">

                <div class="row">
                    <div class="col-sm-8">
                        <blockquote>
                            Fechamentos de turnos
                            <small>Emissão de cupons</small>
                        </blockquote>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="well">
                                    <blockquote>Diversos</blockquote>

                                    <!-- cnf_e_via_tur_fechamentos -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_fechamentos" class="control-label">Fechamento</label>
                                        <select #cnf_e_via_tur_fechamentos="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_fechamentos" name="cnf_e_via_tur_fechamentos"
                                            [(ngModel)]="config.cnf_e_via_tur_fechamentos" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_cancelamentos -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_cancelamentos" class="control-label">Cancelamentos</label>
                                        <select #cnf_e_via_tur_cancelamentos="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_cancelamentos" name="cnf_e_via_tur_cancelamentos"
                                            [(ngModel)]="config.cnf_e_via_tur_cancelamentos" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_ops_cx -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_ops_cx" class="control-label">Operações de caixa</label>
                                        <select #cnf_e_via_tur_ops_cx="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_ops_cx" name="cnf_e_via_tur_ops_cx"
                                            [(ngModel)]="config.cnf_e_via_tur_ops_cx" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_reposicao -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_reposicao" class="control-label">Reposição</label>
                                        <select #cnf_e_via_tur_reposicao="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_reposicao" name="cnf_e_via_tur_reposicao"
                                            [(ngModel)]="config.cnf_e_via_tur_reposicao" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_vendas -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_vendas" class="control-label">Vendas</label>
                                        <select #cnf_e_via_tur_vendas="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_vendas" name="cnf_e_via_tur_vendas"
                                            [(ngModel)]="config.cnf_e_via_tur_vendas" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_participacoes -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_participacoes" class="control-label">Participações</label>
                                        <select #cnf_e_via_tur_participacoes="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_participacoes" name="cnf_e_via_tur_participacoes"
                                            [(ngModel)]="config.cnf_e_via_tur_participacoes" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="well">
                                    <blockquote>Relatórios por tipos</blockquote>

                                    <!-- cnf_e_via_tur_comandas -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_comandas" class="control-label">Comandas</label>
                                        <select #cnf_e_via_tur_comandas="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_comandas" name="cnf_e_via_tur_comandas"
                                            [(ngModel)]="config.cnf_e_via_tur_comandas" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_mesas -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_mesas" class="control-label">Mesas</label>
                                        <select #cnf_e_via_tur_mesas="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_mesas" name="cnf_e_via_tur_mesas"
                                            [(ngModel)]="config.cnf_e_via_tur_mesas" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_senhas -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_senhas" class="control-label">Senhas</label>
                                        <select #cnf_e_via_tur_senhas="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_senhas" name="cnf_e_via_tur_senhas"
                                            [(ngModel)]="config.cnf_e_via_tur_senhas" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_balcoes -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_balcoes" class="control-label">Pedidos balcão</label>
                                        <select #cnf_e_via_tur_balcoes="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_balcoes" name="cnf_e_via_tur_balcoes"
                                            [(ngModel)]="config.cnf_e_via_tur_balcoes" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>

                                    <!-- cnf_e_via_tur_deliveries -->
                                    <div class="form-group">
                                        <label for="cnf_e_via_tur_deliveries" class="control-label">Pedidos delivery</label>
                                        <select #cnf_e_via_tur_deliveries="ngModel" class="form-control mousetrap" id="cnf_e_via_tur_deliveries" name="cnf_e_via_tur_deliveries"
                                            [(ngModel)]="config.cnf_e_via_tur_deliveries" onReturn>
                                            <option value="N">Não gerar cupom</option>
                                            <option value="I">Imprimir cupom</option>
                                            <option value="G">Gravar cupom</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <blockquote>
                            Fechamentos de caixas
                            <small>Emissão de cupons</small>
                        </blockquote>

                        <div class="well">

                            <!-- cnf_e_via_cai_fechamentos -->
                            <div class="form-group">
                                <label for="cnf_e_via_cai_fechamentos" class="control-label">Fechamentos</label>
                                <select #cnf_e_via_cai_fechamentos="ngModel" class="form-control mousetrap" id="cnf_e_via_cai_fechamentos" name="cnf_e_via_cai_fechamentos"
                                    [(ngModel)]="config.cnf_e_via_cai_fechamentos" onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>

                            <!-- cnf_e_via_cai_cancelamentos -->
                            <div class="form-group">
                                <label for="cnf_e_via_cai_cancelamentos" class="control-label">Cancelamentos</label>
                                <select #cnf_e_via_cai_cancelamentos="ngModel" class="form-control mousetrap" id="cnf_e_via_cai_cancelamentos" name="cnf_e_via_cai_cancelamentos"
                                    [(ngModel)]="config.cnf_e_via_cai_cancelamentos" onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>

                            <!-- cnf_e_via_cai_ops_cx -->
                            <div class="form-group">
                                <label for="cnf_e_via_cai_ops_cx" class="control-label">Operações de caixa</label>
                                <select #cnf_e_via_cai_ops_cx="ngModel" class="form-control mousetrap" id="cnf_e_via_cai_ops_cx" name="cnf_e_via_cai_ops_cx"
                                    [(ngModel)]="config.cnf_e_via_cai_ops_cx" onReturn>
                                    <option value="N">Não gerar cupom</option>
                                    <option value="I">Imprimir cupom</option>
                                    <option value="G">Gravar cupom</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                            Salvar
                            <span class="icon-check pull-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
</div>