// general
$bkcolor: OrangeRed; // #000
$bkhcolor: orange; // #444
$fgcolor: #fff;
$fghcolor: yellow;
// divider
$div-bkcolor: DarkSeaGreen;
$div-color: White;
$div-border-color: MediumSeaGreen;
$div-text-shadow-color: MediumSeaGreen;
$header_height: 60px;
$footer_height: 60px;
