<div *ngIf="info && info.comandas">
    <div *ngFor="let comanda of info.comandas">
        <blockquote>
            <p>
                Comanda {{ comanda.comanda.com_i_nro }}
                <!-- <span class="badge">{{ comanda.itens.length }}</span> -->
                <span class="pull-right" *ngIf="comanda && comanda.comanda && comanda.comanda.com_i_nro_mesa > 0">Mesa {{
                    comanda.comanda.com_i_nro_mesa }}</span>
                <small>{{ comanda.itens.length }} ite{{ comanda.itens.length > 1 ? 'ns' : 'm' }}</small>
            </p>
        </blockquote>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th class="text-right">Qtde</th>
                    <th class="text-right">Unit.</th>
                    <th class="text-right">Valor</th>
                    <th class="text-right" *ngIf="multi"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item of comanda.itens">
                    <td class="produto">
                        {{ item.itl_c_produto }}
                        <div *ngIf="item.itl_m_obs">
                            <small> Obs: {{ item.itl_m_obs }}</small>
                        </div>
                    </td>

                    <td class="text-right qtde">
                        {{ item.itl_f_qtde | number:'1.0-3' }}x
                    </td>

                    <td class="text-right">
                        {{ item.itl_f_preco_venda | number:'1.2-2' }}
                    </td>

                    <td class="text-right">
                        <strong>{{ item.itl_f_consumo | number:'1.2-2' }}</strong>
                    </td>

                    <td *ngIf="multi">
                        <div class="text-right">
                            <button class="btn btn-danger" type="button" (click)="onItemCancelClick(item)" tooltip="Cancelar"
                                placememt="left">
                                <span class="icon-trash"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="info-txt text-center" *ngIf="comanda.itens && comanda.itens.length == 0">
            Nenhum produto.
        </div>
    </div>
</div>