// general
$bkcolor: #1E90FF; // #000
$bkhcolor: #1E70FF; // #444
$fgcolor: #fff;
$fghcolor: yellow;
// divider
$div-bkcolor: DarkSeaGreen;
$div-color: White;
$div-border-color: MediumSeaGreen;
$div-text-shadow-color: MediumSeaGreen;
$header_height: 60px;
$footer_height: 60px;
