@import '_config.scss';

.navbar-inverse {
    background-color: $bkcolor;
}

.navbar-inverse .navbar-nav .dropdown-menu a span {
    color: silver;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: $fgcolor;
    font-size: 150%;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: $bkhcolor;
    color: $fghcolor;
}

.navbar-brand img {
    height: 32px;
}

.navbar ul li a {
    cursor: pointer;
}

.container .text-muted {
    margin: 20px 0;
}