<!-- <ul class="nav nav-tabs" *ngIf="operador">
    <li role="presentation" class="disabled">
        <a>Balcão</a>
    </li>
    <li role="presentation" routerLinkActive="active" *ngIf="operador.actions.act_lcto_balcao">
        <a [routerLink]="['/balcao/lcto']">
            <span class="icon-cart"></span>&nbsp;Lcto
        </a>
    </li>
</ul>  -->

<router-outlet></router-outlet>