<div *ngIf="debitos && creditos && outras && turno;else offline">
    <ol class="breadcrumb">
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li class="active">Config</li>
        <li class="active">Finalizadoras</li>
    </ol>

    <div class="padding" *ngIf="turno.tur_pk > 0;else turnoFechado">
        <!-- <div class="alert alert-danger" role="alert">
            Finalizadoras não podem ser modificadas com turno aberto.
        </div> -->
        <blockquote>
            <h3>Finalizadoras não podem ser modificadas com turno aberto.</h3>
            <small>Finalizadoras em uso.</small>
        </blockquote>
        <hyp-finalizadoras-thumbs></hyp-finalizadoras-thumbs>
        <!-- (onSelected)="onFinalizadoraSel(null)" -->
    </div>

    <ng-template #turnoFechado>
        <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
            <h5>
                <div>Selecione as formas de pgto aceitas</div>
                <!-- <small>
                    <strong>Obs:</strong> As atualizações só terão efeito nas próximas aberturas de caixa.
                </small> -->
            </h5>

            <blockquote>Débitos</blockquote>

            <div class="row padding">
                <div class="checkbox" *ngFor="let debito of debitos; let i = index">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" [class.selected]="debito.fpg_b_sel">
                        <img [src]="imgGet(debito.fpg_c_img)" class="img-thumbnail">
                        <br/>
                        <label>
                            <input type="checkbox" name="debitos{{ i }}" [(ngModel)]="debito.fpg_b_sel" [disabled]="debito.fpg_b_readonly"> {{ debito.fpg_c_legenda }}
                        </label>
                    </div>
                </div>
            </div>

            <blockquote>Créditos</blockquote>

            <div class="row padding">
                <div class="checkbox" *ngFor="let credito of creditos; let i = index">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" [class.selected]="credito.fpg_b_sel">
                        <img [src]="imgGet(credito.fpg_c_img)" class="img-thumbnail">
                        <br/>
                        <label>
                            <input type="checkbox" name="creditos{{ i }}" [(ngModel)]="credito.fpg_b_sel" [disabled]="credito.fpg_b_readonly"> {{ credito.fpg_c_legenda }}
                        </label>
                    </div>
                </div>
            </div>

            <blockquote>Outras</blockquote>

            <div class="row padding">
                <div class="checkbox" *ngFor="let outra of outras; let i = index">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" [class.selected]="outra.fpg_b_sel">
                        <img [src]="imgGet(outra.fpg_c_img)" class="img-thumbnail">
                        <br/>
                        <label>
                            <input type="checkbox" name="outras{{ i }}" [(ngModel)]="outra.fpg_b_sel" [disabled]="outra.fpg_b_readonly"> {{ outra.fpg_c_legenda }}
                        </label>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <button type="submit" class="btn btn-success btn-block" [disabled]="f.invalid">
                        Confirmar
                        <span class="icon-check pull-right"></span>
                    </button>
                </div>
            </div>
        </form>
        <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
    </ng-template>
</div>
<ng-template #offline>
    <div class="row padding">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="jumbotron">
                <blockquote class="text-center">
                    <span class="icon-offline fa-5x"></span>
                    <h2>Erro lendo formas de pagamento.</h2>
                </blockquote>
            </div>
        </div>
    </div>
</ng-template>