.col-xs-6,
.col-sm-4,
.col-md-3,
.col-lg-2 {
    height: 90px;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid whitesmoke;
}

.readonly {
    color: silver;
    cursor: default;
}

.selected {
    font-weight: bold;
    background-color: beige;
    border: 1px solid silver;
    border-radius: 3px;
}

img {
    height: 48px;
    margin-right: 0.5rem;
}

.readonly img {
    opacity: 0.5;
}

h5 {
    color: silver;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.checkbox label {
    margin-top: 10px;
}

