<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Relatórios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Por período</ion-label>
    </ion-list-header>
    
    <ion-item [routerDirection]="'root'" [routerLink]="['/turnos']" class="menu-item">
      <ion-label>
        <span class="icon-clock-o"></span>
        Turnos
      </ion-label>
    </ion-item>

    <ion-item [routerDirection]="'root'" [routerLink]="['/vendas-produto']" class="menu-item">
      <ion-label>
        <span class="icon-barcode"></span>
        Vendas por produto
      </ion-label>
    </ion-item>

    <ion-item [routerDirection]="'root'" [routerLink]="['/curva-abc']" class="menu-item">
      <ion-label>
        <span class="icon-abc"></span>
        Curva ABC
      </ion-label>
    </ion-item>

    <ion-item [routerDirection]="'root'" [routerLink]="['/reposicoes']" class="menu-item">
      <ion-label>
        <span class="icon-undo"></span>
        Reposições
      </ion-label>
    </ion-item>

    <ion-item [routerDirection]="'root'" [routerLink]="['/cancelamentos']" class="menu-item">
      <ion-label>
        <span class="icon-cancel"></span>
        Cancelamentos
      </ion-label>
    </ion-item>

    <ion-item [routerDirection]="'root'" [routerLink]="['/participacoes']" class="menu-item">
      <ion-label>
        <span class="icon-percent"></span>
        Participações
      </ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Por produto</ion-label>
    </ion-list-header>

    <ion-item [routerDirection]="'root'" [routerLink]="['/mov-estoque-produto']" class="menu-item">
      <ion-label>
        <span class="icon-move"></span>
        Movimento estoque
      </ion-label>
      <!-- <span text-end *ngIf="p.subtitle">
        <small>{{ p.subtitle }}</small>
      </span> -->
    </ion-item>
  </ion-list>
</ion-content>