<!-- Fixed navbar -->
<!-- {{ loja | json }} -->
<!-- operador.actions: {{ operador.actions | json }} -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" *ngIf="loja">
                <span class="icon-list thumb" *ngIf="loja.loj_b_mod_comandas" tooltip="Comandas" placement="bottom"></span>
                <span class="icon-table thumb" *ngIf="loja.loj_b_mod_mesas" tooltip="Mesas" placement="bottom"></span>
                <span class="icon-delivery thumb" *ngIf="loja.loj_b_mod_delivery" tooltip="Delivery" placement="bottom"></span>
                <span class="icon-hashtag thumb" *ngIf="loja.loj_b_mod_senhas" tooltip="Senhas" placement="bottom"></span>
                <span class="icon-cart thumb" *ngIf="loja.loj_b_mod_balcao" tooltip="Balcão" placement="bottom"></span>
                Retag
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse" *ngIf="operador">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active">
                    <a [routerLink]="['/home']">
                        <span class="icon-home" tooltip="Início" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="operador.actions.grp_cadastros">
                    <a (click)="onCadastrosHomeClick()">
                        <span class="icon-edit" tooltip="Cadastros" placement="bottom"></span>
                    </a>
                </li>

                <li routerLinkActive="active" *ngIf="operador.actions.grp_estoque">
                    <a (click)="onEstoqueHomeClick()">
                        <span class="icon-stock" tooltip="Estoque" placement="bottom"></span>
                    </a>
                </li>

                <!-- <li routerLinkActive="active" *ngIf="operador.actions.grp_relatorios">
                    <a [routerLink]="['/relatorios']">
                        <span class="icon-printer" tooltip="Relatórios" placement="bottom"></span>
                    </a>
                </li> -->

                <li routerLinkActive="active" *ngIf="operador.actions.grp_config">
                    <a [routerLink]="['/config']">
                        <span class="icon-gear" tooltip="Config" placement="bottom"></span>
                    </a>
                </li>

                <li *ngIf="modal">
                    <a>
                        <span class="icon-chat"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>