@import "../../../assets/styles/_config.scss";

.navbar-brand {
  color: white;
  font-size: 180%;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
}

.navbar-brand .thumb {
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  color: $bkcolor;
  margin-left: 5px;
}

/* img {
    display: inline;
    margin-top: -5px;
} */
.navbar-inverse {
  background-color: $bkcolor;
}

.navbar-inverse .navbar-nav .dropdown-menu a span {
  color: silver;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: $fgcolor;
  font-size: 150%;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: $bkhcolor;
  color: $fghcolor;
}

.navbar-brand img {
  height: 32px;
}

.container .text-muted {
  margin: 20px 0;
}

.navbar ul li a {
  cursor: pointer;
}

.icon-chat {
  color: yellow;
}
