<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Seleção de período
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="fg" (ngSubmit)="onFormSubmit()">
        <ion-list>
            <ion-item>
                <ion-label>Selecione período:</ion-label>
            </ion-item>

            <ion-item [ngClass]="{'input-error': !fg.controls.inicio.valid, 'input-ok': fg.controls.inicio.valid}">
                <ion-label>Início</ion-label>
                <ion-datetime formControlName="inicio" display-format="DD/MM/YYYY" cancelText="Cancelar" doneText="OK"></ion-datetime>
            </ion-item>

            <ion-item [ngClass]="{'input-error': !fg.controls.final.valid, 'input-ok': fg.controls.final.valid}">
                <ion-label>Final</ion-label>
                <ion-datetime formControlName="final" display-format="DD/MM/YYYY" cancelText="Cancelar" doneText="OK"></ion-datetime>
            </ion-item>
        </ion-list>
        <ion-button type="submit" expand="block" shape="round" fill="solid" [disabled]="!fg.valid">Confirma</ion-button>
    </form>

    <div text-center>
        <ion-label class="ou">ou</ion-label>
    </div>

    <ion-button expand="block" shape="round" fill="solid" (click)="onPreClick(7)">7 dias</ion-button>

    <div text-center>
        <ion-label class="ou">ou</ion-label>
    </div>

    <ion-button expand="block" shape="round" fill="solid" (click)="onPreClick(15)">15 dias</ion-button>

    <div text-center>
        <ion-label class="ou">ou</ion-label>
    </div>

    <ion-button expand="block" shape="round" fill="solid" (click)="onPreClick(30)">30 dias</ion-button>
</ion-content>