<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="modal-header text-center">
        <h4 class="modal-title">
            {{ caption }}
        </h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <textarea class="form-control mousetrap" rows="12" id="cupom" name="cupom" [(ngModel)]="preview" [focus]="onCupomModalFocusEvent"></textarea>
    </div>

    <div class="modal-footer">
        <span class="pull-left">
            <!-- idImpressora -->
            <div class="form-group" [ngClass]="{'has-error': idImp.invalid, 'has-success': idImp.valid}">
                <!-- <label for="idImpressora" class="control-label">Ponto de impressão</label> -->
                <select #idImp="ngModel" class="form-control mousetrap" id="idImpressora" name="idImpressora" [(ngModel)]="idImpressora" required onReturn>
                    <option value="">-- Selecione impressora --</option>
                    <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{ impressora.imp_c_impressora }}</option>
                </select>
                <!--  <hyp-form-control-error [is-error]="idImp.invalid" [is-valid]="idImp.valid"></hyp-form-control-error> -->
            </div>
        </span>
        <button type="submit" class="btn btn-default"[disabled]="f.invalid">
            Imprimir
            <span class="icon-print pull-right"></span>
        </button>
    </div>
    <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
</form>