<!-- {{ cupons | json }} -->
<div *ngIf="pag && cupons">
    <div class="modal-header text-center">
        <h4 class="modal-title">
            Cupons enviados
            <span class="badge">{{ pag.getTotal() }}</span>
        </h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
            <span>&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th (click)="pag.setSortingField('cup_dt_criado_em');">Hora&nbsp;
                                <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'cup_dt_criado_em'"></i>
                            </th>

                            <th class="default-cursor text-center">Ok</th>

                            <th (click)="pag.setSortingField('cup_c_impressora');">Impressora&nbsp;
                                <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'cup_c_impressora'"></i>
                            </th>

                            <th (click)="pag.setSortingField('cup_c_descricao');">Descrição&nbsp;
                                <i [ngClass]="{'icon-chevron-u': pag.getSortingDesc(), 'icon-chevron-d': !pag.getSortingDesc()}" [hidden]="pag.getSortingField() != 'cup_c_descricao'"></i>
                            </th>
                            <!-- <th class="default-cursor text-center">Tur</th>

                            <th class="default-cursor text-center">Cai</th>

                            <th class="default-cursor text-center">Lct</th>

                            <th class="default-cursor text-center">Ent</th> -->
                            <!-- 
                            <th class="default-cursor"></th>
                            -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let cup of cupons | paginate: pag.getPagInst()" [class.inativo]="!cup.cup_b_ok" (click)="onCupomClick(cup)" [class.sel]="cupom.cup_pk == cup.cup_pk">
                            <td>
                                <span class="icon-warning-coin unchecked" *ngIf="!cup.cup_b_checked" (click)="onCheckCupClick(cup)"></span>
                            </td>

                            <td>{{ cup.cup_dt_criado_em | date: 'hh:mm' }}</td>

                            <td class="text-center">
                                <div *ngIf="!cup.cup_b_gravado;else gravado">
                                    <div class="text-center" [ngClass]="{'icon-checked': cup.cup_b_ok, 'icon-unchecked': !cup.cup_b_ok}"></div>
                                </div>
                                <ng-template #gravado>
                                    <span class="icon-floppy" tooltip="Cupom gravado" placememt="top"></span>
                                </ng-template>
                            </td>

                            <td>
                                {{ cup.cup_c_impressora || '-' }}
                            </td>

                            <td>
                                {{ cup.cup_c_descricao || '-' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-right padding" *ngIf="cupons.length > 0">
                    <!-- <span class="pull-left warning hidden-xs">
                        <span class="fa fa-exclamation"></span>
                        &nbsp;=&nbsp;Novos erros de impressão.
                    </span> -->
                    <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
                </div>

                <div class="padding" *ngIf="cupons.length == 0">
                    <div class="alert alert-warning" role="alert">Nenhum cupom encontrado.</div>
                </div>
            </div>

            <div class="col-sm-6" *ngIf="preview">
                <div class="row">
                    <div class="col-xs-12">
                        <textarea class="form-control mousetrap" rows="16" id="cupom" name="cupom" [ngModel]="preview" readonly></textarea>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <!-- idImpressora -->
                                <div class="form-group" [ngClass]="{'has-error': idImp.invalid, 'has-success': idImp.valid}">
                                    <!-- <label for="idImpressora" class="control-label">Ponto de impressão</label> -->
                                    <select #idImp="ngModel" class="form-control" id="idImpressora" name="idImpressora" [(ngModel)]="idImpressora" required onReturn>
                                        <option value="">-- Selecione impressora --</option>
                                        <option *ngFor="let impressora of impressoras" [value]="impressora.imp_pk">{{ impressora.imp_c_impressora }}</option>
                                    </select>
                                    <!--  <hyp-form-control-error [is-error]="idImp.invalid" [is-valid]="idImp.valid"></hyp-form-control-error> -->
                                </div>
                            </div>

                            <div class="col-xs-6" *ngIf="idImpressora">
                                <button type="submit" class="btn btn-block btn-default" (click)="onImprimirClick()">
                                    Imprimir
                                    <span class="icon-printer pull-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
<div class="modal-footer">

</div> 
-->
</div>