/* 
#imgGaleriaSelModal {
    padding: 5px !important;
    margin: 0 !important;
}
*/
.thumbs {
    padding: 0;
    margin: 0;
    list-style: none;
}

.thumbs .aspect-ratio {
    width: 100%;
    padding-bottom: 65%;
    /*background:gold;*/
}

.thumbs li {
    float: left;
    width: 33.33%;
    background-color: white;
    border: 1px solid whitesmoke; // border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: 1px #ccc solid;
}

.thumbs li a {
    display: block;
    margin: 5px;
}

.thumbs li a img,
.show {
    display: block;
    width: 100%;
    height: auto; // border-radius: 6px;
}

.thumbs li a .caption {
    color: #a0a0a0;
    /*background-color: yellow;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 0 - 480px */

@media all and (max-width: 480px) {
    .thumbs li {
        width: 50%;
    }
}


/* 0 - 480px 
@media all and (min-width: 480px){  
.thumbs li { width: 25%; }     
}       
 
/* 481px - 768px 
@media only screen and (min-width: 768px) {     
.thumbs li { width: 33.33333333%; }   
}  
 
/* 769px - 1024px 
@media only screen and (min-width: 1024px) {     
.thumbs li { width: 33.33333333%; }   
}  
 
/* 1025px - 1280px 
@media only screen and (min-width: 1280px) {     
.thumbs li { width: 25%; } 
}  
 
/* 1281px - 1440 
@media only screen and (min-width: 1440px) {     
.thumbs li { width: 25%; } 
}  
 
/* 1441px - 1600px 
@media only screen and (min-width: 1600px) {     
.thumbs li { width: 20%; } 
}  
 
/* 1601px - 1920px 
@media only screen and (min-width: 1920px) {     
.thumbs li { width: 20%; } 
}  
*/