<!-- id: {{ id }} -->
<!-- itemDetalhe: {{ itemDetalhe | json }} -->
<!-- produtos: {{ produtos | json }} -->
<form novalidate #f="ngForm" novalidate (ngSubmit)="onSubmit(f)" *ngIf="itemDetalhe">
    <div class="row">
        <div class="col-sm-10">
            <!-- ide_c_item_detalhe -->
            <div class="form-group" [ngClass]="{ 'has-error': fv.erro(ide_c_item_detalhe, 'itemDetalhe'), 'has-success': fv.erro(ide_c_item_detalhe, 'itemDetalhe')==''}">
                <label for="ide_c_item_detalhe" class="control-label">Nome</label>
                <input #ide_c_item_detalhe="ngModel" type="text" class="form-control mousetrap" id="ide_c_item_detalhe" name="ide_c_item_detalhe" [ngModel]="itemDetalhe.ide_c_item_detalhe"
                    [focus]="onItensDetalhesEditModalFocus" required maxLength="45" onReturn>
                <hyp-form-control-error [is-error]="fv.erro(ide_c_item_detalhe, 'itemDetalhe')" [is-valid]="fv.erro(ide_c_item_detalhe, 'itemDetalhe')==''"
                    [msg]="fv.erro(ide_c_item_detalhe, 'itemDetalhe')"></hyp-form-control-error>
            </div>
        </div>

        <div class="col-sm-2">
            <!-- ide_b_ativo -->
            <div class="form-group">
                <label for="ide_b_ativo"></label>
                <div class="checkbox">
                    <label>
                        <input #ide_b_ativo="ngModel" type="checkbox" id="ide_b_ativo" name="ide_b_ativo" [ngModel]="itemDetalhe.ide_b_ativo" onReturn> Ativo
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <!-- ide_f_valor -->
            <div class="form-group">
                <label for="ide_f_valor" class="control-label">Valor</label>
                <input #ide_f_valor="ngModel" type="text" decimal class="form-control mousetrap text-right" id="ide_f_valor" name="ide_f_valor" [ngModel]="itemDetalhe.ide_f_valor"
                    onReturn>
            </div>
        </div>
    </div>

    <hr>

    <div class="row padding">
        <div class="col-sm-4">
            <button type="button" class="btn btn-block btn-default" (click)="onCancelarClick()">
                Cancelar
                <span class="icon-chevron-l pull-left"></span>
            </button>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <button type="submit" class="btn btn-block btn-success" [disabled]="f.invalid">
                Salvar
                <span class="icon-check pull-right"></span>
            </button>
        </div>
    </div>
    <!-- <hyp-form-debug [form]="f"></hyp-form-debug> -->
</form>