<!-- detalhes: {{ detalhes | json }} -->
<!-- <br> idDetalhe: {{ idDetalhe }} -->
<!-- 
<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <div id="gruProcura" class="input-group">
                <input type="text" class="form-control mousetrap" placeholder="Nome" [(ngModel)]="buffer" (keyup)="onPagChanges()">
                <span class="input-group-addon">
                    <span class="icon-search"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-block btn-info" (click)="onNovoClick()">
            Novo
            <span class="icon-plus pull-right"></span>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th class="default-cursor"></th>
                    <th (click)="onSortByClick('ide_c_item_detalhe');">Item de detalhe &nbsp;
                        <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'ide_c_item_detalhe'"></i>
                    </th>
                    <th (click)="onSortByClick('ide_f_valor');" class="text-right">Valor &nbsp;
                        <i [ngClass]="{'icon-chevron-u': pag.sorting.desc, 'icon-chevron-d': !pag.sorting.desc}" [hidden]="pag.sorting.field != 'ide_f_valor'"></i>
                    </th>
                    <th class="default-cursor"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let itemDetalhe of itensDetalhes | paginate: pagInst" [class.inativo]="!itemDetalhe.ide_b_ativo">
                    <td>
                        <div [ngClass]="{'ion-android-checkbox-outline': itemDetalhe.ide_b_ativo, 'ion-android-checkbox-outline-blank': !itemDetalhe.ide_b_ativo}"></div>
                    </td>

                    <td>{{ itemDetalhe.ide_c_item_detalhe }}</td>

                    <td class="text-right">{{ itemDetalhe.ide_f_valor | number:'1.2-2' }}</td>

                    <td>
                        <div *ngIf="itemDetalhe.ide_pk > 0">
                            <button type="button" class="btn btn-link pull-right" (click)="onDeleteClick(itemDetalhe)">
                                <i class="icon-trash"></i>
                            </button>
                            <button type="button" class="btn btn-link pull-right" (click)="onEditClick(itemDetalhe)">
                                <i class="icon-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="padding" *ngIf="itensDetalhes?.length == 0">
            <div class="alert alert-warning" role="alert">Nenhum item de detalhe encontrado.</div>
        </div>
    </div>
</div>

<div class="text-right padding">
    <pagination-controls class="navp" (pageChange)="pag.setCurrent($event)" previousLabel="" nextLabel=""></pagination-controls>
</div> 
-->