<!-- modalData: {{ modalData | json }} -->
<!-- <br>detalhe: {{ detalhe | json }} -->

<div class="modal-header text-center">
    <!-- <button type="button" class="close pull-left" (click)="onRefreshClick()">
        <span class="icon-refresh"></span>
    </button> -->
    <h4 class="modal-title">
        {{ modalData.caption }}
        <div class="badge" *ngIf="modalData.count > 0">{{ modalData.count }}</div>
    </h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body" *ngIf="detalhe">
    <!-- 
    <button (click)="pag='gra'">Grade</button>
    <button (click)="pag='edi'">Edit</button>
    pag: {{ pag }}
    -->
    <blockquote>
        {{ detalhe.det_c_detalhe }}
        <small>Detalhe</small>
    </blockquote>
    
    <div [ngSwitch]="modalData.pag">
        <div *ngSwitchCase="'edi'">
            <retag-item-detalhe-edit [idDetalhe]="idDetalhe" [id]="modalData.id" (onChange)="onPagChanged($event)"></retag-item-detalhe-edit>
        </div>
        <div *ngSwitchDefault>
            <retag-itens-detalhes-grade [idDetalhe]="idDetalhe" (onChange)="onPagChanged($event)"></retag-itens-detalhes-grade>
        </div>
    </div>
</div>
<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div> 
-->